- url = @ems.persisted? ? ems_clouds_path(@ems) : ems_clouds_path
%ems-edit-cloud-form{'new-record'                     => true,
                     'cloud-fields-url'               => "/#{controller_name}/ems_cloud_form_fields/",
                     'create-cloud-url'               => "#{url}",
                     'ems-common-form-id'             => "#{@ems.id}",
                     'ems-type-options'               => "#{@ems_types}",
                     'provider-regions'               => "#{@provider_regions.keys.to_json}",
                     'provider-regions-options'       => @provider_regions.to_json,
                     'api-version-options'            => "#{@openstack_api_versions}",
                     'nuage-api-version-options'      => "#{@nuage_api_versions}",
                     'ems-infra-provider-id-options'  => @openstack_infra_providers.sort_by { |name, _name| name },
                     'ems-zone-options'               => @server_zones.sort_by { |name, _name| name },
                     'openstack-security-protocols'   => @openstack_security_protocols,
                     'ampq-security-protocols'        => @amqp_security_protocols}

:javascript
  $(document).ready(function() {
    miq_bootstrap('ems-edit-cloud-form');
  })
