= render :partial => "layouts/flash_msg"
= form_tag('/ems_cloud/sync_users', :method => :post)
= hidden_field_tag('id', ems.id)
- unless ems.nil?
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Admin Role')
      .col-md-8
        = select_tag('admin_role',
            options_for_select(admin_roles.sort, selected_admin_role),
            :class  => "selectpicker")
        :javascript
          miqInitSelectPicker();
    .form-group
      %label.col-md-2.control-label
        = _('Member Role')
      .col-md-8
        = select_tag('member_role',
            options_for_select(member_roles.sort, selected_member_role),
            :class  => "selectpicker")
        :javascript
          miqInitSelectPicker();
    .form-group
      %label.col-md-2.control-label
        = _("Password")
      .col-md-8
        = password_field_tag("password",
                             selected_password,
                             :maxlength         => 50,
                             :class => "form-control")
    .form-group
      %label.col-md-2.control-label
        = _("Confirm Password")
      .col-md-8
        = password_field_tag("verify",
                             selected_verify,
                             :maxlength         => 50,
                             :class => "form-control")
  %table{:width => "100%"}
    %tr
      %td{:align => "right"}
        #buttons_on
          = button_tag(_("Sync"),
                       :name  => "sync",
                       :class => "btn btn-primary",
                       :alt   => t = _("Sync Users"),
                       :title => t,
                       :type  => "submit")
          = button_tag(_("Cancel"),
                       :name  => "cancel",
                       :class => "btn btn-default",
                       :alt   => t = _("Cancel"),
                       :title => t,
                       :type  => "submit")
