.row
  .col-md-12.list-view-container.list-view-compact
    .list-view-pf-view{"pf-list-view" => "",
         "config" => "vm.listConfig",
         "items" => "vm.alertsList",
         "menu-actions" => "vm.menuActions",
         "update-menu-action-for-item-fn" => "vm.updateMenuActionForItemFn",
         "custom-scope" => "vm"}
      .list-view-pf-left
        %span{:class=> "list-view-severity {{item.severityInfo.severityIconClass}}",
              "uib-tooltip" => "{{item.severityInfo.title}}",
              "tooltip-placement" => "bottom",
              "tooltip-popup-delay" => "1000"}
      .list-view-pf-body
        .row
          .col-md-3.col-sm-4.col-xs-6
            %div
              %a{"href" => "#", "ng-click" => "customScope.showHostPage(item, $event)"}
                %span.no-wrap{"uib-tooltip" => "{{item.hostName}}",
                              "tooltip-placement" => "bottom",
                              "tooltip-popup-delay" => "1000",
                              "ng-class" => "{'transparent': item.hostImg == item.objectTypeImg}"}
                  %i{:style => "color: #000",
                     :class => "{{item.hostImg}}"}
                  {{item.hostName}}
            %div
              %a{"href" => "#", "ng-click" => "customScope.showObjectPage(item, $event)"}
                %span.no-wrap{"uib-tooltip" => "{{item.objectName}}",
                              "tooltip-placement" => "bottom",
                              "tooltip-popup-delay" => "1000"}
                  %i{:style => "color: #000",
                     :class => "{{item.objectTypeImg}}"}
                  {{item.objectName}}
          .col-lg-3.col-lg-push-4.col-md-4.col-md-push-3.col-sm-3.col-sm-push-3.col-xs-6.container-fluid
            %div
              %span.no-wrap{"uib-tooltip" => "{{item.lastUpdate| date:'yyyy-MM-dd hh:mm:ss'}}",
                            "tooltip-placement" => "bottom",
                            "tooltip-popup-delay" => "1000"}
                %span.column-label
                  = _("Updated")
                {{item.lastUpdate| date:'yyyy-MM-dd hh:mm:ss'}}
            %div
              %span.no-wrap{"uib-tooltip" => "{{item.age}}",
                            "tooltip-placement" => "bottom",
                            "tooltip-popup-delay" => "1000"}
                %span.column-label
                  = _("Age")
                {{item.age}}
          .col-lg-4.col-lg-pull-3.col-md-3.col-md-pull-4.col-sm-3.col-sm-pull-3.col-xs-6.col
            %span.description-column{"uib-tooltip" => "{{item.description}}",
                          "tooltip-placement" => "bottom",
                          "tooltip-popup-delay" => "1000"}
              {{item.description}}
          .col-md-2.col-sm-2.col-xs-6.assignee-column
            %span.ack-icon.pficon.pficon-ok{"ng-class" => "{unacknowledged: !item.acknowledged}",
                                            "uib-tooltip" => "{{customScope.acknowledgedTooltip}}",
                                            "tooltip-placement" => "bottom",
                                            "tooltip-popup-delay" => "1000"}
            %span.assignee.no-wrap{"uib-tooltip" => "{{item.assignee_name}}",
                                   "tooltip-placement" => "bottom",
                                   "tooltip-popup-delay" => "1000"}
              {{item.assignee_name}}
            %span.comment-icon.fa.fa-comments-o{"ng-if" => "item.numComments > 0",
                                                "uib-tooltip" => "{{item.commentsTooltip}}",
                                                "tooltip-placement" => "bottom",
                                                "tooltip-popup-delay" => "1000"}
      %list-expanded-content
        .row
          .col-md-12
            %a{"ng-href" => '{{$parent.$parent.item.sopLink}}',
               "target" => "_blank",
               "ng-if" => "$parent.item.sopLink",
               :rel => 'noopener noreferrer'}
              = _("View SOP")
        .row
          .col-md-12
            %span.header
              = _("History")
          .col-md-12
            %table.table.table-striped.table-bordered.table-hover
              %colgroup
                %col.fixed-col
                %col.fixed-col
                %col.fixed-col
                %col.fixed-col
                %col.grow-col
              %thead
                %tr
                  %th
                    = _("Time")
                  %th
                    = _("Action")
                  %th
                    = _("User")
                  %th
                    = _("Offending %{type}") % {:type => "{{$parent.$parent.item.hostType.split('::').pop()}}"}
                  %th
                    = _("Note")
              %tbody
                %tr{"ng-repeat" => "state in $parent.item.alert_actions"}
                  %td
                    .no-wrap{"uib-tooltip" => "{{state.updated_at | date:'yyyy-MM-dd hh:mm:ss'}}",
                             "tooltip-placement" => "top",
                             "tooltip-popup-delay" => "1000"}
                      {{state.updated_at | date:'yyyy-MM-dd hh:mm:ss'}}
                  %td
                    .no-wrap{"uib-tooltip" => "{{state.action_type}}",
                             "tooltip-placement" => "top",
                             "tooltip-popup-delay" => "1000"}
                      {{state.action_type}}
                  %td
                    .no-wrap{"uib-tooltip" => "{{state.username}}",
                             "tooltip-placement" => "top",
                             "tooltip-popup-delay" => "1000"}
                      {{state.username}}
                  %td
                    %a{"ng-href" => '{{$parent.$parent.item.hostImg == $parent.$parent.item.objectTypeImg ? $parent.$parent.item.objectLink : $parent.$parent.item.hostLink}}'}
                      {{$parent.$parent.item.hostName}}
                  %td
                    .no-wrap{"uib-tooltip" => "{{state.comment}}",
                             "tooltip-placement" => "top",
                             "tooltip-popup-delay" => "1000"}
                      {{state.comment}}
