= render :partial => "layouts/flash_msg"

%h3
  = _('Changes')

= react('SetOwnershipForm', { :ownershipIds => @ownershipitems.collect(&:id).map(&:to_s) })

%hr
%h3
  = _('Affected Items')
- if @origin_ownership_items.count != @ownershipitems.count
  %strong
    = _('Note: Some items might be hidden due to the possibility of an ownership change')

- if @ownershipitems
  - @embedded = true
  - @quadicon_no_url = true
  - @gtl_type = settings(:views, :tagging)
  = render :partial => "layouts/gtl", :locals => {:no_flash_div => true}
