%form#form_div.form-horizontal{"name"          => "angularForm",
                               "ng-controller" => "retirementFormController as vm",
                               "miq-form"      => true,
                               "model"         => "vm.retirementInfo",
                               "model-copy"    => "vm.modelCopy",
                               "form-changed"  => true }
  %h3
    = _('Set/Remove Retirement Date')
  %tbody
    .form-group
      %label.col-md-3.control-label
        = _('Enter Retirement Date as')
      .col-md-4{"ng-init" => "formMode = 'date'"}
        = select_tag("formMode",
                     options_for_select(_("Specific Date and Time") => 'date', _("Time Delay from Now") => 'delay'),
                     "ng-model"  => "formMode",
                     "pf-select" => true)
    .form-group{"ng-if" => "formMode == 'date'"}
      %label.col-md-3.control-label
        = _('Retirement Date and Time')
      .col-md-4#retirement_date_div
        = datetimepicker_input_tag('retirement_date_datepicker', nil,
                                   'class'      => 'form-control',
                                   'ng-model'   => 'vm.retirementInfo.retirementDate',
                                   'start-date' => 'vm.datepickerStartDate')
    %datetime-delay-picker{'ng-if'      => "formMode == 'delay'",
                           'model'      => 'vm.retirementInfo.retirementDate',
                           'start-date' => 'vm.datepickerStartDate'}
    .form-group{"ng-if" => "formMode == 'delay'"}
      %label.col-md-3.control-label
        = _('Retirement Date and Time')
      .col-md-4#retirement_date_result_div
        %input.form-control#retirement_date{'readonly' => true, 'ng-model' => 'vm.retirementInfo.retirementDate'}
    .form-group
      %label.col-md-3.control-label
        = _('Retirement Warning')
      .col-md-8
        - select_options = [{:value => "", :label => _("None")},
                            {:value => 7,  :label => _("1 Week before retirement")},
                            {:value => 14, :label => _("2 Weeks before retirement")},
                            {:value => 30, :label => _("30 Days before retirement")}]
        = select_tag("retirementWarning",
                     "",
                     "ng-options"  => "item.value as item.label for item in #{select_options.to_json.gsub('"', '\'')}",
                     "ng-model"    => "vm.retirementInfo.retirementWarning",
                     "ng-disabled" => "!vm.retirementInfo.retirementDate",
                     "pf-select"   => true)
        :javascript
          miqInitSelectPicker();
  %div{"ng-if" => "formMode == 'date'"}
    = _('* Saving a blank date will remove all retirement dates')

  %hr
  %h3
    - if request.parameters[:controller] == "service"
      = n_("New setting will affect Service", "New setting will affect Services", @retireitems.length)
    - elsif request.parameters[:controller] == "orchestration_stack"
      = n_("New setting will affect Orchestration Stack", "New setting will affect Orchestration Stacks",
           @retireitems.length)
    - elsif %w(vm_cloud vm_infra).include?(request.parameters[:controller])
      = n_("New setting will affect VM", "New setting will affect VMs", @retireitems.length)

  %table{:width => "100%"}
    %tr
      %td#buttons_on{:align => "right"}
        = button_tag(_("Save"),
                     :class        => "btn btn-primary",
                     :alt          => _("Save"),
                     "ng-click"    => "vm.saveClicked()",
                     "ng-disabled" => "angularForm.$pristine || angularForm.$invalid",
                     "ng-class"    => "{ disabled: angularForm.$pristine || angularForm.$invalid}")
        = button_tag(_("Cancel"),
                     :class     => "btn btn-default",
                     :alt          => _("Cancel"),
                     "ng-click" => "vm.cancelClicked()")
- if @retireitems
  - @embedded = true
  - @quadicon_no_url = true
  = render :partial => "layouts/gtl"

:javascript
  ManageIQ.angular.app.value('objectIds', #{ @retireitems.collect(&:id) });
  miq_bootstrap('#form_div');
