= react "RetirementForm", :retirementID => @retireitems.collect(&:id).map(&:to_s).to_json
%retirement-form{'object-ids' => @retireitems.collect(&:id).map(&:to_s).to_json}

%h3
  - if request.parameters[:controller] == "service"
    = n_("New setting will affect Service", "New setting will affect Services", @retireitems.length)
  - elsif request.parameters[:controller] == "orchestration_stack"
    = n_("New setting will affect Orchestration Stack", "New setting will affect Orchestration Stacks",
         @retireitems.length)
  - elsif %w(vm_cloud vm_infra).include?(request.parameters[:controller])
    = n_("New setting will affect VM", "New setting will affect VMs", @retireitems.length)

- if @retireitems
  - @embedded = true
  - @quadicon_no_url = true
  = render :partial => "layouts/gtl", :locals => {:no_flash_div => true}

:javascript
  miq_bootstrap('retirement-form');
