- content_for :search do
  = render(:partial => "layouts/x_adv_searchbox", :locals => {:nameonly => x_active_tree == :configuration_manager_providers_tree})
  = render(:partial => 'layouts/quick_search')

-# These are the initial divs that will go inside center_cell_div
- if @inventory_group_record
  #main_div
    - @pages = nil if @sb[:active_tab] == 'summary'
    = render(:partial => 'automation_manager/inventory_group')

- elsif @configured_system_record
  #main_div
    = render :partial => "layouts/textual_groups_generic"
- elsif @configuration_script_record
  #main_div
    = render(:partial => 'automation_manager/configuration_script', :locals => {:controller => "automation_manager"})
- else
  #main_div
    = render(:partial => 'layouts/x_gtl')

