- content_for :search do
  = render(:partial => "layouts/x_adv_searchbox", :locals => {:nameonly => controller.providers_active_tree?})
  = render(:partial => 'layouts/quick_search')

= render(:partial => 'shared/provider_paused', :locals => {:record => @record})

-# These are the initial divs that will go inside center_cell_div
- if @record.kind_of?(ManageIQ::Providers::AutomationManager::InventoryGroup)
  #main_div
    - @pages = nil if @sb[:active_tab] == 'summary'
    = render(:partial => 'automation_manager/inventory_group')

- elsif @configured_system_record
  #main_div
    = render :partial => "layouts/textual_groups_generic"
- elsif template_record?
  #main_div
    = render(:partial => 'automation_manager/configuration_script', :locals => {:controller => "automation_manager"})
- else
  #main_div
    - if ManageIQ::Providers::AnsibleTower::AutomationManager.any?
      = render(:partial => 'layouts/x_gtl')
    - else
      = render :partial => 'layouts/empty',
               :locals => {:add_message => _("Add a new Ansible Tower Provider"),
                           :documentation => ::Settings.docs.ansible_provider}
