/ begin: app/views/dashboard/_tl_detail.html.haml
#tl_div
  %h1
    = @title
  = yield
  = render :partial => "layouts/flash_msg"
  - if @report && @report.table && @report.table.data.blank?
  - elsif @report
    #chart_placeholder{:style => 'position: relative'}
    = render(:partial => 'layouts/timeline',
        :locals         => {:tl_json          =>  @tl_json,
                            :data_action      => "timeline_data"})
    - if @report.filter_summary
      = @report.filter_summary
  - else
    = render :partial => 'layouts/info_msg', :locals => {:message => _("Choose a Timeline from the menus on the left.")}
/ end: app/views/dashboard/_tl_detail.html.haml
