-# Parameters:
-# widget MiqWidget object
- button_id = "btn_#{presenter.widget.id}"
%div{:id => "w_#{presenter.widget.id}"}
  .card-pf.card-pf-view
    .card-pf-body
      .card-pf-heading-kebab
        %dropdown-menu{:id => button_id, "buttons-data" => presenter.widget_buttons}
        %h2.card-pf-title.sortable-handle{:style => "cursor:move"}
          = h(presenter.widget.title)

    - if presenter.widget.content_type == "menu"
      %widget-menu{:id => presenter.widget.id}
    - elsif presenter.widget.contents_for_user(current_user).blank?
      = render :partial => 'widget_blank', :locals => {:widget => presenter.widget}
    - elsif presenter.widget.content_type == "report"
      %widget-report{:id => presenter.widget.id}
    - elsif presenter.widget.content_type == "chart"
      %widget-chart{:id => presenter.widget.id}
    - elsif presenter.widget.content_type == "rss"
      %widget-rss{:id => presenter.widget.id}
    - unless presenter.widget.content_type == "menu"
      = render :partial => 'widget_footer', :locals => {:widget => presenter.widget}

:javascript
  miq_bootstrap("#w_#{presenter.widget.id}");
