%h3
  = _('Firewall Rules')
  %table.table.table-bordered
    %thead
      %tr
        %th
          = _('Direction')
        %th
          = _('Network Protocol')
        %th
          = _('Host Protocol')
        %th
          = _('Remote Security Group (name - ref)')
        %th
          = _('IP Range')
        %th
          = _('Port')
        %th
          = _('End Port')
        %th
          = _('Action')
    %tbody
      %tr{"ng-repeat" => "fw_rule in vm.securityGroupModel.firewall_rules",
          "ng-form"   => "rowForm",
          "ng-if"     => "!fw_rule.deleted"}
        %td
          %select{"name"                        => "direction",
                  "ng-model"                    => "vm.securityGroupModel.firewall_rules[$index].direction",
                  "ng-options"                  => "direction for direction in vm.directions",
                  'miq-select'                  => true,
                  "required"                    => ""}
        %td
          %select{"name"                        => "network_protocol",
                  "ng-model"                    => "vm.securityGroupModel.firewall_rules[$index].network_protocol",
                  "ng-options"                  => "network_protocol for network_protocol in vm.networkProtocols",
                  'miq-select'                  => true}
            %option{"value" => ""}
              = "<#{_('Choose')}>"
        %td
          %select{"name"                        => "host_protocol",
                  "ng-model"                    => "vm.securityGroupModel.firewall_rules[$index].host_protocol",
                  "ng-options"                  => "host_protocol for host_protocol in vm.hostProtocols",
                  'miq-select'                  => true}
            %option{"value" => ""}
              = "<#{_('Choose')}>"
        %td
          %select{"name"                        => "source_security_group_id",
                  "ng-model"                    => "vm.securityGroupModel.firewall_rules[$index].source_security_group_id",
                  "ng-options"                  => "sg.id as sg.name + ' - ' + sg.ems_ref for sg in vm.security_groups_list",
                  "ng-change"                   => "vm.securityGroupModel.firewall_rules[$index].source_ip_range = null",
                  'miq-select'                  => true}
            %option{"value" => ""}
              = "<#{_('Choose')}>"
        %td
          %input.form-control{:type          => "text",
                              "name"         => "source_ip_range",
                              "data-width"   => "auto",
                              "ng-model"     => "vm.securityGroupModel.firewall_rules[$index].source_ip_range",
                              "ng-change"    => "vm.securityGroupModel.firewall_rules[$index].source_security_group_id = null"}
        %td
          %input.form-control{:type          => "text",
                              "name"         => "port",
                              "ng-model"     => "vm.securityGroupModel.firewall_rules[$index].port"}
        %td
          %input.form-control{:type          => "text",
                              "name"         => "end_port",
                              "ng-model"     => "vm.securityGroupModel.firewall_rules[$index].end_port"}
        %td
          %miq-button{"name"     => t = _("Delete"),
                      :title     => t,
                      :alt       => t,
                      :enabled   => 'true',
                      'on-click' => "vm.deleteFirewallRuleClicked($index)"}

  %miq-button{"name"     => t = _("Add a Firewall Rule"),
              :title     => t,
              :alt       => t,
              :enabled   => 'true',
              'on-click' => "vm.addFirewallRuleClicked()"}
