%form#form_div{:name           => "angularForm",
   "ng-controller" => "securityGroupFormController as vm",
   "miq-form"      => true,
   "model"         => "vm.securityGroupModel",
   "model-copy"    => "vm.modelCopy",
   "ng-cloak"      => "",
   "ng-show"       => "vm.afterGet"}

  = render :partial => "layouts/flash_msg"
  = render :partial => "common_new_edit"

  %h3
    = _('Placement')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Cloud Tenant')
      .col-md-8
        %input.form-control{:type          => "text",
                            :name          => "cloud_tenant_name",
                            "ng-model"     => "vm.securityGroupModel.cloud_tenant_name",
                            "ng-maxlength" => 128,
                            :readonly      => "true"}

  = render :partial => "layouts/angular/generic_form_buttons"

:javascript
  ManageIQ.angular.app.value('securityGroupFormId', '#{@security_group.id}');
  miq_bootstrap('#form_div');
