%form#form_div{:name           => "angularForm",
   "form-changed"  => true,
   "miq-form"      => true,
   "model"         => "vm.securityGroupModel",
   "model-copy"    => "vm.modelCopy",
   "ng-cloak"      => "",
   "ng-controller" => "securityGroupFormController as vm",
   "ng-show"       => "vm.afterGet"}

  = render :partial => "layouts/flash_msg"

  %h3
    = _('Network Management Provider')
  .form-horizontal
    .form-group{"ng-class" => "{'has-error': angularForm.ems_id.$invalid}"}
      %label.col-md-2.control-label
        = _('Network Manager')
      .col-md-8
        %select{'id'         => 'ems_id',
                'name'       => 'ems_id',
                'ng-change'  => "vm.filterNetworkManagerChanged(vm.securityGroupModel.ems_id)",
                'ng-model'   => "vm.securityGroupModel.ems_id",
                'ng-options' => 'ems.id as ems.name for ems in vm.ems',
                'miq-select' => true,
                "selectpicker-for-select-tag" => "",
                'required'   => ''}
          %option{:value => ""}
            = "<#{_('Choose')}>"
        %span.help-block{"ng-show" => "angularForm.ems_id.$error.required"}
          = _("Required")

  = render :partial => "common_new_edit"


  %div{"ng-if" => "vm.securityGroupModel.ems_id"}

    %h3
      = _('Placement')
    .form-horizontal
      .form-group{"ng-class" => "{'has-error': angularForm.cloud_tenant_id.$invalid}"}
        %label.col-md-2.control-label
          = _('Cloud Tenant')
        .col-md-8
          %select{:name                         => "cloud_tenant_id",
                  "ng-model"                    => "vm.securityGroupModel.cloud_tenant_id",
                  "ng-options"                  => "tenant.id as tenant.name for tenant in vm.available_tenants",
                  "miq-select"                  => true,
                  "required"                    => "",
                  "selectpicker-for-select-tag" => ""}
            %option{"value" => ""}
              = "<#{_('Choose')}>"
          %span.help-block{"ng-show" => "angularForm.cloud_tenant_id.$error.required"}
          = _("Required")

  = render :partial => "layouts/angular/generic_form_buttons"

:javascript
  ManageIQ.angular.app.value('securityGroupFormId', '#{@security_group.id || "new"}');
  miq_bootstrap('#form_div');
