- if field.type == "DialogFieldDateControl"
  - if edit
    = datepicker_input_tag("miq_date__#{field.name}", field.value, date_tag_options(field, url, auto_refresh_options))
  - else
    = field.value

- if field.type == "DialogFieldDateTimeControl"
  - date_val, time_val = field.value.split(" ")
  - hour_val, minute_val = time_val.split(":")
  - if edit
    = datepicker_input_tag("miq_date__#{field.name}", date_val, date_tag_options(field, url, auto_refresh_options))
  - else
    = date_val

  &nbsp;at&nbsp;
  - if edit
    = select_tag("start_hour", hour_select_options(hour_val), time_tag_options(field, url, "hour", auto_refresh_options))
    = ':'
    = select_tag("start_min", minute_select_options(minute_val), time_tag_options(field, url, "min", auto_refresh_options))

  - else
    = "#{hour_val.rjust(2, '0')}:#{minute_val.rjust(2, '0')}"
  &nbsp;
  = session[:user_tz]

- if field.dynamic
  - if field.auto_refresh
    - javascript_locals = {:auto_refresh_options     => auto_refresh_options,
                           :refresh_field_parameters => {:type => field.type,
                                                         :name => field.name,
                                                         :id   => field.id}}

    = render(:partial => "shared/dialogs/auto_refresh_javascript", :locals => javascript_locals)

  - if show_refresh_button
    = button_tag(_('Refresh'), :id => "refresh-dynamic-date-#{field.id}", :class => "btn btn-default")

  :javascript
    $('#refresh-dynamic-date-#{field.id}').click(function() {
      dialogFieldRefresh.refreshDateTime("#{field.name}", "#{field.id}", function() {
        var jsonOptions = JSON.parse('#{j(auto_refresh_options.to_json)}');
        jsonOptions.initialTrigger = true;

        dialogFieldRefresh.triggerAutoRefresh(jsonOptions);
      });
    });
