- if @dialog_locals
  - dialog = order_service_data(@dialog_locals)
  - api_submit_endpoint ||= dialog[:apiSubmitEndpoint]
  - api_action ||= dialog[:apiAction]
  - cancel_endpoint ||= dialog[:cancelEndPoint]
  - dialog_id ||= dialog[:dialogId]
  - finish_submit_endpoint ||= dialog[:finishSubmitEndpoint]
  - open_url ||= dialog[:openUrl]
  - resource_action_id ||= dialog[:resourceActionId]
  - real_target_type ||= dialog[:realTargetType]
  - target_id ||= dialog[:targetId]
  - target_type ||= dialog[:targetType]

=# react('OrderServiceForm', :initialData => dialog)
= react('Service', :initialData => dialog, :serviceType => "orderServiceForm")


.row.wrapper{"ng-controller" => "dialogUserController as vm"}
  .spinner{'ng-show' => "!vm.dialogLoaded"}

  .col-md-12.col-lg-12{'ng-if' => 'vm.dialog'}
    %dialog-user{"dialog" =>"vm.dialog", "refresh-field" => "vm.refreshField(field)", "on-update" => "vm.setDialogData(data)"}

    .clearfix
    .pull-right.button-group{'ng-show' => "vm.dialogLoaded"}
      %miq-button{:name      => t = _("Submit"),
                  :title     => t,
                  :alt       => t,
                  :enabled   => 'vm.saveable()',
                  'on-click' => "vm.submitButtonClicked()",
                  :primary   => 'true'}
      %miq-button{:name      => t = _("Cancel"),
                  :title     => t,
                  :alt       => t,
                  :enabled   => 'true',
                  'on-click' => "vm.cancelClicked($event)"}

:javascript
  ManageIQ.angular.app.value('resourceActionId', '#{resource_action_id}');
  ManageIQ.angular.app.value('targetId', '#{target_id}');
  ManageIQ.angular.app.value('targetType', '#{target_type}');
  ManageIQ.angular.app.value('realTargetType', '#{real_target_type}');
  ManageIQ.angular.app.value('dialogId', '#{dialog_id}');
  ManageIQ.angular.app.value('finishSubmitEndpoint', '#{finish_submit_endpoint}');
  ManageIQ.angular.app.value('apiSubmitEndpoint', '#{api_submit_endpoint}');
  ManageIQ.angular.app.value('apiAction', '#{j_str(api_action)}');
  ManageIQ.angular.app.value('cancelEndpoint', '#{cancel_endpoint}');
  ManageIQ.angular.app.value('openUrl', '#{open_url}');
  ManageIQ.angular.app.value('dialogReplaceData', '#{@dialog_replace_data}');
  miq_bootstrap('.wrapper');
