- tooltipOptions = {"tooltip-placement" => "bottom", "tooltip" => "{{legendTooltip}}"}
.topology{'ng-controller' => "middlewareTopologyController as vm"}
  .legend.middleware
    %label#selected
    %div{'ng-if' => "vm.kinds"}
      %kubernetes-topology-icon{tooltipOptions, :kind => "MiddlewareServer"}
        %label
          %img{:src => image_path('svg/vendor-wildfly.svg'), :width => 18, :height => 18}
          = _("Servers")
      %kubernetes-topology-icon{tooltipOptions, :kind => "MiddlewareDeployment"}
        %label
          %i.fa.fa-file-text-o
          = _("Deployments")
      %kubernetes-topology-icon{tooltipOptions, :kind => "MiddlewareDatasource"}
        %label
          %i.fa.fa-database
          = _("Datasources")
      %kubernetes-topology-icon{tooltipOptions, :kind => "MiddlewareMessaging"}
        %label
          %i.fa.fa-exchange
          = _("Messaging")
      %kubernetes-topology-icon{tooltipOptions, :kind => "Vm"}
        %label
          %i.pficon.pficon-virtual-machine
          = _("VMs")
      %kubernetes-topology-icon{tooltipOptions, :kind => "Container"}
        %label
          %i.fa.fa-cube
          = _("Containers")
      %kubernetes-topology-icon{tooltipOptions, :kind => "MiddlewareDomain"}
        %label
          %i.pficon.pficon-domain
          = _("Domains")
      %kubernetes-topology-icon{tooltipOptions, :kind => "MiddlewareServerGroup"}
        %label
          %i.pficon.pficon-server-group
          = _("Server Groups")

  .alert.alert-info.alert-dismissable
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"}
      %span.pficon.pficon-close
    %span.pficon.pficon-info
    %strong
      = _("Click on the legend to show/hide entities, and double click on the entities in the graph to navigate to their summary pages.")

  = render :partial => "shared/topology/not_found_vm"

  %kubernetes-topology-graph.middleware{:items => "vm.items", :relations => "vm.relations", :kinds => "vm.kinds"}

:javascript
  miq_bootstrap('.topology');
