%h3
  = _('Basic Information')
  %br
  %br

.form-horizontal
  %form#form_div{:name           => 'angularForm',
                 'ng-controller' => 'keyPairCloudFormController as vm',
                 'ng-cloak'      => '',
                 'form-changed'  => true,
                 'ng-show'       => 'vm.afterGet',
                 'miq-form'      => true,
                 'model'         => 'vm.keyPairModel',
                 'model-copy'    => 'vm.modelCopy',
                 :novalidate     => true}
    = render :partial => 'layouts/flash_msg'
    .form-group{"ng-class" => "{'has-error': angularForm.name.$invalid}"}
      %label.col-md-2.control-label{:for => 'name'}
        = _('Name')
      .col-md-8
        %input.form-control{:type            => 'text',
                            :name            => 'name',
                            :id              => 'name',
                            'ng-model'       => 'vm.keyPairModel.name',
                            :maxlength       => ViewHelper::MAX_NAME_LEN,
                            :required        => true,
                            'auto-focus'     => true}
        %span.help-block{"ng-show" => "angularForm.name.$error.required"}
          = _("Required")
    .form-group
      %label.col-md-2.control-label{"for" => 'public_key'}
        = _('Public Key (optional)')
      .col-md-8
        %textarea.form-control{:name           => 'public_key',
                               :id             => 'public_key',
                               'ng-model'      => 'vm.keyPairModel.public_key',
                               :rows           => 10}
    .form-horizontal
      .form-group
        %label.col-md-2.control-label
          = _('Provider')
        .col-md-8
          = select_tag('ems_id',
                  '',
                  'ng-model'                   => 'vm.keyPairModel.ems',
                  'ng-options'                 => 'ems.name for ems in vm.ems_choices',
                  :id                          => 'ems_id',
                  :required                    => '',
                  'miq-select'                 => true)
          :javascript
            miqInitSelectPicker();
    = render :partial => 'layouts/angular/generic_form_buttons'

:javascript
  ManageIQ.angular.app.value('keyPairFormId', '#{@key_pair.id || "new"}');
  miq_bootstrap('#form_div');
