#utilization-tabs-wrapper.miq_custom_tab_wrapper
  = react('MiqCustomTab', {:containerId => 'utilization-tabs',
                           :tabLabels => utilization_tab_configuration,
                           :type => 'UTILIZATION'})
  #utilization-tabs.miq_custom_tabs_container
    = utilization_tab_content(:summary) do
      = render :partial => "utilization_summary"
    = utilization_tab_content(:details) do
      = render :partial => "utilization_details"
    = utilization_tab_content(:report) do
      = render :partial => "utilization_report"
