#selected #{@volume.id.to_s}
%form#form_div{:name           => "angularForm",
               'ng-controller' => "cloudVolumeFormController as vm",
               "miq-form"      => true,
               "model"         => "vm.cloudVolumeModel",
               "model-copy"    => "vm.modelCopy"}
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Basic Information')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Snapshot Name')
      .col-md-8
        %input.form-control{:type          => "text",
                            :name          => "snapshot_name",
                            'ng-model'     => "vm.cloudVolumeModel.snapshot_name",
                            'ng-maxlength' => 128,
                            :miqrequired   => true,
                            :checkchange   => true}

  .clearfix
  .pull-right.button-group.edit_buttons
    %miq-button{:name      => t = _("Save"),
                :title     => t,
                :alt       => t,
                :enabled   => "vm.saveable(angularForm)",
                'on-click' => "vm.snapshotCreateClicked(angularForm)",
                :primary   => 'true'}
    %miq-button{:name      => t = _("Reset"),
                :title     => t,
                :alt       => t,
                :enabled   => "!angularForm.$pristine",
                'on-click' => "vm.resetClicked(angularForm)"}
    %miq-button{:name      => t = _("Cancel"),
                :title     => t,
                :alt       => t,
                :enabled   => "true",
                'on-click' => "vm.cancelSnapshotCreateClicked(angularForm)"}

= react 'CloudVolumeSnapshot', {:createUrl => url_for_only_path(:action => "snapshot_create", :id => @volume.id.to_s, :button => @edit ? "create" : nil), 
                                :recordId => @volume.id.to_s}
:javascript
  ManageIQ.angular.app.value('cloudVolumeFormId', '#{@volume.id}');
  ManageIQ.angular.app.value('storageManagerId', '#{@volume.ext_management_system.id.to_s}');
  ManageIQ.angular.app.value('cloudVolumeFormOperation', 'SNAPSHOT_NEW');
  miq_bootstrap(jQuery('#form_div'));
