#main_div
  - if @showtype == "performance"
    = render :partial => "layouts/performance_async"
  - else
    - if %w(instances hosts).include?(@display)
      = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@host_aggregate.id}"}
    - elsif @showtype == "item"
      = render :partial => "layouts/#{@showtype}"
    - elsif @showtype == "main"
      = render :partial => "layouts/textual_groups_generic"
    - else
      = render :partial => @showtype
