- if %w(container_routes container_services container_replicators container_groups container_nodes container_images container_templates containers custom_button_events).include?(@display)
  = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"}
- elsif @showtype == "timeline"
  = render :partial => "layouts/tl_show_async"
- elsif @showtype == "performance"
  = render :partial => "layouts/performance_async"
- elsif @showtype == "main"
  = render :partial => "layouts/textual_groups_generic"
- elsif @showtype == "dashboard"
  = render :template => 'container_project/show_dashboard'
- elsif @showtype == "topology"
  = render :template => 'container_topology/show'
