#ops_tabs
  -# Settings
  - case x_active_tree
  - when :settings_tree
    - if selected?(x_node, "z")
      = render :partial => "layouts/flash_msg"
      #settings-zone-tabs-wrapper
        = react('MiqCustomTab', {:containerId => 'settings-zone-tabs',
                                 :tabLabels   => settings_zone_tab_configuration,
                                 :type        => 'SETTINGS_ZONE',
                                 :activeTab   => settings_zone_tab_index(@sb[:active_tab])})
      #settings-zone-tabs
        = settings_zone_tab_content(:evm_servers) do
          = render :partial => "settings_evm_servers_tab"
        = settings_zone_tab_content(:smartproxy_affinity) do
          = render :partial => "settings_smartproxy_affinity_tab"
        = settings_zone_tab_content(:advanced) do
          = render :partial => "settings_advanced_tab"
    - elsif selected?(x_node, "svr")
      = render :partial => "layouts/flash_msg"
      - cur_svr_id = x_node.split("-").last.to_i
      #settings-server-tabs-wrapper
        = react('MiqCustomTab', {:containerId => 'settings-server-tabs',
                                 :tabLabels   => settings_server_tab_configuration(cur_svr_id, my_server.id, MiqEnvironment::Command.is_podified?),
                                 :type        => 'SETTINGS_SERVER',
                                 :activeTab   => settings_server_tab_index(@sb[:active_tab], cur_svr_id, my_server.id, MiqEnvironment::Command.is_podified?)})
      #settings-server-tabs
        = settings_server_tab_content(:server) do
          = render :partial => "settings_server_tab"
        = settings_server_tab_content(:authentication) do
          = render :partial => "settings_authentication_tab"
        = settings_server_tab_content(:workers) do
          = render :partial => "settings_workers_tab"
        - if cur_svr_id == my_server.id
          = settings_server_tab_content(:custom_logos) do
            = render :partial => "settings_custom_logos_tab"
        = settings_server_tab_content(:advanced) do
          = render :partial => "settings_advanced_tab"
    - else
      - if selected_settings_tree?(x_node)
        .tab-content
          #settings_list
            = render :partial => "settings_list_tab"
      - else
        = render(:partial => "layouts/flash_msg")
        #settings-tabs-wrapper
          = react('MiqCustomTab', {:containerId => 'settings-tabs',
                            :tabLabels => settings_tab_configuration,
                            :type      => 'SETTINGS',
                            :activeTab => @settings_tab,
            })
          .miq_custom_tabs_container#settings-tabs
            = settings_tab_content(:details, :active_tab => @sb[:active_tab]) do
              = render :partial => "settings_details_tab"
            = settings_tab_content(:cu_collection, :active_tab => @sb[:active_tab]) do
              = render :partial => "settings_cu_collection_tab"
            = settings_tab_content(:tags, :active_tab => @sb[:active_tab]) do
              - if @sb[:active_tab] == 'settings_tags'
                #ops-tags-subtabs-wrapper
                  %ul.nav.nav-tabs.nav-tabs-pf{:style => 'font-size: 12px'}
                    = react('MiqCustomTab', {:containerId => 'ops-tags-subtabs',
                            :tabLabels => settings_tags_configuration,
                            :type      => 'SETTINGS_TAGS',
                            :activeTab => @settings_tab,
                            :subtab    => @subtab,
                            :tabLength => @settings_tab_length,
                    })
                .tab-content#ops-tags-subtabs
                  = settings_tags_content(:my_company_categories, :active_tab => @sb[:active_subtab]) do
                    = render :partial => "settings_my_company_categories_tab"
                  = settings_tags_content(:my_company_tags, :active_tab => @sb[:active_subtab]) do
                    = render :partial => "settings_co_tags_tab"
                  = settings_tags_content(:import_tags, :active_tab => @sb[:active_subtab]) do
                    = render :partial => "settings_import_tags_tab"
                  = settings_tags_content(:import_variables, :active_tab => @sb[:active_subtab]) do
                    = render :partial => "settings_import_tab"
                  = settings_tags_content(:map_tags, :active_tab => @sb[:active_subtab]) do
                    = render :partial => "settings_map_tags_tab"
            = settings_tab_content(:replication, :active_tab => @sb[:active_tab]) do
              = render :partial => "settings_replication_tab"
            = settings_tab_content(:help_menu, :active_tab => @sb[:active_tab]) do
              = render :partial => "settings_help_menu_tab"
            = settings_tab_content(:advanced, :active_tab => @sb[:active_tab]) do
              = render :partial => "settings_advanced_tab"
    -# Diagnostics
  - when :diagnostics_tree
    - if x_node.split("-")[0] == "z"
      #diagnostics-zone-tabs-wrapper
        = react('MiqCustomTab', {:containerId => 'diagnostics-zone-tabs',
                                 :tabLabels   => diagnostics_zone_tab_configuration,
                                 :type        => 'DIAGNOSTICS_ZONE',
                                 :activeTab   => diagnostics_zone_tab_index(@sb[:active_tab])})
      .miq_custom_tabs_container#diagnostics-zone-tabs
        = diagnostics_zone_tab_content(:roles_servers, :active_tab => @sb[:active_tab]) do
          = render :partial => "diagnostics_roles_servers_tab"
        = diagnostics_zone_tab_content(:servers_roles, :active_tab => @sb[:active_tab]) do
          = render :partial => "diagnostics_servers_roles_tab"
        = diagnostics_zone_tab_content(:server_list, :active_tab => @sb[:active_tab]) do
          = render :partial => "diagnostics_server_list_tab"
        = diagnostics_zone_tab_content(:cu_repair, :active_tab => @sb[:active_tab]) do
          = render :partial => "diagnostics_cu_repair_tab"
    - elsif x_node.split("-")[0] == "svr"
      #diagnostics-server-tabs-wrapper
        = react('MiqCustomTab', {:containerId => 'diagnostics-server-tabs',
                                 :tabLabels   => diagnostics_server_tab_configuration(@sb[:selected_server_id], my_server.id, @selected_server.started?, MiqEnvironment::Command.is_podified?),
                                 :type        => 'DIAGNOSTICS_SERVER',
                                 :activeTab   => diagnostics_server_tab_index(@sb[:active_tab], @sb[:selected_server_id], my_server.id, @selected_server.started?, MiqEnvironment::Command.is_podified?)})
      .miq_custom_tabs_container#diagnostics-server-tabs
        - if @sb[:selected_server_id] == my_server.id || @selected_server.started?
          = diagnostics_server_tab_content(:summary, :active_tab => @sb[:active_tab]) do
            = render :partial => "diagnostics_summary_tab"
          = diagnostics_server_tab_content(:workers, :active_tab => @sb[:active_tab]) do
            = render :partial => "diagnostics_workers_tab"
        - if @sb[:selected_server_id] == my_server.id && !MiqEnvironment::Command.is_podified?
          = diagnostics_server_tab_content(:evm_log, :active_tab => @sb[:active_tab]) do
            = render :partial => "diagnostics_evm_log_tab"
          = diagnostics_server_tab_content(:audit_log, :active_tab => @sb[:active_tab]) do
            = render :partial => "diagnostics_audit_log_tab"
          = diagnostics_server_tab_content(:production_log, :active_tab => @sb[:active_tab]) do
            = render :partial => "diagnostics_production_log_tab"
    - else
      #diagnostics-root-tabs-wrapper
        = react('MiqCustomTab', {:containerId => 'diagnostics-root-tabs',
                                 :tabLabels   => diagnostics_root_tab_configuration(super_admin_user?),
                                 :type        => 'DIAGNOSTICS_ROOT',
                                 :activeTab   => diagnostics_root_tab_index(@sb[:active_tab], super_admin_user?)})
      .miq_custom_tabs_container#diagnostics-root-tabs
        = diagnostics_root_tab_content(:zones, :active_tab => @sb[:active_tab]) do
          = render :partial => "diagnostics_zones_tab"
        - if super_admin_user?
          = diagnostics_root_tab_content(:roles_servers, :active_tab => @sb[:active_tab]) do
            = render :partial => "diagnostics_roles_servers_tab"
          = diagnostics_root_tab_content(:servers_roles, :active_tab => @sb[:active_tab]) do
            = render :partial => "diagnostics_servers_roles_tab"
        = diagnostics_root_tab_content(:server_list, :active_tab => @sb[:active_tab]) do
          = render :partial => "diagnostics_server_list_tab"
        - if super_admin_user?
          = diagnostics_root_tab_content(:database, :active_tab => @sb[:active_tab]) do
            - if @sb[:active_tab] == "diagnostics_database"
              = render :partial => "diagnostics_database_tab"
  - when :rbac_tree
    #rbac_details
      = render :partial => "rbac_details_tab"
