- if @sb[:active_tab] == "diagnostics_servers_roles"
  = render(:partial => "layouts/flash_msg")
  - if @server_tree
    - if @server_tree.bs_tree == "[]"
      = render :partial => 'layouts/info_msg', :locals => {:message => _("No Servers Assigned to Roles found.")}
    - else
      .row
        .col-md-12.col-lg-6
          = render :partial => "zone_tree"
        .col-md-12.col-lg-6
          = render :partial => "selected"
  - else
    = render :partial => 'layouts/info_msg', :locals => {:message => _("No Servers found.")}
