- url = url_for_only_path(:action => 'label_tag_mapping_field_changed', :id => @lt_map && @lt_map.id ? @lt_map.id.to_s : "new")
= form_tag({:action => 'label_tag_mapping_update'},
           {:id     => "label_tag_mapping_form",
            :class  => "form-horizontal",
            :method => :post}) do
  - disabled = !@lt_map.nil?
  - if disabled
    %h3= _("Resource entity and label")
  - else
    %h3= _("Choose a resource entity and label")
  .form-group
    %label.col-md-2.control-label
      = _("Entity")
    .col-md-8
      = select_tag('entity',
                   options_for_select(@edit[:new][:options],
                                      @edit[:new][:entity]),
                                      :class    => "selectpicker",
                                      :disabled => disabled)
    :javascript
      miqInitSelectPicker();
      miqSelectPickerEvent('entity', "#{url}")
  .form-group
    %label.col-md-2.control-label
      = _("Resource Label")
    .col-md-8
      = text_field_tag("label_name", @edit[:new][:label_name],
                       :maxlength         => 25,
                       :class             => "form-control",
                       :disabled          => disabled,
                       "data-miq_observe" => {:interval => '.5',
                                              :url      => url}.to_json)

  #tag_category_div
    - if @lt_map
      = render :partial => "ops/label_tag_mapping/tag_category",
               :locals => tag_category_parameters_for_haml

  .form-group
    %label.col-md-2.control-label
    .col-md-8
