- @angular_form = true

%form.form-horizontal#form_div{:name                                 => "angularForm",
                               'ng-controller'                       => "logCollectionFormController as vm",
                               'ng-show'                             => "vm.afterGet",
                               'miq-form'                            => 'true',
                               'form-changed'                        => 'true',
                               'model'                               => 'vm.logCollectionModel',
                               'model-copy'                          => 'vm.modelCopy',
                               'data-log-collection-form-fields-url' => "/#{controller_name}/log_collection_form_fields/",
                               'data-save-url'                       => "/#{controller_name}/log_depot_edit/",
                               'data-log-protocol-changed-url'       => "/#{controller_name}/log_protocol_changed/",
                               :novalidate                           => 1}
  = render :partial => "layouts/flash_msg"

  %h3
    = _("Editing Log Depot Settings for %{class}: %{display}") % {:class   => Dictionary.gettext(@record.class.name,
                                                                                                   :type     => :model,
                                                                                                   :notfound => :titleize),
                                                                    :display => @record.display_name}
  .form-group
    %label.control-label.col-md-2
      = _("Type")
    .col-md-8
      - default_option = [_("<No Depot>"), nil]
      = select_tag('log_protocol', options_for_select([default_option] + @supported_depots_for_select),
                   "ng-model"                    => "vm.logCollectionModel.log_protocol",
                   "ng-change"                   => "vm.logProtocolChanged()",
                   "selectpicker-for-select-tag" => "")
      :javascript
        miqInitSelectPicker();

  %log-depot-settings{:show                => "vm.miqDBBackupService.logProtocolSelected(vm.logCollectionModel)",
                                "requered-depot-name" => "vm.miqDBBackupService.dbRequired(vm.logCollectionModel, vm.logCollectionModel.depot_name)",
                                "model-depot-name"    => "{{vm.logCollectionModel.depot_name}}",
                                "requered-uri"        => "vm.miqDBBackupService.dbRequired(vm.logCollectionModel, vm.logCollectionModel.uri)",
                                "model-uri"           => "{{vm.logCollectionModel.uri}}",
                                "model-uri-prefix"    => "{{vm.logCollectionModel.uri_prefix}}",
                                "readonly-set"        => "vm.readonlyMode()",
                                "uri-prefix-display"  =>  "{{vm.logCollectionModel.uri_prefix}}://",
                                "name-change-value" => "vm.nameChanged",
                                "uri-change-value"  => 'vm.uriChanged'}

  %auth-credentials{'ng-if'                          => 'vm.miqDBBackupService.credsProtocol(vm.logCollectionModel)',
                    'form-model'                     => 'vm.logCollectionModel',
                    'model-copy'                     => 'vm.modelCopy',
                    'prefix'                         => '{{vm.prefix}}',
                    'user-required'                  => true,
                    'password-required'              => true,
                    'enable-valid-button'            => 'vm.canValidateBasicInfo()',
                    'validate'                       => 'vm.validateClicked',
                    'new-record'                     => 'vm.newRecord'}

  = render :partial => "layouts/angular/generic_form_buttons"

:javascript
  ManageIQ.angular.app.value('serverId', '#{@record.id || "new"}');
  miq_bootstrap('#form_div');
