- if @edit
  = render :partial => "layouts/flash_msg"
  - disabled = @edit && @edit[:new][:userid] == "admin"
  - db_mode = ::Settings.authentication.mode
  #user_info
    %h3
      = _("User Information")
  = react('UserForm', {:id => (@edit[:user_id]), :copyUserId => @copy_user_id, :disabled => disabled, :dbMode => db_mode})
- else
  = settings_users_summary(@record)
  = render :partial => "rbac_tag_box"
