- if @sb[:active_tab] == "settings_tags" && @sb[:active_subtab] == "settings_import"
  - url = url_for_only_path(:action => 'upload_form_field_changed', :id => @sb[:active_tab].split('_').last)
  %h3= _("Messages")
  %hr
  %h3= _("Upload Custom Variable Values")
  = form_tag({:action => "upload_csv",
              :typ    => "asset_tag"},
             :class     => "form-horizontal",
             :multipart => true,
             :method    => :post) do
    .form-group
      %label.col-md-2.control-label
        = _("Type")
      .col-md-8
        = select_tag('upload_type',
                    options_for_select([["<#{_('Choose')}>", nil], [_("Host"), "host"], [_("Vm"), "vm"]],
                    @edit[:new][:upload_type]),
                    :class    => "selectpicker")
        :javascript
          miqInitSelectPicker();
          miqSelectPickerEvent('upload_type', "#{url}")
    - if @edit[:new][:upload_type]
      .form-group
        %label.col-md-2.control-label
          = _("File")
        .col-md-4
          = render :partial => "shared/file_chooser", :locals => {:object_name => "upload", :method => "file"}
        .col-md-6
          = submit_tag(_("Upload"), :id => "upload_atags", :class => "btn btn-default")
          = _("* Requirements: CSV formatted file.")
