- @angular_form = true

%form#form_div{"name"          => "angularForm",
               "ng-controller" => "tenantQuotaFormController as vm",
               "ng-show"       => "vm.afterGet",
               "miq-form"      => 'true',
               "model-copy"    => 'vm.modelCopy',
               "novalidate"    => true}
  = render :partial => "layouts/flash_msg"
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
          = _("Enforced")
        %th
          = _("Description")
        %th
          = _("Value")
        %th
          = _("Units")
    %tbody
      %tr{"ng-repeat" => "(quota_name, quota_obj) in vm.tenantQuotaModel.quotas", "ng-form" => "rowForm", "ng-class" => "{'has-error': rowForm.value.$invalid}"}
        %td.table-view-pf-select
          %input{"bs-switch"  => "",
                "id"          => "{{quota_name}}",
                "type"        => "checkbox",
                "name"        => "enforced",
                "ng-change"   => "vm.enforcedChanged(quota_name)",
                "ng-model"    => "quota_obj.enforced"}
        %td {{quota_obj.description}}
        %td
          %input.form-control{"type"        => "text",
                              "id"          => "id_{{quota_name}}",
                              "name"        => "id_{{quota_name}}",
                              "ng-model"    => "quota_obj.value",
                              "ng-required" => "quota_obj.enforced",
                              "ng-disabled" => "!quota_obj.enforced",
                              "ng-pattern"  => "quota_obj.valpattern",
                              "placeholder" => _('Not enforced'),
                              "ng-change"   => "vm.valueChanged()"}
          %span{"style"=>"color:red", "ng-show" => "rowForm.value.$invalid"}
            = _(" Valid numeric quota value required ")

        %td &nbsp; {{quota_obj.text_modifier}}

  = render :partial => "layouts/angular/x_edit_buttons_angular"

:javascript
  ManageIQ.angular.app.value('tenantQuotaFormId', '#{@tenant.id}');
  ManageIQ.angular.app.value('tenantType', '#{@tenant_type}');
  miq_bootstrap('#form_div');
