= render :partial => "layouts/flash_msg"
#pre_prov_div
  - typ = request.parameters[:controller] == "vm_cloud" ? ui_lookup(:table => "template_cloud") : ui_lookup(:table => "template_infra")
  %h3
    = _("Provision %{what} based on the selected %{type}") % {:what => ui_lookup(:tables => request.parameters[:controller]), :type => typ}
  %label
    - id = @edit[:req_id] || "new"
    %input{:type => "checkbox",
           :onclick => "miqAjax('" + url_for_only_path({:action => "vm_pre_prov", :id => id.to_s, :hide_deprecated_templates => !@edit[:hide_deprecated_templates]}) + "')",
           :checked => @edit[:hide_deprecated_templates]}
      = _('Hide deprecated')
  %table.table.table-bordered.table-hover.table-striped.table-selectable
    %thead
      %tr
        - id = @edit[:req_id] || "new"
        - ["name", "image?", "operating_system.product_name", "platform",
            "cpu_total_cores", "mem_cpu", "allocated_disk_storage", "deprecated",
            "ext_management_system.name", "v_total_snapshots", "cloud_tenant"].each do |column_name|
          - if @edit[:vm_headers].include?(column_name)
            %th
              -# Replaced to exclude non-view table fields from sorting
              = link_to(h(@edit[:vm_headers][column_name]),
                {:action => "vm_pre_prov", :sort_choice => column_name, :id => id.to_s},
                "data-miq_sparkle_on"  => true,
                "data-miq_sparkle_off" => true,
                "data-method"          => :post,
                :remote                => true)
              - if column_name == @edit[:vm_sortcol]
                %img{:src => image_path("16/sort_#{@edit[:vm_sortdir] == 'ASC' ? 'up' : 'down'}.png")}
    %tbody
      - @vms.each do |row|
        - if row.respond_to?(:volume_template?) || row.respond_to?(:volume_snapshot_template?)
          = render :partial => "miq_request/pre_prov_volumes_snapshots", :locals => {:row => row}
        - else
          = render :partial => "miq_request/pre_prov_images", :locals => {:row => row}
