= render :partial => "layouts/flash_msg"

#pre_prov_div
  - typ = request.parameters[:controller] == "vm_cloud" ? ui_lookup(:table => "template_cloud") : ui_lookup(:table => "template_infra")
  %h3
    = _("Provision %{what} based on the selected %{type}") % {:what => ui_lookup(:tables => request.parameters[:controller]), :type => typ}
  %label
    - id = @edit[:req_id] || "new"
    - unless @edit[:hide_deprecated_templates].nil?
      %input{:type => "checkbox",
             :onclick => "miqAjax('" + url_for_only_path({:action => "vm_pre_prov", :id => id.to_s, :hide_deprecated_templates => !@edit[:hide_deprecated_templates]}) + "')",
             :checked => @edit[:hide_deprecated_templates]}
        = _('Hide deprecated')
  = render :partial => "layouts/x_gtl"

  #pre_prov_form_buttons_div.pull-right
    = render :partial => 'layouts/x_edit_buttons', :locals => {:action_url      => 'pre_prov',
                                                               :continue_button => true,
                                                               :no_reset        => true}
  :javascript
    $(provisioningListenToRx);
