/ begin: app/views/miq_request/_pre_prov_volumes_snapshots.html.haml
- @id = row.id
- cls =  @edit[:src_vm_id] && @edit[:src_vm_id] == @id ? "selected" : ""
%tr{:class => cls, :onclick => "miqAjax('/miq_request/pre_prov/?sel_id=#{@id}');", :id => "row_#{@id}"}
  %td.text-nowrap
    = h(row.name)
  - if @edit[:vm_headers].include?("image?")
    %td.text-nowrap
      - if row.respond_to?(:volume_template?)
        = h(_("Volume"))
      - elsif row.respond_to?(:volume_snapshot_template?)
        = h(_("Volume Snapshot"))
  %td
    = h(_("N/A"))
  %td
    = h(_("N/A"))
  %td
    = h(_("N/A"))
  %td
    = h(_("N/A"))
  %td
    = h(_("N/A"))
  %td
    = h(_("N/A"))
  %td
    - if row.ext_management_system
      = h(row.ext_management_system.name)
  %td
    = h(_("N/A"))
  - if @edit[:vm_headers].include?("cloud_tenant")
    %td
      - if row.respond_to?(:cloud_tenant)
        = h(row.cloud_tenant.try(:name))
/ end: app/views/miq_request/_pre_prov_volumes_snapshots.html.haml
