#main_div
  %hr
  %h3
    = _("Options")
  .form-horizontal
    - if @options[:vm_memory]
      .form-group
        %label.control-label.col-md-2
          = _("Memory")
        .col-md-8
          = h(@options[:vm_memory])
          = @options[:mem_typ]
    - if @options[:number_of_sockets]
      .form-group
        %label.control-label.col-md-2
          = _("Processor Sockets")
        .col-md-8
          = h(@options[:number_of_sockets])
    - if @options[:cores_per_socket]
      .form-group
        %label.control-label.col-md-2
          = _("Processor Cores_Per_Socket")
        .col-md-8
          = h(@options[:cores_per_socket])
    - if @options[:number_of_cpus]
      %tr
        %td.key
          = _("Total Processors")
        %td
          = h(@options[:number_of_cpus])
    - if @options[:disk_add]
      .form-group
        %label.control-label.col-md-2
          = _("Add Disks")
        .col-md-8
          = h(@options[:disk_add].size)
    - if @options[:disk_remove]
      .form-group
        %label.control-label.col-md-2
          = _("Remove Disks")
        .col-md-8
          = h(@options[:disk_remove].size)
    - if @options[:disk_resize]
      .form-group
        %label.control-label.col-md-2
          = _("Resize Disks")
        .col-md-8
          = h(@options[:disk_resize].size)
    - if @options[:network_adapter_add]
      .form-group
        %label.control-label.col-md-2
          = _("Add Network Adapters")
        .col-md-8
          = h(@options[:network_adapter_add].size)
          &nbsp;
    - if @options[:network_adapter_remove]
      .form-group
        %label.control-label.col-md-2
          = _("Remove Network Adapters")
        .col-md-8
          = h(@options[:network_adapter_remove].size)
          &nbsp;
    - if @options[:network_adapter_edit]
      .form-group
        %label.control-label.col-md-2
          = _("Edit Network Adapters")
        .col-md-8
          = h(@options[:network_adapter_edit].size)
          &nbsp;
    - if @options[:instance_type]
      .form-group
        %label.control-label.col-md-2
          = _("Flavor")
        .col-md-8
          = h(Flavor.find(@options[:instance_type]).name_with_details)
  %hr
  %h3
    = _("Affected VMs")
  - if @view
    - @embedded = true
    - @gtl_type = "list"
    = render :partial => "layouts/gtl", :locals => {:no_flash_div => true}
