.form-group{:id => "field_#{field.id}_tr", :style => field.visible ? 'display:block' : 'display:none'}
  %label.control-label.col-md-2{:title => field.description}
    = _(field.label)
  .col-md-8{:title => field.description}
    - case field.type
    - when 'DialogFieldTextBox', 'DialogFieldTextAreaBox'
      - if field.protected?
        ********
      - else
        = h(field.value)

    - when 'DialogFieldCheckBox'
      = check_box_tag(field.name, "1", field.checked?, {:disabled => true})

    - when 'DialogFieldDateControl'
      = h(field.value)

    - when 'DialogFieldDateTimeControl'
      - date_val, time_val = field.value.split(" ")
      - hour_val, minute_val = time_val.split(":")
      = date_val
      &nbsp;at&nbsp;
      = "#{hour_val.rjust(2, '0')}:#{minute_val.rjust(2, '0')}"
      &nbsp;
      = session[:user_tz]

    - when "DialogFieldRadioButton"
      = h(field.values.detect { |k, _v| k == wf.value(field.name) }.try(:last) || wf.value(field.name))

    - when "DialogFieldDropDownList"
      - if field.value.class == Integer
        - field.values.each do |option|
          - if field.value.to_s == option[0].to_s
            - if option[1]
              = h(option[1] || _("<None>"))
              <br>
      - elsif field.value.nil?
        - field.values.each do |option|
          - if field.value.to_s == option[0].to_s
            - if option[1]
              = h(option[1] || _("<None>"))
              <br>
      - else
        - field.value.split("\u001F").each do |value|
          - field.values.each do |option|
            - if value.to_s == option[0].to_s
              - if option[1]
                = h(option[1] || _("<None>"))
                <br>

    - when 'DialogFieldTagControl'
      - value = wf.value(field.name) || '' # it returns in format Clasification::id
      - classifications = value.split(',').map { |c| Classification.find_by(:id => c.split('::').second).description }
      - if classifications.empty?
        = h('')
      -else
        = h(classifications.join(', '))
