.form-group{:id => "field_#{field.id}_tr", :style => field.visible ? 'display:block' : 'display:none'}
  %label.control-label.col-md-2{:title => field.description}
    = field.label
  .col-md-8{:title => field.description}
    - case field.type
    - when 'DialogFieldTextBox', 'DialogFieldTextAreaBox'
      - if field.protected?
        ********
      - else
        = h(field.value)

    - when 'DialogFieldCheckBox'
      = check_box_tag(field.name, "1", field.checked?, {:disabled => true})

    - when 'DialogFieldDateControl'
      = h(field.value)

    - when 'DialogFieldDateTimeControl'
      - date_val, time_val = field.value.split(" ")
      - hour_val, minute_val = time_val.split(":")
      = date_val
      &nbsp;at&nbsp;
      = "#{hour_val.rjust(2, '0')}:#{minute_val.rjust(2, '0')}"
      &nbsp;
      = session[:user_tz]

    - when "DialogFieldRadioButton"
      = h(field.values.detect { |k, _v| k == wf.value(field.name) }.try(:last) || wf.value(field.name))

    - when "DialogFieldDropDownList"
      - val = h(field.value)
      - if val.present?
        - if field.multiselect?
          = val.split(',').map { |v| {v => field.values.to_h[v]} }
        - else
          = [val, field.values.to_h[field.value]]
      - else
        = "<None>"

    - when 'DialogFieldTagControl'
      - value = wf.value(field.name) || '' # it returns in format Clasification::id
      - _, classification_id = value.split('::')
      - current_classification = Classification.find_by(:id => classification_id)
      = h(current_classification.nil? ? '' : current_classification.description)
