- url = url_for_only_path(:action => 'label_tag_mapping_field_changed', :id => (lt_map&.id || "new")&.to_s)
#tag_category_div
  %h3= _("Enter tag category to map to")
  - if all_entities
    .form-group
      %label.col-md-2.control-label
        = _("Tag Category")
      .col-md-8
        = select_tag('category', options_for_select(categories, category), "data-live-search" => "true", :class => "selectpicker")
        :javascript
          miqInitSelectPicker();
          miqSelectPickerEvent('category', "#{url}")
  - else
    .form-group
      %label.col-md-2.control-label
        = _("Tag Category")
      .col-md-8
        = text_field_tag("category", @edit[:new][:category], :maxlength         => 50,
                                                             :class             => "form-control",
                                                             "data-miq_observe" => {:interval => '.5', :url => url}.to_json)

