- validate_url ||= @ems.id ? "update" : "create"

%hr

#auth_tabs
  %h3
    = _("Endpoints")

  %ul.nav.nav-tabs
    = miq_tab_header('default', nil, {'ng-click' => "changeAuthTab('default')"}) do
      %i{"error-on-tab" => "default", :style => "color:#cc0000"}
      = _("Default")
    = miq_tab_header('metrics', nil, {'ng-click' => "changeAuthTab('metrics')"}) do
      %i{"error-on-tab" => "metrics", :style => "color:#cc0000"}
      = _("C & U Database")

  .tab-content
    = miq_tab_content('default', 'default') do
      .form-group
        .col-md-12
          %div
            = render :partial => "layouts/angular-bootstrap/endpoints_angular",
                     :locals  => {:ng_show          => true,
                                  :ng_model         => "emsCommonModel",
                                  :id               => @ems.id,
                                  :prefix           => "default",
                                  :ng_reqd_api_port => false}
            = render :partial => "layouts/angular-bootstrap/auth_credentials_angular_bootstrap",
                     :locals  => {:ng_show           => true,
                                  :ng_model          => "emsCommonModel",
                                  :ng_reqd_userid    => true,
                                  :ng_reqd_password  => true,
                                  :validate_url      => validate_url,
                                  :id                => @ems.id,
                                  :prefix            => "default",
                                  :basic_info_needed => true}
      .form-group
        .col-md-12
          %span{:style => "color:black"}
            = _("Required. Should have privileged access, such as root or administrator.")

    = miq_tab_content('metrics', 'default') do
      .form-group
        .col-md-12
          = render :partial => "layouts/angular-bootstrap/endpoints_angular",
                   :locals  => {:ng_show            => true,
                                :ng_model           => "emsCommonModel",
                                :id                 => @ems.id,
                                :ng_reqd_db_name    => "emsCommonModel.metrics_hostname != ''",
                                :database_name_show => true,
                                :tls_verify_hide    => true,
                                :tls_ca_certs_hide  => true,
                                :prefix             => "metrics",
                                :ng_reqd_hostname   => "emsCommonModel.metrics_userid != '' && emsCommonModel.metrics_userid != undefined",
                                :ng_reqd_api_port   => "false"}
          = render :partial => "layouts/angular-bootstrap/auth_credentials_angular_bootstrap",
                   :locals  => {:ng_show           => true,
                                :ng_model          => "emsCommonModel",
                                :ng_reqd_userid    => "emsCommonModel.metrics_hostname != ''",
                                :ng_reqd_password  => "emsCommonModel.metrics_userid != ''",
                                :validate_url      => validate_url,
                                :id                => @ems.id,
                                :prefix            => "metrics",
                                :basic_info_needed => true}
      .form-group
        .col-md-12
          %span{:style => "color:black"}
            = _("Used to gather Capacity & Utilization metrics.")

:javascript
  miq_tabs_show_hide("#metrics_tab", true);
  miq_tabs_init('#auth_tabs');
  $('#auth_tabs').show();
