#tab_div
  - if @rss_feeds.empty?
    .alert.alert-warning
      %span.pficon-layered
        %span.pficon.pficon-warning-triangle
        %span.pficon.pficon-warning-exclamation
      %strong= _('No RSS Feeds Found')
  - else
    .form-horizontal
      %form
        .form-group
          %label.col-md-2
            = _('Admin Role Filter')
          .col-md-2
            = select_tag('role',
                         options_for_select(@rss_roles, @rss_role),
                         :multiple          => false,
                         "class"            => "selectpicker",
                         "data-miq_observe" => {:url => url_for_only_path(:action => 'role_selected')}.to_json)
            :javascript
              miqInitSelectPicker();
              $('#role').data('selectpicker').$button.focus();

    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th.table-view-pf-select
          %th= _('Title')
          %th= _('Description')
          %th= _('Feed URL')
      %tbody
        - @rss_feeds.each do |feed|
          %tr{:title => _("Subscribe to this feed"), :onclick => "DoNav('#{feed.link}');"}
            %td.table-view-pf-select
              %i.fa.fa-rss
            %td
              = h(feed.title)
            %td
              = h(feed.description)
            %td
              = h(feed.url(request.host_with_port))
