- tooltipOptions = {"tooltip-placement" => "bottom", "uib-tooltip" => "{{vm.legendTooltip}}"}
.topology{'ng-controller' => "infraTopologyController as vm"}
  .legend
    %label#selected
    %div{'ng-if' => "vm.kinds"}
      %kubernetes-topology-icon{tooltipOptions, :kind => "Host"}
        %label
          %i.pficon.pficon-container-node
          = _("Nodes")
      %kubernetes-topology-icon{tooltipOptions, :kind => "Vm"}
        %label
          %i.pficon.pficon-virtual-machine
          = _("VMs")
      %kubernetes-topology-icon{tooltipOptions, :kind => "EmsCluster"}
        %label
          %i.pficon.pficon-cluster
          = _("Clusters")

  .alert.alert-info.alert-dismissable
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"}
      %span.pficon.pficon-close
    %span.pficon.pficon-info
    %strong
      = _("Click on the legend to show/hide entities, and double click/right click the entities in the graph to navigate to their summary pages.")

  = render :partial => "shared/topology/not_found_vm"

  %kubernetes-topology-graph{:items => "vm.items", :relations => "vm.relations", :kinds => "vm.kinds"}

:javascript
  miq_bootstrap('.topology');
