- message = n_("1 Instance to be Evacuated", "%{amount} Instances to be Evacuated", @evacuate_items.length) % {:amount => @evacuate_items.length}
- evacuate_items = @evacuate_items.length == 1 ? @evacuate_items[0].id : ''

%vm-cloud-evacuate-form{'vm-cloud-evacuate-form-id' => 'new', 'message' => message, 'evacuate_items' => evacuate_items}


- if @evacuate_items
  - @embedded = true
  - @quadicon_no_url = true
  = render :partial => "layouts/gtl"

- unless @explorer
  %table{:width => '100%'}
    %tr
      %td{:align => 'right'}
        #buttons_on
          = button_tag(t = _('Submit'),
            :class   => "btn btn-primary",
            :alt     => t,
            :title   => t,
            :onclick => "miqAjaxButton('#{url_for_only_path(:action => "evacuate_vm", :button => "submit")}');")
          = button_tag(t = _('Cancel'),
            :class   => "btn btn-default",
            :alt     => t,
            :title   => t,
            :onclick => "miqAjaxButton('#{url_for_only_path(:action => "evacuate_vm", :button => "cancel")}');")
:javascript
  miq_bootstrap('vm-cloud-evacuate-form');
