- url = {:url => url_for_only_path(:action => 'policy_options', :id => @record.id)}.to_json
- url2 = {:url => url_for_only_path(:action => 'policy_show_options', :id => @record.id)}.to_json
#policy_options_div
  - unless @explorer
    %h1#explorer_title
      %span#explorer_title_text
        = safe_right_cell_text
  %h3
    = _('Options')
  .form-horizontal
    .form-group
      %label.control-label.col-md-2
        = _('Show out of scope items:')
      .col-md-8
        = check_box_tag("out_of_scope", "1", @policy_options[:out_of_scope],
                        "data-miq_sparkle_on" => true,
                        "data-miq_sparkle_off" => true,
                        "data-miq_observe_checkbox" => url)
    .form-group
      %label.control-label.col-md-2
        = _('Show policies:')
      .col-md-8
        %label.checkbox-inline
          = check_box_tag("passed", "1", @policy_options[:passed],
                          "data-miq_sparkle_on" => true,
                          "data-miq_sparkle_off" => true,
                          "data-miq_observe_checkbox" => url2)
          = _("Successful").html_safe
        %label.checkbox-inline
          = check_box_tag("failed", "1", @policy_options[:failed],
                          "data-miq_sparkle_on" => true,
                          "data-miq_sparkle_off" => true,
                          "data-miq_observe_checkbox" => url2)
          = _("Failed").html_safe
