- @angular_form = true

%form#form_div.form-horizontal{"name"          => "angularForm",
                               "ng-controller" => "reconfigureFormController as vm",
                               "miq-form"      => 'true',
                               "model-copy"    => 'vm.modelCopy',
                               "ng-show"       => "vm.afterGet"}
  = render :partial => "layouts/flash_msg"
  %h3= _('Options')
  .form-group{"ng-class" => "{'has-error': angularForm.memory.$invalid}"}
    %label.col-md-2.control-label
      = _('Memory')
    .col-md-1
      %input{"bs-switch"       => "",
             "type"            => "checkbox",
             "name"            => "cb_memory",
             "ng-model"        => "vm.cb_memory",
             "ng-change"       => "vm.cbChange()",
             "switch-on-text"  => _("Yes"),
             "switch-off-text" => _("No")}
    #memory_div{"ng-if" => "vm.cb_memory"}
      .col-md-4
        %input.form-control{"type"              => "text",
                            "id"                => "memory_value",
                            "name"              => "memory",
                            "ng-model"          => "vm.reconfigureModel.memory",
                            "ng-change"         => "vm.cbChange()",
                            "maxlength"         => "50",
                            "ng-pattern"        => "/^[-+]?[0-9]+$/",
                            "miqrequired"       => "",
                            "checkchange"       => "",
                            "auto-focus"        => "",
                            "validate-multiple" => "4",
                            :miqmin             => "#{@reconfig_limits[:min__vm_memory]}",
                            :miqmax             => "#{@reconfig_limits[:max__vm_memory]}",
                            :memtype            => "{{vm.reconfigureModel.memory_type}}"}
        %span{"style"=>"color:red", "ng-show" => "angularForm.memory.$invalid"}
          = _(" Memory value not in range or not a multiple of 4")
        %span{"style"=>"color:red", "ng-show" => "angularForm.memory.$required"}
          = _(" Valid memory value required")
      .col-md-2
        = select_tag('mem_type',
                     options_for_select(%w(MB GB)),
                     "ng-model"                    => "vm.reconfigureModel.memory_type",
                     "ng-change"                   => "vm.memtypeChanged()",
                     "maxlength"                   => "20",
                     "required"                    => "",
                     "selectpicker-for-select-tag" => "")
        = (@reconfig_memory_note)
  .form-group
    %label.col-md-2.control-label
      = _('Processors')
    .col-md-1
      %input{"bs-switch"       => "",
         "type"            => "checkbox",
         "name"            => "cb_cpu",
         "ng-model"        => "vm.cb_cpu",
         "ng-change"       => "vm.cbChange()",
         "switch-on-text"  => _("Yes"),
         "switch-off-text" => _("No")}
    %br
    #cpu_div{"ng-if" => "vm.cb_cpu", :style => "margin-left: 20px"}
      %h3= _(' Processor Options')
      - if @socket_options.length > 1
        .form-group{"ng-class" => "{'has-error': angularForm.socket_count.$invalid}"}
          %label.col-md-2.control-label
            = _('Sockets')
          .col-md-2
            = select_tag('socket_count',
                        options_for_select([["<#{_('Choose')}>", '']] + @socket_options, disabled: ["<#{_('Choose')}>", nil]),
                        "ng-model"                    => "vm.reconfigureModel.socket_count",
                        "ng-change"                   => "vm.processorValueChanged()",
                        "miqrequired"                 => "",
                        "maxlength"                   => "100",
                        "checkchange"                 => "",
                        "selectpicker-for-select-tag" => "")
            - if @socket_options.length <= 1
              @socket_options[0]
      -  if @cores_options.length > 1
        .form-group{"ng-class" => "{'has-error': angularForm.cores_per_socket_count.$invalid}"}
          %label.col-md-2.control-label
            = _('Cores Per Socket')
          .col-md-2
            = select_tag('cores_per_socket_count',
                          options_for_select([["<#{_('Choose')}>", '']] + @cores_options, disabled: ["<#{_('Choose')}>", nil]),
                          "ng-model"                    => "vm.reconfigureModel.cores_per_socket_count",
                          "ng-change"                   => "vm.processorValueChanged()",
                          "ng-pattern"                  => "/^[-+]?[0-9]+$/",
                          "miqrequired"                 => "",
                          "maxlength"                   => "100",
                          "checkchange"                 => "",
                          "selectpicker-for-select-tag" => "")
            - if @cores_options.length <= 1
              @cores_options[0]
            %span.help-block{"ng-if" => "angularForm.cores_per_socket_count.$dirty"}
              =_("Note: a restart of the virtual machine might be required for the changes to apply.")
        .form-group{"ng-class" => "{'has-error': angularForm.total_cpus.$invalid}"}
          %label.col-sm-2.control-label
            = _('Total Processors')
          .col-md-2
            %input.form-control{"type"           => "text",
                                "id"             => "total_cpus",
                                "name"           => "total_cpus",
                                "ng-model"       => "vm.reconfigureModel.total_cpus",
                                :readonly        => '',
                                "maxlength"      => "50",
                                "validate_total" => "",
                                "miqmax"         => "#{@reconfig_limits[:max__total_vcpus]}",
                                "auto-focus"     => ""}
            %span{"style" => "color:red", "ng-show" => "angularForm.total_cpus.$invalid"}
              = _(" Total processors value larger than the maximum allowed")
  - if supports_reconfigure_disks?
    %hr
    %div
      %h3
        = _('Disks')
        %table{:width => "100%", :align => "bottom"}
          %tr
            %td#buttons_on{:align => "right"}
              %button.btn.btn-primary{:type      => "button",
                                      "ng-click" => "vm.enableDiskAdd()",
                                      :align     => "left",
                                      "ng-show"  => "!vm.reconfigureModel.addEnabled"}= _('Add Disk')
              %button.btn.btn-default.btn-sm{:type      => "button",
                                             "ng-click" => "vm.hideAddDisk()",
                                             "ng-show"  => "vm.reconfigureModel.addEnabled"}= _('Cancel Add')
      %table.table.table-striped.table-condensed.table-bordered
        %thead
          %th= _('Name')
          %th= _('Type')
          %th{"ng-if" => "vm.vm_vendor == 'vmware' && vm.vm_type.includes('InfraManager')"}= _('Mode')
          %th{"ng-if" => "vm.vm_vendor == 'vmware' && vm.vm_type.includes('InfraManager')"}= _('Controller Type')
          %th= _('Size')
          %th= _('Unit')
          %th{"ng-if" => "vm.vm_vendor == 'vmware' && vm.vm_type.includes('InfraManager')"}= _('Dependent')
          %th{"ng-hide" => "vm.isVmwareCloud()"}= _('Delete Backing')
          %th{"ng-if" => "vm.vm_vendor == 'redhat'"}= _('Bootable')
          - if supports_reconfigure_disksize?
            %th{:colspan => 2}= _('Actions')
          - else
            %th= _('Actions')
        %tbody
          %tr{"ng-form" => "trForm", "ng-repeat" => "disk in vm.reconfigureModel.vmdisks", "ng-class" => "{'danger': disk.add_remove == 'remove', 'active': disk.add_remove == 'add'}"}
            %td
              {{disk.hdFilename}}
            %td
              {{disk.hdType}}
            %td{"ng-if" => "vm.vm_vendor == 'vmware' && vm.vm_type.includes('InfraManager')"}
              {{disk.hdMode}}
            %td{"ng-if" => "vm.vm_vendor == 'vmware' && vm.vm_type.includes('InfraManager')"}
              {{disk.new_controller_type}}
            %td{"ng-if" => "disk.add_remove != 'resizing'"}
              {{disk.hdSize}}
            %td{"ng-if" => "disk.add_remove == 'resizing'"}
              %input.form-control{"type"        => "text",
                                  "id"          => "dvcResize",
                                  "name"        => "dvcResize",
                                  "ng-model"    => "disk.hdSize",
                                  "required"    => "",
                                  "ng-pattern"  => "hdpattern",
                                  "placeholder" => _("Enter Size"),
                                  "validate-multiple" => "1",
                                  :miqmin             => "{{ (disk.orgHdUnit === 'GB') ? (1024 * disk.orgHdSize + 1) : (1 * disk.orgHdSize + 1) }}",
                                  :miqmax             => "2097152",
                                  :memtype            => "{{disk.hdUnit}}"}
              %span{"style" => "color:red", "ng-show" => "trForm.dvcResize.$invalid"}
                = _("Disk size between {{1*disk.orgHdSize+1}} {{disk.orgHdUnit}} and 2TB required")
            %td{"ng-if" => "disk.add_remove != 'resizing'"}
              {{disk.hdUnit}}
            %td{"ng-if" => "disk.add_remove == 'resizing'"}
              = select_tag('hdUnit',
                       options_for_select(%w(MB GB)),
                       "ng-model"                    => "disk.hdUnit",
                       "ng-change"                   => "vm.resizeDiskUnitChanged(disk)",
                       "data-width"                  => "auto",
                       "required"                    => "",
                       "selectpicker-for-select-tag" => "")
            %td{"ng-if" => "vm.vm_vendor == 'vmware' && vm.vm_type.includes('InfraManager')"}
              %input{"bs-switch"     => "",
                     :data           => {:on_text => _('Yes'), :off_text => _('No'), :size => 'mini'},
                     "type"          => "checkbox",
                     "name"          => "vm.cb_dependent",
                     "ng-model"      => "disk.cb_dependent",
                     "switch-active" => "{{disk.add_remove!='add'}}",
                     "ng-readonly"   => "disk.add_remove=='add'",
                     "ng-if"         => "disk.add_remove=='add'"}
            %td{"ng-hide" => "vm.isVmwareCloud()"}
              %input{"bs-switch"     => "",
                     :data           => {:on_text => _('Yes'), :off_text => _('No'), :size => 'mini'},
                     "type"          => "checkbox",
                     "name"          => "cb_deletebacking",
                     "ng-model"      => "disk.delete_backing",
                     "ng-readonly"   => "disk.add_remove=='remove'",
                     "switch-active" => "{{disk.add_remove!='remove'}}",
                     "ng-if"         => "disk.add_remove!='add'"}
            %td{"ng-if" => @reconfigitems.first.vendor == 'redhat'}
              %input{"bs-switch"     => "",
                     :data           => {:on_text => _('Yes'), :off_text => _('No'), :size => 'mini'},
                     "type"          => "checkbox",
                     "name"          => "cb_bootable",
                     "ng-model"      => "disk.cb_bootable",
                     "ng-readonly"   => true,
                     "switch-active" => false}
            - if supports_reconfigure_disksize?
              %td.action-cell
                %button.btn.btn-default.btn-block.btn-sm{:type      => "button",
                                              "ng-if"    => "disk.add_remove == ''",
                                              "ng-click" => "vm.enableResizeDisk(disk)"}= _('Resize')
                %button.btn.btn-default.btn-block.btn-sm{:type      => "button",
                                              "ng-if"    => "disk.add_remove == 'resizing'",
                                              "ng-disabled" => "trForm.dvcResize.$invalid || disk.hdSize == disk.orgHdSize",
                                              "ng-click" => "vm.resizeDisk(disk)"}= _('Confirm Resize')
            %td.action-cell
              %button.btn.btn-default.btn-block.btn-sm{:type      => "button",
                                            "ng-if"    => "disk.add_remove == ''",
                                            "ng-click" => "vm.deleteDisk(disk.hdFilename)"}= _('Delete')
              %button.btn.btn-default.btn-block.btn-sm{:type      => "button",
                                             "ng-if"    => "disk.add_remove == 'remove'",
                                             "ng-click" => "vm.cancelAddRemoveDisk(disk)"}= _('Cancel Delete')
              %button.btn.btn-default.btn-block.btn-sm{:type      => "button",
                                             "ng-if"    => "disk.add_remove == 'add'",
                                             "ng-click" => "vm.cancelAddRemoveDisk(disk)"}= _('Cancel Add')
              %button.btn.btn-default.btn-block.btn-sm{:type      => "button",
                                            "ng-if"    => "disk.add_remove == 'resizing'",
                                            "ng-click" => "vm.cancelAddRemoveDisk(disk)"}= _('Cancel Resize')
              %button.btn.btn-default.btn-block.btn-sm{:type      => "button",
                                            "ng-if"    => "disk.add_remove == 'resize'",
                                            "ng-click" => "vm.cancelAddRemoveDisk(disk)"}= _('Cancel Resize')
          %tr{"ng-if"       => "vm.reconfigureModel.addEnabled",
              "ng-form"     => "rowForm"}
            %td
            %td
              - options = @reconfigitems.first.try(:disk_types) || %w(thick thin)
              - default_option = @reconfigitems.first.try(:disk_default_type) || 'thin'
              = select_tag('hdType',
                           options_for_select(options, :selected => default_option),
                           "ng-model"                    => "vm.reconfigureModel.hdType",
                           "ng-change"                   => "",
                           "data-width"                  => "auto",
                           "required"                    => "",
                           "selectpicker-for-select-tag" => "")
            %td{"ng-if" => "vm.vm_vendor == 'vmware' && vm.vm_type.includes('InfraManager')"}
              = select_tag('hdMode',
                            options_for_select(%w(persistent nonpersistent)),
                            "ng-model"                    => "vm.reconfigureModel.hdMode",
                            "ng-change"                   => "vm.hdModeChanged()",
                            "data-width"                  => "auto",
                            "required"                    => "",
                            "selectpicker-for-select-tag" => "",
                            "width"                       => "10")
            %td{"ng-if" => "vm.vm_vendor == 'vmware' && vm.vm_type.includes('InfraManager')"}
              - options = @reconfigitems.first.try(:scsi_controller_types) || {}
              = select_tag('Controller',
                           options_for_select(options),
                           "ng-model"                    => "vm.reconfigureModel.new_controller_type",
                           "data-width"                  => "auto",
                           "required"                    => "",
                           "selectpicker-for-select-tag" => "")
            %td
              %input.form-control{"type"        => "text",
                                  "id"          => "dvcSize",
                                  "name"        => "dvcSize",
                                  "ng-model"    => "vm.reconfigureModel.hdSize",
                                  "required"    => "",
                                  "ng-pattern"  => "hdpattern",
                                  "placeholder" => _("Enter New Size"),
                                  "validate-multiple" => "1",
                                  :miqmin             => "1",
                                  :miqmax             => "2097152",
                                  :memtype            => "{{vm.reconfigureModel.hdUnit}}"}
              %span{"style" => "color:red", "ng-show" => "rowForm.dvcSize.$invalid"}
                = _("Disk size between 1 MB and 2TB required")
            %td
              = select_tag('hdUnit',
                       options_for_select(%w(MB GB)),
                       "ng-model"                    => "vm.reconfigureModel.hdUnit",
                       "ng-change"                   => "vm.resizeDiskUnitChanged(vm.reconfigureModel)",
                       "data-width"                  => "auto",
                       "required"                    => "",
                       "selectpicker-for-select-tag" => "")
            %td{"ng-if" => "vm.vm_vendor == 'vmware' && vm.vm_type.includes('InfraManager')"}
              %input{"bs-switch" => "",
                     :data       => {:on_text => _('Yes'), :off_text => _('No'), :size => 'mini'},
                     "type"      => "checkbox",
                     "name"      => "vm.cb_dependent",
                     "ng-model"  => "vm.reconfigureModel.cb_dependent"}
            %td{"ng-hide" => "vm.isVmwareCloud()"}
            %td{"ng-if" => @reconfigitems.first.vendor == 'redhat'}
              %input{"bs-switch" => "",
                     :data           => {:on_text => _('Yes'), :off_text => _('No'), :size => 'mini'},
                     "type"          => "checkbox",
                     "name"          => "vm.cb_bootable",
                     "ng-model"      => "vm.reconfigureModel.cb_bootable"}
            %td.action-cell
              %button.btn.btn-default.btn-block.btn-sm{:type => "button",
                                                                "ng-click" => "vm.addDisk()",
                                                                "ng-disabled" => "rowForm.dvcSize.$invalid"}= _(' Add ')
            - if supports_reconfigure_disksize?
              %td.action-cell
                %button.btn.btn-default.btn-block.btn-sm{:type => "button",
                                                                  "ng-click" => "vm.hideAddDisk()"}= _('Cancel Add')
  - if supports_reconfigure_network_adapters? && role_allows?(:feature => 'vm_reconfigure_networks')
    %hr
    %div
      %h3
        = _('Network Adapters')
        %table{:width => "100%", :align => "bottom"}
          %tr
            %td#buttons_on_nics{:align => "right"}
              %button.btn.btn-primary{:type      => "button",
                                      "ng-click" => "vm.enableAddNetworkAdapter()",
                                      :align     => "left",
                                      "ng-show"  => "!vm.reconfigureModel.nicsEnabled",
                                      "ng-disabled" => "!vm.reconfigureModel.enableAddNetworkAdapterButton"}= _('Add Network')
              %button.btn.btn-default.btn-sm{:type      => "button",
                                             "ng-click" => "vm.hideAddNetworkAdapter()",
                                             "ng-show"  => "vm.reconfigureModel.nicsEnabled"}= _('Cancel Add')
      %table.table.table-striped.table-condensed.table-bordered
        %thead
          %th= _('Name')
          %th{"ng-if" => "!vm.isVmwareCloud()"}= _('vLan')
          %th{"ng-if" => "vm.isVmwareCloud()"}= _('Network')
          %th= _('MAC Address')
          %th{:colspan => 2}= _('Actions')
        %tr{"ng-repeat" => "networkAdapter in vm.reconfigureModel.vmNetworkAdapters",
            "ng-class"  => "{'danger': networkAdapter.add_remove == 'remove', 'active': networkAdapter.add_remove == 'add'}"}
          %td
            {{networkAdapter.name}}
          %td{"ng-if" => "!vm.isVmwareCloud() && networkAdapter.add_remove == 'update'"}
            - default_option = [("{{networkAdapter.vlan}}"),'']
            = select_tag('vLan',
                       options_for_select([default_option] + @vlan_options, default_option),
                       "ng-model"                    => "networkAdapter.vLan_edit_requested",
                       "ng-change"                   => "",
                       "data-width"                  => "auto",
                       "required"                    => "",
                       "selectpicker-for-select-tag" => "")
          %td{"ng-if" => "!vm.isVmwareCloud() && networkAdapter.add_remove != 'update'"}
            {{networkAdapter.vlan}}
          %td{"ng-if" => "vm.isVmwareCloud()"}
            {{networkAdapter.network || "#{_('None')}"}}
          %td.narrow
            {{networkAdapter.mac}}
          %td.action-cell
            %button.btn.btn-default.btn-block.btn-sm{:type => "button",
                                                              "ng-if"    => "!vm.isVmwareCloud() && networkAdapter.add_remove == ''",
                                                              "ng-disabled" => "vm.checkEditNetworkAdapter()",
                                                              "ng-click" => "vm.editExistingNetworkAdapter(networkAdapter)"}= _('Edit')
            %button.btn.btn-default.btn-block.btn-sm{:type => "button",
                                                              "ng-if"    => "networkAdapter.add_remove == 'update'",
                                                              "ng-disabled" => "!vm.validateEditSelectedNetwork(networkAdapter)",
                                                              "ng-click" => "vm.confirmEditSelectedNetworkAdapter(networkAdapter)"}= _('Confirm Edit')
          %td.action-cell
            %button.btn.btn-default.btn-block.btn-sm{:type => "button",
                                                              "ng-if"    => "networkAdapter.add_remove == ''",
                                                              "ng-click" => "vm.removeExistingNetworkAdapter(networkAdapter)"}= _('Delete')
            %button.btn.btn-default.btn-block.btn-sm{:type => "button",
                                                              "ng-if"    => "networkAdapter.add_remove == 'remove'",
                                                              "ng-disabled" => "!vm.reconfigureModel.enableAddNetworkAdapterButton",
                                                              "ng-click" => "vm.cancelAddRemoveNetworkAdapter(networkAdapter)"}= _('Cancel Delete')
            %button.btn.btn-default.btn-block.btn-sm{:type => "button",
                                                              "ng-if"    => "networkAdapter.add_remove == 'add'",
                                                              "ng-click" => "vm.cancelAddRemoveNetworkAdapter(networkAdapter)"}= _('Cancel Add')
            %button.btn.btn-default.btn-block.btn-sm{:type => "button",
                                                              "ng-if"    => "networkAdapter.add_remove == 'update' || networkAdapter.add_remove == 'edit'",
                                                              "ng-click" => "vm.cancelChangeExistingNetworkAdapter(networkAdapter)"}= _('Cancel Edit')
        %tr{"ng-if"       => "vm.reconfigureModel.showDropDownNetwork",
            "ng-form"     => "rowForm"}
          %td{"ng-if" => "!vm.isVmwareCloud()"}
          %td{"ng-if" => "vm.isVmwareCloud()"}
            = select_tag('adapterIdx',
                       options_for_select([["<#{_('Choose')}>", '']] + @avail_adapter_names, :disabled => ["<#{_('Choose')}>", nil]),
                       "ng-model"                    => "vm.reconfigureModel.name",
                       "ng-change"                   => "",
                       "data-width"                  => "auto",
                       "required"                    => "true",
                       "selectpicker-for-select-tag" => "")
          %td{"ng-if" => "vm.isVmwareCloud()"}
            %select{'name'                    => 'adapterNetwork',
                'ng-model'                    => 'vm.reconfigureModel.adapterNetwork',
                'ng-options'                  => 'network for network in vm.reconfigureModel.availableAdapterNetworks',
                'miq-select'                  => true,
                'selectpicker-for-select-tag' => ''}
              %option{"value" => ""}
                = "<#{_('Choose')}>"
          %td{"ng-hide" => "vm.isVmwareCloud()"}
            = select_tag('vLan',
                       options_for_select([["<#{_('Choose')}>", '']] + @vlan_options, :disabled => ["<#{_('Choose')}>", nil]),
                       "ng-model"                    => "vm.reconfigureModel.vLan_requested",
                       "ng-change"                   => "",
                       "data-width"                  => "auto",
                       "required"                    => "",
                       "selectpicker-for-select-tag" => "")
          %td
          %td.action-cell
            %button.btn.btn-default.btn-block.btn-sm{:type => "button",
                       "ng-click" => "vm.processAddSelectedNetwork();rowForm.vLan.selectionpicker('refresh')",
                       "ng-disabled" => "!vm.validateAddSelectedNetwork()"}= _('Confirm Add')
          %td.action-cell
            %button.btn.btn-default.btn-block.btn-sm{:type => "button",
                                                              "ng-click" => "vm.hideAddNetworkAdapter()"}= _('Cancel Add')

  %hr

  - if supports_reconfigure_cdroms? && role_allows?(:feature => 'vm_reconfigure_drives')
    %div
      %h3
        = _('CD/DVD Drives')
      %table.table.table-striped.table-condensed.table-bordered
        %thead
          %th= _('Name')
          %th= _('Host File')
          %th{:colspan => 3}= _('Actions')
        %tr{"ng-repeat" => "cdRom in vm.reconfigureModel.vmCDRoms",
            "ng-class"  => "{'danger': cdRom.connected_status == 'disconnected', 'active': cdRom.connected_status == 'connected'}"}
          %td
            {{cdRom.device_name}}
          %td{"ng-if" => "cdRom.connect_disconnect != 'connecting'"}
            {{cdRom.filename}}
          %td{"ng-if" => "cdRom.connect_disconnect == 'connecting'"}
            = select_tag('isoName',
                       options_for_select([["<#{_('Choose')}>", '']] + @iso_options, :disabled => ["<#{_('Choose')}>", nil]),
                       "ng-model"                    => "vm.selected_iso",
                       "ng-change"                   => "",
                       "data-width"                  => "auto",
                       "required"                    => "true",
                       "selectpicker-for-select-tag" => "")
          %td.action-cell
            %button.btn.btn-default.btn-block.btn-sm{:type      => "button",
                                                     "ng-if"    => "cdRom.connect_disconnect != 'connecting' && cdRom.connect_disconnect != 'disconnecting'",
                                                     "ng-click" => "vm.enableConnectCDRom(cdRom)"}= _('Connect')
            %button.btn.btn-default.btn-block.btn-sm{:type  => "button",
                                                     "ng-if"    => "cdRom.connect_disconnect == 'connecting'",
                                                     "ng-disabled" => "cdRom.filename == cdRom.orgfilename",
                                                     "ng-click" => "vm.connectCDRom(cdRom)"}= _('Confirm Connect')
            %button.btn.btn-default.btn-block.btn-sm{:type  => "button",
                                                     "ng-if"    => "cdRom.filename != ''",
                                                     "ng-click" => "vm.enableDisconnectCDRom(cdRom)"}= _('Disconnect')
            %button.btn.btn-default.btn-block.btn-sm{:type  => "button",
                                                     "ng-if"    => "cdRom.connect_disconnect == 'disconnecting'",
                                                     "ng-disabled" => "cdRom.connect_disconnect != 'disconnecting'",
                                                     "ng-click" => "vm.disconnectCDRom(cdRom)"}= _('Confirm')
          %td.action-cell
            %button.btn.btn-default.btn-block.btn-sm{:type      => "button",
                                                     "ng-if"    => "cdRom.connect_disconnect == 'connect'",
                                                     "ng-click" => "vm.cancelCDRomConnectDisconnect(cdRom)"}= _('Cancel Connect')
            %button.btn.btn-default.btn-block.btn-sm{:type      => "button",
                                                     "ng-if"    => "cdRom.connect_disconnect == 'disconnect'",
                                                     "ng-click" => "vm.cancelCDRomConnectDisconnect(cdRom)"}= _('Cancel Disconnect')

    %hr


  %table{:width => "100%", :align => "bottom"}
    %tr
      %td#buttons_on{:align => "right"}
        %miq-button{:name      => t = _('Submit'),
                    :title     => t,
                    :alt       => t,
                    :enabled   => "!((angularForm.$pristine && !vm.cb_disks && !vm.cb_networkAdapters && !vm.cb_cdRoms) || angularForm.$invalid || (!vm.cb_memory && !vm.cb_cpu && !vm.cb_disks && !vm.cb_networkAdapters && !vm.cb_cdRoms))",
                    'on-click' => "vm.submitClicked()",
                    :primary   => 'true'}
        %miq-button{:name      => t = _('Reset'),
                    :title     => t,
                    :alt       => t,
                    :enabled   => "!(angularForm.$pristine && !vm.cb_disks)",
                    'on-click' => "vm.resetClicked()",
                    'ng-show'  => '!newRecord'}
        %miq-button{:name      => t = _('Cancel'),
                    :title     => t,
                    :alt       => t,
                    :enabled   => "true",
                    'on-click' => "vm.cancelClicked()"}
%h3= _('Affected VMs')
- if @reconfigitems
  - @edit ||={}
  - @edit[:object_ids] = @reconfigitems.collect(&:id)
  - @embedded = true
  - @gtl_type = "list"
  = render :partial => "layouts/gtl"

:javascript
  ManageIQ.angular.app.value('reconfigureFormId', '#{@request_id || "new"}');
  ManageIQ.angular.app.value('objectIds', #{ @reconfigitems.collect(&:id) });
  miq_bootstrap('#form_div');
