%form#form_div{"name"          => "angularForm",
               "ng-controller" => "vmCloudResizeFormController as vm",
               "miq-form"      => true,
               "form-changed"  => '',
               "model"         => "vm.vmCloudModel",
               "model-copy"    => "vm.modelCopy"}
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Reconfigure Instance')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Current Flavor')
      .col-md-8
        = @record.flavor.name_with_details if @record.flavor
    .form-group
      %label.col-md-2.control-label
        = _('Choose Flavor')
      .col-md-8
        %select{:name        => 'flavor_id',
                'ng-model'   => 'vm.vmCloudModel.flavor_id',
                'ng-options' => 'flavor.id as flavor.name for flavor in vm.flavors',
                :miqrequired => true}
  = render :partial => 'layouts/angular/custom_form_buttons_controller_as', :locals => {:button_label => _('Submit'), :button_click => 'vm.submitClicked()'}

:javascript
  ManageIQ.angular.app.value('vmCloudResizeFormId', '#{@request_id || "new"}');
  ManageIQ.angular.app.value('objectId', '#{@record.id}');
  miq_bootstrap('#form_div');
