#snap-form
:javascript
  var snapForm = ManageIQ.component.newInstance(
    'SnapshotForm',
    {
      onSubmit: function(values) {
        if(values.snap_memory) {
          values.snap_memory = 1;
        }
        miqAjaxButton('#{url_for_only_path(:action => "snap_vm", :id => @record.id, :button => @edit ? "create" : nil)}', values);
      },
      onCancel: function() {
        miqAjaxButton('#{url_for_only_path(:action => "snap_vm", :id => @record.id, :button =>  @edit ? "cancel" : nil)}');
      },
      hideName: #{@record.vendor == "redhat"},
      nameRequired: #{@record.vendor != "redhat"},
      descriptionRequired: #{@record.vendor == "redhat"},
      errorMessages: {
        name: __('Required')
      },
      labels: {
        name: __('Name'),
        description: __('Description'),
        snapMemory: __('Snapshot VM memory'),
        create: __('Create'),
        cancel: __('Cancel')
      }
    },
    $('#snap-form').get(0)
  );
