= render :partial => 'layouts/doctype'
%html{:lang => I18n.locale.to_s.sub('-', '_')}
  %head
    = favicon_link_tag
    = javascript_include_tag 'jquery/dist/jquery.js'
    :javascript
      // INITIALIZE
      $(document).ready(function(){
        window.location.href = "#{j(vmrc_uri.to_s)}";
        setTimeout(function () { window.close(); }, 8000);
      });

  %body
    = _('Starting the VMRC application ...')
