= render :partial => 'layouts/doctype'
%html{:lang => I18n.locale.to_s.sub('-', '_')}
  %head
    %title
      = _('%{product_name} WebMKS Remote Console') % {:product_name => Vmdb::Appliance.PRODUCT_NAME}
    = favicon_link_tag
    = stylesheet_link_tag '/webmks/css/wmks-all.css', 'application'
    = javascript_include_tag 'jquery', 'bower_components/jquery-ui/jquery-ui.js', '/webmks/wmks.min.js', 'remote_console'
    :javascript
      $(function () {
        var mksOpts = {};

        // vCloud needs some additional settings and only supports uint8utf8 socket protocol.
        if("#{@console[:is_vcloud]}" === 'true'){
          mksOpts.VCDProxyHandshakeVmxPath = "#{@console[:vmx]}";
          mksOpts.enableUint8Utf8 = true;
        }

        var wmks = WMKS.createWMKS('remote-console', mksOpts).register(WMKS.CONST.Events.CONNECTION_STATE_CHANGE, function (event,data) {
          if(data.state == WMKS.CONST.ConnectionState.CONNECTED) {
            $('#connection-status').text('#{_('Connected')}');
            console.log("connection state change: connected");
          }
        });

        var host = window.location.hostname;
        var encrypt = window.location.protocol === 'https:';
        var port = encrypt ? 443 : 80;
        if (window.location.port) {
          port = window.location.port;
        }
        var proto = encrypt ? 'wss' : 'ws';

        wmks.connect(proto + "://" + host + ":" + port + "/#{@console[:url]}");

        $('#ctrlaltdel').on('click', function() {
          wmks.sendCAD();
        });

        $('#keymap').on('change', function() {
          wmks.setOption('keyboardLayoutId', this.value);
        });
      });

  %body
    #remote-console
    = render :partial => 'shared/remote_console_footer', :layout => false, :locals => { :console_type => 'WebMKS' }
