= render :partial => 'layouts/doctype'
%html{:lang => I18n.locale.to_s.sub('-', '_')}
  %head
    %title
      = _('%{product_name} WebMKS Remote Console') % {:product_name => I18n.t('product.name')}
    = favicon_link_tag
    = stylesheet_link_tag 'webmks'
    = javascript_include_tag 'jquery/dist/jquery.js', 'jquery-ui/jquery-ui.js', 'webmks'
    :javascript
      $(function () {
        var wmks = WMKS.createWMKS('wmksContainer', {}).register(WMKS.CONST.Events.CONNECTION_STATE_CHANGE, function (event,data) {
          if(data.state == WMKS.CONST.ConnectionState.CONNECTED) {
            console.log("connection state change: connected");
          }
        });
        wmks.connect("#{j webmks_uri.to_s}");
      });
  %body
    #wmksContainer{:style => "position: absolute; width: 99%; height: 99%;"}
