- content_for :search do
  = render(:partial => "layouts/x_adv_searchbox", :locals => {:nameonly => (x_active_tree == :infra_networking_tree)})
  = render(:partial => 'layouts/quick_search')

-# These are the initial divs that will go inside center_cell_div
- if @record
  -# Showing a specific networking element
  #main_div
    = render :partial => "layouts/textual_groups_generic"
- else
  -# Showing a list of switches
  #main_div
    = render(:partial => 'layouts/x_gtl')
  -# Show Search box
  :javascript
    #{javascript_show_if_exists("adv_searchbox_div")}
