- if @record.try(:name)
  #accordion.panel-group
    = miq_accordion_panel(truncate(@record.name, :length => truncate_length), true, "icon") do
      = render :partial => 'shared/quadicon', :locals => {:record => @record}

    = miq_accordion_panel(_("Properties"), false, "stack_prop") do
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to_with_icon(_('Summary'), {:action => 'show', :id => @record, :display => 'main'},
                              :title => _("Show Summary"))

    = miq_accordion_panel(_("Relationships"), false, "stack_rel") do
      %ul.nav.nav-pills.nav-stacked
        %li
          = li_link(:count => @record.total_payloads,
                    :text          => _("Playbooks"),
                    :display       => 'playbooks',
                    :record_id     => @record.id,
                    :title         => _("Show all Playbooks"))
      - if @record.authentication.present?
        %ul.nav.nav-pills.nav-stacked
          %li
            = link_to(_("Credential: %{name}") % {:name => @record.authentication.name},
                      {:controller => "ansible_credential", :action => 'show', :id => @record.authentication.id},
                      :title => _("Show Credential for this Repository"))
