- if @explorer
  - style = "width:auto"
.panel-group{:style => style}
  - if @lastaction == "drift"
    = miq_accordion_panel(h(@drift_obj.name), true, "icon") do
      - if @sb[:compare_db] != "EmsCluster"
        - if @drift_obj.product_name != "" && @drift_obj.service_pack != ""
          - height = "100px"
        - elsif @drift_obj.product_name != "" || @drift_obj.service_pack != ""
          - height = "105px"
        - else
          - height = "110px"
      - else
        - height = "100px"
      %div{:style => "position: relative; width: 152px; height: #{height}; z-index: 0; margin: 0px auto;"}
        = render :partial => 'shared/quadicon', :locals => {:record => @drift_obj}
      - if @sb[:compare_db] != "EmsCluster"
        %div{:style => "margin-top: -25px;"}
          %center{:style => "color:#000;"}
            = @drift_obj.product_name
            %br
            = @drift_obj.service_pack

  = miq_accordion_panel(@lastaction == "drift" ? _("Drift Sections") : _("Comparison Sections"), true, "sections") do
    :javascript
      miqTreeResetState('#{j_str @sections_tree.name}');
    = render(:partial => 'shared/tree', :locals => {:tree => @sections_tree, :name => @sections_tree.name})
  .spacer
  %table{:width => "100%"}
    %tr
      %td{:align => 'right'}
        #buttons_on{:style => "display:#{session[:selected_sections].empty? ? "none" : "display"};"}
          = link_to(_('Apply'),
            {:action => 'sections_field_changed', :check => @lastaction},
            "data-miq_sparkle_on"  => true,
            "data-miq_sparkle_off" => true,
            :remote                => true,
            "data-method"          => :post,
            :title                 => _('Apply sections'),
            :class                 => "btn btn-primary pull-right",
            :alt                   => _('Apply sections'),
            :id                    => "sections_commit")
        #buttons_off{:style => "display:#{session[:selected_sections].empty? ? "display" : "none"};"}
          = button_tag(_("Apply"), :class => "btn btn-primary disabled", :title => _('At least one section must be selected'))
