- if @record.try(:name)
  #accordion.panel-group
    = miq_accordion_panel(truncate(@record.name, :length => truncate_length), true, "icon") do
      = render :partial => 'shared/quadicon', :locals => {:record => @record}

    = miq_accordion_panel(_("Properties"), false, "stack_prop") do
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to_with_icon(_('Summary'),
            {:action => 'show', :id => @record, :display => 'main'},
            :title => _("Show Summary"))

    = miq_accordion_panel(_("Relationships"), false, "stack_rel") do
      %ul.nav.nav-pills.nav-stacked
        - if role_allows?(:feature => "ems_configuration_show") && !@record.configuration_manager.nil?
          %li
            = link_to(_("Configuration Manager: %{name}") % {:name => @record.configuration_manager.name},
              {:controller => "ems_configuration", :action => 'show', :id => @record.configuration_manager.id},
              :title => _("Show parent Configuration Manager for this Configuration Profile"))
        - if role_allows?(:feature => "configured_system_show_list")
          = li_link(:count => @record.number_of(:configured_systems),
            :record_id     => @record.id,
            :tables        => 'configured_systems',
            :display       => 'configured_systems',
            :action        => 'show')
