- if @record.try(:name)
  #accordion.panel-group
    = miq_accordion_panel(truncate(@record.name, :length => truncate_length), true, "icon") do
      = render_quadicon(@record, :mode => :icon, :size => 72, :typ => :listnav)

    = miq_accordion_panel(_("Properties"), false, "ems_prop") do
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to_with_icon(_('Summary'), polymorphic_path(@record, :display => 'main'), :title => _("Show Summary"))
        = li_link(:if => (@record.has_events? || @record.has_events?(:policy_events)),
            :text       => _('Timelines'),
            :record     => @record,
            :display    => 'timeline',
            :title      => _("Show Timelines"))

    = miq_accordion_panel(_("Relationships"), false, "ems_rel") do
      %ul.nav.nav-pills.nav-stacked
        = li_link(:if => !(@record.number_of(:physical_servers) == 0),
          :text       => _("Physical Servers"),
          :record     => @record,
          :display    => 'physical_servers',
          :title      => _("Physical Servers"))
      
