#accordion.panel-group
  = render :partial => "layouts/listnav/#{controller_name}_show_list_with_treeview"
  - if @record.try(:name)
    = miq_accordion_panel(_("Properties"), false, "god_prop") do
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to(_('Summary'), {:action => 'show', :id => @record, :display => 'main'}, {:title => _("Show Summary")})
    = miq_accordion_panel(_("Relationships"), false, "god_rel") do
      %ul.nav.nav-pills.nav-stacked
        %li
          = li_link(:count => @record.number_of(:generic_objects),
            :tables        => 'instances',
            :record        => @record,
            :display       => 'generic_objects')
