%h3
  = _('Network Information')
.form-horizontal
  .form-group{"ng-class" => "{'has-error': angularForm.name.$invalid}"}
    %label.col-md-2.control-label
      = _('Network Name')
    .col-md-8
      %span.help-block{"ng-show" => "angularForm.name.$error.required"}
        = _("Required")
      %input.form-control{"type"         => "text",
                          "name"         => "name",
                          'ng-model'     => "vm.cloudNetworkModel.name",
                          'ng-maxlength' => 128,
                          "required"     => ""}
  .form-group
    %label.control-label.col-md-2{"for" => "cloud_network_external_facing"}
      = _('External Router')
    .col-md-8
      %input{"bs-switch"   => "",
             :data         => {:on_text => _('Yes'), :off_text => _('No'), :size => 'mini'},
             "type"        => "checkbox",
             "id"          => "cloud_network_external_facing",
             "name"        => "external_facing",
             "ng-model"    => "vm.cloudNetworkModel.external_facing"}
  .form-group
    %label.control-label.col-md-2{"for" => "cloud_network_enabled"}
      = _('Administrative State')
    .col-md-8
      %input{"bs-switch"   => "",
             :data         => {:on_text => _('Up'), :off_text => _('Down'), :size => 'mini'},
             "type"        => "checkbox",
             "id"          => "cloud_network_enabled",
             "name"        => "enabled",
             "ng-model"    => "vm.cloudNetworkModel.enabled"}
  .form-group
    %label.control-label.col-md-2{"for" => "cloud_network_shared"}
      = _('Shared')
    .col-md-8
      %input{"bs-switch"   => "",
             :data         => {:on_text => _('Yes'), :off_text => _('No'), :size => 'mini'},
             "type"        => "checkbox",
             "id"          => "cloud_network_shared",
             "name"        => "shared",
             "ng-model"    => "vm.cloudNetworkModel.shared"}
