%h3
  = _('Network Provider')
.form-horizontal
  .form-group
    %label.col-md-2.control-label
      = _('Network Manager')
    .col-md-8{"ng-class" => "{'has-error': angularForm.ems_id.$invalid}", "ng-if" => "vm.newRecord"}
      = select_tag("ems_id",
        options_for_select([["<#{_('Choose')}>", nil]] + @network_ems_provider_choices.sort),
                    "ng-change"                   => "vm.filterNetworkManagerChanged(vm.cloudNetworkModel.ems_id)",
                    "ng-model"                    => "vm.cloudNetworkModel.ems_id",
                    "pf-select"                   => true,
                    "required"                    => "",
                    "selectpicker-for-select-tag" => "")
      %span.help-block{"ng-show" => "angularForm.ems_id.$error.required"}
        = _("Required")
    .col-md-8{"ng-if" => "!vm.newRecord"}
      %input.form-control{"type"         => "text",
                          "name"         => "ems_name",
                          "ng-maxlength" => 128,
                          "ng-model"     => "vm.cloudNetworkModel.ems_name",
                          "ng-disabled"  => true}
  %h3
.form-horizontal{"ng-if" => "vm.cloudNetworkModel.ems_id"}
  %h3
    = _('Placement')
  .form-group
    %label.col-md-2.control-label
      = _('Cloud Tenant')
    .col-md-8{"ng-class" => "{'has-error': angularForm.cloud_tenant_id.$invalid}", "ng-if" => "vm.newRecord"}
      %select{"name"                        => "cloud_tenant_id",
              "ng-model"                    => "vm.cloudNetworkModel.cloud_tenant_id",
              "ng-options"                  => "tenant.id as tenant.name for tenant in vm.available_tenants",
              "pf-select"                   => true,
              "required"                    => "",
              "selectpicker-for-select-tag" => ""}
        %option{"value" => ""}
          = "<#{_('Choose')}>"
      %span.help-block{"ng-show" => "angularForm.cloud_tenant_id.$error.required"}
        = _("Required")
    .col-md-8{"ng-if" => "!vm.newRecord"}
      %input.form-control{"type"         => "text",
                          "name"         => "cloud_tenant_name",
                          "ng-maxlength" => 128,
                          "ng-model"     => "vm.cloudNetworkModel.cloud_tenant_name",
                          "ng-disabled"  => true}
.form-horizontal{"ng-if" => "vm.cloudNetworkModel.cloud_tenant_id"}
  %h3
    = _('Network Provider Information')
  .form-group
    %label.col-md-2.control-label
      = _('Provider Network Type')
    .col-md-8
      %select{"name"                        => "provider_network_type",
              "ng-disabled"                  => "!vm.newRecord",
              "ng-model"                    => "vm.cloudNetworkModel.provider_network_type",
              "ng-options"                  => "type as key for (key, type) in vm.providers_network_types",
              "pf-select"                   => true,
              "selectpicker-for-select-tag" => ""}
  .form-group{"ng-if" => "vm.cloudNetworkModel.provider_network_type"}
    %label.control-label.col-md-2
      = _('Physical Network')
    .col-md-8
      %input.form-control{"type"         => "text",
                          "name"         => "provider_physical_network",
                          "ng-disabled"   => "!vm.newRecord",
                          "ng-model"     => "vm.cloudNetworkModel.provider_physical_network",
                          'ng-maxlength' => 128}
  .form-group{"ng-if" => "vm.network_types_for_segmentation.test(vm.cloudNetworkModel.provider_network_type)"}
    %label.control-label.col-md-2
      = _('Segmentation ID')
    .col-md-8
      %input.form-control{"type"         => "text",
                          "name"         => "provider_segmentation_id",
                          "ng-disabled"   => "!vm.newRecord",
                          "ng-model"     => "vm.cloudNetworkModel.provider_segmentation_id",
                          'ng-maxlength' => 128}
%h3
  = _('Network Information')
.form-horizontal
  .form-group{"ng-class" => "{'has-error': angularForm.name.$invalid}"}
    %label.col-md-2.control-label
      = _('Network Name')
    .col-md-8
      %input.form-control{"type"         => "text",
                          "name"         => "name",
                          'ng-model'     => "vm.cloudNetworkModel.name",
                          'ng-maxlength' => 128,
                          "required"     => ""}
      %span.help-block{"ng-show" => "angularForm.name.$error.required"}
        = _("Required")
  .form-group
    %label.control-label.col-md-2{"for" => "cloud_network_external_facing"}
      = _('External Router')
    .col-md-8
      %input{"bs-switch"   => "",
             :data         => {:on_text => _('Yes'), :off_text => _('No'), :size => 'mini'},
             "type"        => "checkbox",
             "id"          => "cloud_network_external_facing",
             "name"        => "external_facing",
             "ng-model"    => "vm.cloudNetworkModel.external_facing"}
  .form-group
    %label.control-label.col-md-2{"for" => "cloud_network_enabled"}
      = _('Administrative State')
    .col-md-8
      %input{"bs-switch"   => "",
             :data         => {:on_text => _('Up'), :off_text => _('Down'), :size => 'mini'},
             "type"        => "checkbox",
             "id"          => "cloud_network_enabled",
             "name"        => "enabled",
             "ng-model"    => "vm.cloudNetworkModel.enabled"}
  .form-group
    %label.control-label.col-md-2{"for" => "cloud_network_shared"}
      = _('Shared')
    .col-md-8
      %input{"bs-switch"   => "",
             :data         => {:on_text => _('Yes'), :off_text => _('No'), :size => 'mini'},
             "type"        => "checkbox",
             "id"          => "cloud_network_shared",
             "name"        => "shared",
             "ng-model"    => "vm.cloudNetworkModel.shared"}
