%form.form-horizontal{'name'          => 'angularForm',
                      'form-changed'  => true,
                      'miq-form'      => true}
  %ems-shared-form{'after-get'                      => '$ctrl.afterGet',
                   'shared-form-model'              => "$ctrl.sharedFormModel",
                   'ems-type-options'               => "$ctrl.emsTypeOptions",
                   'new-record'                     => "$ctrl.newRecord",
                   'show-provider-region'           => "$ctrl.providerRegions.includes($ctrl.sharedFormModel.emstype)",
                   'provider-region-options'        => "$ctrl.providerRegionsOptions[$ctrl.sharedFormModel.emstype]",
                   'show-ems-project'               => "$ctrl.sharedFormModel.emstype === 'gce'",
                   'show-ems-tenant-id'             => "$ctrl.sharedFormModel.emstype === 'azure'",
                   'show-subscription-id'           => "$ctrl.sharedFormModel.emstype === 'azure'",
                   'show-api-version'               => "$ctrl.sharedFormModel.emstype === 'openstack' || $ctrl.sharedFormModel.emstype === 'openstack_infra'",
                   'api-version-options'            => "$ctrl.apiVersionOptions",
                   'show-keystone-domain'           => "$ctrl.sharedFormModel.api_version === 'v3' && ($ctrl.sharedFormModel.emstype === 'openstack' || $ctrl.sharedFormModel.emstype === 'openstack_infra')",
                   'show-nuage-api-version'         => "$ctrl.sharedFormModel.emstype === 'nuage_network'",
                   'nuage-api-version-options'      => "$ctrl.nuageApiVersionOptions",
                   'show-ems-infra-provider-id'     => "$ctrl.sharedFormModel.emstype === 'openstack' && $ctrl.sharedFormModel.openstack_infra_providers_exist",
                   'ems-infra-provider-id-options'  => "$ctrl.emsInfraProviderIdOptions",
                   'ems-zone-options'               => "$ctrl.emsZoneOptions",
                   'show-tenant-mapping'            => "$ctrl.sharedFormModel.emstype === 'openstack'",
                   'show-provider-region-input'     => "$ctrl.sharedFormModel.emstype === 'openstack' || $ctrl.sharedFormModel.emstype === 'openstack_infra'",
                   'show-vnc-start-port'            => "$ctrl.sharedFormModel.emstype_vm",
                   'ems-type-change'                => "$ctrl.emsTypeChange(type)"}

  %hr
  %div{"ng-if" => "$ctrl.sharedFormModel.emstype === 'azure' || $ctrl.sharedFormModel.emstype === 'ec2'"}
    %h3
      = _("Credentials")
    %auth-credentials{'form-model'                      => '$ctrl.sharedFormModel',
                      'model-copy'                      => '$ctrl.modelCopy',
                      'prefix'                          => "{{$ctrl.prefix}}",
                      'user-required'                   => true,
                      'password-required'               => true,
                      'new-record'                      => true,
                      'guid-regex'                      => "$ctrl.sharedFormModel.emstype === 'azure'",
                      'enable-valid-button'             => 'angularForm.emsSharedForm.$valid',
                      'form-labels'                     => '$ctrl.crendetialsLabels[$ctrl.sharedFormModel.emstype]',
                      'hide-user'                       => false,
                      'hide-password'                   => false,
                      'validate'                        => '$ctrl.validateClicked',
                      'check-authentication'            => '$ctrl.authenticationRequired',
                      'post-validation-model'           => '$ctrl.postValidationModel',
                      'post-validation-model-registry'  => '$ctrl.postValidationModelRegistry'}

  %div{"ng-if" => "$ctrl.sharedFormModel.emstype === 'gce'"}
    %h3
      = _('Endpoints')
    .form-group{"ng-class" => "{'has-error': angularForm.service_account.$invalid}"}
      %label.col-md-2.control-label{"for" => "service_account"}
        = _("Service Account JSON")
      .col-md-4
        %textarea.form-control{"id"                      => "service_account",
                               "name"                    => "service_account",
                               "required"                => true,
                               "ng-model"                => "$ctrl.sharedFormModel.service_account",
                               "prefix"                  => "service_account",
                               "ng-trim"                 => false,
                               "reset-validation-status" => "service_account_auth_status"}
        %span.help-block{"ng-show" => "angularForm.service_account.$error.required"}
          = _("Required")
    .form-group
      %label.col-md-2
      .col-md-4
        %miq-button.validate_button{:name            => _('Validate'),
                                    'on-click'       => "$ctrl.validateClicked()",
                                    :enabled         => "angularForm.emsSharedForm.$valid && angularForm.service_account.$valid",
                                    :xs              => 'true',
                                    :primary         => 'true'}
        %span.help-block{"ng-if" => "$ctrl.authenticationRequired", :style => "color: #cc0000"}
          = _("Validation Required")
    .form-group
      .col-md-12
        %span{:style => "color:black"}
          = _("Copy and paste the contents of your Service Account JSON file above.")
    .form-grou
      .col-md-12
        %span{:style => "color:black"}
          = _("Used to authenticate as a service account against your provider.")
      .col-md-12
        %span{:style => "color:black"}
          = _("Required. Should have privileged access, such as root or administrator.")
  %div{'ng-if' => '$ctrl.sharedFormModel.emstype === "openstack" || $ctrl.sharedFormModel.emstype === "vmware_cloud"'}
    %ems-edit-cloud-auth-tabs{'tabs'        => '$ctrl.tabs',
                              'active-tab'  => '{{"default"}}',
                              'change-active-tab' => '$ctrl.setActiveTab(tab)'}

    %ems-cloud-default-tab{'ng-show'                        => '$ctrl.activeTab === "default"',
                           'show-security-protocol'         => '$ctrl.sharedFormModel.emstype === "openstack"',
                           'openstack-security-protocols'   => '$ctrl.openstackSecurityProtocols',
                           'form-model'                     => '$ctrl.sharedFormModel',
                           'new-record'                     => '$ctrl.newRecord',
                           'model-copy'                     => '$ctrl.modelCopy',
                           'prefix'                         => '{{$ctrl.prefix}}',
                           'validate-clicked'               => '$ctrl.validateClicked',
                           'authentication-required'        => true,
                           'post-validation-model'          => '$ctrl.postValidationModel',
                           'post-validation-model-registry' => '$ctrl.postValidationModelRegistry'}
    %ems-cloud-events-tab{'ng-show'         => '$ctrl.activeTab === "ampq"',
                          'form-model'      => '$ctrl.sharedFormModel',
                          'show-none'       => '$ctrl.sharedFormModel.emstype === "vmware_cloud"',
                          'show-ceilometer' => '$ctrl.sharedFormModel.emstype === "openstack"',
                          'event-changed'   => '$ctrl.setEvent(event)'}
  .clear-fix
    .pull-right.button-group
      %miq-button{'enabled'   => 'angularForm.$valid',
                  'primary'   => true,
                  'name'      => _("Add"),
                  'title'     => _("Add"),
                  'alt'       => _("Add"),
                  'on-click'  => "$ctrl.addClicked()"}

      %miq-button{'name'      => _("Cancel"),
                  'title'     => _("Cancel"),
                  'alt'       => _("Cancel"),
                  'enabled'   => true,
                  'on-click'  => "$ctrl.cancelClicked()"}
