-# showing list of CIs
- if @custom_button_entities
  = render :partial => "layouts/flash_msg"
  = react 'ObjectTypesList', :list => @custom_button_entities.sort
- elsif @sb[:button_groups]
  - if @sb[:button_groups].blank?
    = render :partial => 'layouts/info_msg', :locals => {:message => _("No Items found.")}
  - else
    = render :partial => "layouts/flash_msg"
    = react 'ButtonGroupList', :list => @sb[:button_groups],
                                :nodeKey => "-ub-#{@nodetype[1]}",
                                :treeBox => x_active_tree == :sandt_tree ? 'sandt_tree' : 'ab_tree',
                                :treeId => x_node,
                                :type => 'cbg',
                                :recType => 'CustomButton'
- elsif @sb[:buttons]
  -# button node
  = render :partial => "layouts/flash_msg"
  - if @record && @record.kind_of?(CustomButtonSet)
    -# don't need basic info box for Unassigned button group
    = shared_button_list_summary(@record)
  - if @sb[:buttons].blank?
    = render :partial => 'layouts/info_msg', :locals => {:message => _("No Buttons found.")}
  - else
    = react 'ButtonList', :list => @sb[:buttons],
                          :treeId => x_node,
                          :treeBox => x_active_tree == :sandt_tree ? 'sandt_tree' : 'ab_tree',
                          :nodeType => @nodetype[0]
- elsif %w(ab_group_edit ab_group_new).include?(params[:pressed]) || (params[:button] == "reset" && params[:action] == "group_update")
  = render :partial => 'shared/buttons/group_form'                      
- elsif %w(ab_button_edit ab_button_new).include?(params[:pressed]) || (params[:button] == "reset" && params[:action] == "button_update") || (params[:button] == "paste" && params[:action] == "resolve")
  = render :partial => 'shared/buttons/ab_form'
- elsif params[:pressed] == "ab_group_reorder" || (params[:button] == "reset" && params[:action] == "ab_group_reorder")
  = render :partial => 'shared/buttons/group_order_form'
- elsif @custom_button
  - if params[:action] == 'button_update' && (params[:button] == 'visibility_expression' || params[:button] == 'enablement_expression')
    = render :partial => 'shared/buttons/ab_form'
  - else
    = render :partial => 'shared/buttons/ab_show'
