= render :partial => "layouts/flash_msg"
- case @display
- when "devices"
  - devices = devices_details
  - if devices.present?
    .form-horizontal
      .form-group
        - devices.each do |item|
          %label.col-md-2.control-label
            = h(item[:name])
          .col-md-10
            %p.form-control-static
              %i.fa-2x.fa-fw{:class => item[:icon]}
              = h(item[:description])
- when "os_info"
  - os_info = os_info_details
  - if os_info.present?
    .form-horizontal
      .form-group
        - os_info.each do |item|
          %label.col-md-2.control-label
            = h(item[:osinfo])
          .col-md-10
            %p.form-control-static
              = item[:description]
      .form-group
        %label.col-md-2.control-label
          = _('Hostname')
        .col-md-10
          %p.form-control-static
            = h(@record.hostname)
      .form-group
        %label.col-md-2.control-label
          = _('IP Address')
        .col-md-10
          %p.form-control-static
            = h(@record.ipaddress)

- when "hv_info"
  - vmminfo = vmm_info_details
  - if vmminfo
    .form-horizontal
      .form-group
        - vmminfo.each do |item|
          %label.col-md-2.control-label
            = h(item[:vmminfo])
          .col-md-10
            %p.form-control-static
              = h(item[:description])
- when "network"
  = render :partial => "network_tree"

- when "storage_adapters"
  %table{:style => "height: 100px;"}
    %tr
      %td{:width => "55%", :valign => "top"}
        = render :partial => "network_tree"
