%form#form_div.form-horizontal{"name"          => "angularForm",
                               "ng-show"       => "vm.afterGet",
                               "miq-form"      => true,
                               "model"         => "vm.ownershipModel",
                               "model-copy"    => "vm.modelCopy"}
  = render :partial => "layouts/flash_msg"

  %h3
    = _('Changes')
  .form-horizontal
    .form-group{"ng-class" => "{'has-error': angularForm.user.$invalid}"}
      %label.col-md-2.control-label
        = _('Select an Owner:')
      .col-md-8
        %select{"name"                        => "user",
                "ng-model"                    => "vm.ownershipModel.user",
                'ng-options'                  => "optionUser[1] as optionUser[0] for optionUser in vm.optionsUser",
                "id"                          => "user_name"}


      %td{:width => "100"}
    .form-group{"ng-class" => "{'has-error': angularForm.group.$invalid}"}
      %label.col-md-2.control-label
        = _('Select a Group:')
      .col-md-8
        %select{"name"                         => "group",
                "ng-model"                     => "vm.ownershipModel.group",
                "id"                           => "group_name",
                "ng-options"                   => "optionGroup[1] as optionGroup[0] for optionGroup in vm.optionsGroup"}
  %hr
  %h3
    = _('Affected Items')

  - unless @explorer
    = render :partial => "layouts/angular/generic_form_buttons"



