%form#form_div.form-horizontal{"name"          => "angularForm",
                               "ng-show"       => "vm.afterGet",
                               "miq-form"      => true,
                               "model"         => "vm.ownershipModel",
                               "model-copy"    => "vm.modelCopy"}
  = render :partial => "layouts/flash_msg"

  %h3
    = _('Changes')
  .form-horizontal
    .form-group{"ng-class" => "{'has-error': angularForm.user.$invalid}"}
      %label.col-md-2.control-label
        = _('Select an Owner:')
      .col-md-8
        %select{"name"                        => "user",
                "ng-model"                    => "vm.ownershipModel.user",
                'ng-options'                  => "optsUser[1] as optsUser[0] for optsUser in vm.optsUser",
                "id"                          => "user_name"}


      %td{:width => "100"}
    .form-group{"ng-class" => "{'has-error': angularForm.group.$invalid}"}
      %label.col-md-2.control-label
        = _('Select a Group:')
      .col-md-8
        %select{"name"                         => "group",
                "ng-model"                     => "vm.ownershipModel.group",
                "id"                           => "group_name",
                "ng-options"                   => "optsGroup[1] as optsGroup[0] for optsGroup in vm.optsGroup"}
  %hr
  %h3
    = _('Affected Items')

  %div_for_paging{'ng-controller'                  => "pagingDivButtonGroupController",
                'paging_div_buttons_state_enabled' => true,
                'paging_div_buttons_id'            => "angular_paging_div_buttons",
                'paging_div_buttons_type'          => "Save"}
  - unless @explorer
    = render :partial => "layouts/angular/generic_form_buttons"



