%br
%br
.form-horizontal
  %form#form_div{:name           => "angularForm",
                 'ng-controller' => "repositoryFormController as vm",
                 'ng-show'       => "vm.afterGet",
                 'ng-cloak'      => '',
                 "miq-form"      => true,
                 "model"         => "vm.repositoryModel",
                 "model-copy"    => 'vm.modelCopy',
                 'form-changed'  => true,
                 :novalidate     => true}
    = render :partial => "layouts/flash_msg"
    .form-group{"ng-class" => "{'has-error': angularForm.name.$invalid}"}
      %label.col-md-2.control-label
        = _('Name')
      .col-md-8
        %input.form-control{:type         => "text",
                            :name         => "name",
                            "id"          => "name",
                            'ng-model'    => "vm.repositoryModel.name",
                            'ng-disabled' => 'vm.repositoryModel.manager_resource === null',
                            :maxlength    => ViewHelper::MAX_NAME_LEN,
                            :required     => ""}
        %span.help-block{"ng-show" => "angularForm.name.$error.required"}
          = _("Required")
    .form-group
      %label.col-md-2.control-label
        = _('Description')
      .col-md-8
        %input.form-control{:type         => "text",
                            :name         => "description",
                            "id"          => "description",
                            'ng-disabled' => 'vm.repositoryModel.manager_resource === null',
                            'ng-model'    => "vm.repositoryModel.description"}
    .form-group{"ng-class" => "{'has-error': angularForm.scm_url.$error.required || angularForm.scm_url.$error.urlValidation}"}
      %label.col-md-2.control-label
        = _('URL')
      .col-md-8
        %input.form-control{:type            => "text",
                            :name            => "scm_url",
                            :id              => "scm_url",
                            'ng-model'       => "vm.repositoryModel.scm_url",
                            :required        => "",
                            'ng-disabled'    => 'vm.repositoryModel.manager_resource === null',
                            'url-validation' => true}
        %span.help-block{"ng-show" => "angularForm.scm_url.$error.required"}
          = _("Required")
        %span.help-block{"ng-show" => "angularForm.scm_url.$error.urlValidation"}
          = _("URL must include a protocol (http:// or https://) or be a valid SSH path (user@server:path or ssh://user@address:port/path)")
    .form-group
      %label.col-md-2.control-label
        = _('SCM credentials')
      .col-md-8
        %select{'name'        => 'authentication_id',
                'ng-model'    => 'vm.repositoryModel.authentication_id',
                'ng-options'  => 'scm_credential.value as scm_credential.name for scm_credential in vm.scm_credentials',
                'ng-disabled' => 'vm.repositoryModel.manager_resource === null',
                'miq-select'  => true}
    .form-group
      %label.col-md-2.control-label
        = _('SCM Branch')
      .col-md-8
        %input.form-control{:type         => "text",
                            :name         => "scm_branch",
                            "id"          => "scm_branch",
                            'ng-disabled' => 'vm.repositoryModel.manager_resource === null',
                            'ng-model'    => "vm.repositoryModel.scm_branch"}
    = render :partial => 'layouts/angular/generic_form_buttons'
:javascript
  ManageIQ.angular.app.value('repositoryId', '#{@id}');
  miq_bootstrap('#form_div');
