- if %w(containers container_services container_images).include?(@display)
    = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"}
- else
    - case @showtype
    - when "main"
        = render :partial => "layouts/textual_groups_generic"
    - when "timeline"
        = render :partial => "layouts/tl_show_async"
    - when "performance"
        = render :partial => "layouts/performance_async"
    - when "compliance_history"
        = render :partial => "shared/views/#{@showtype}"
    - else
        = render :partial => @showtype
