.col-md-12.ad-hoc-tenant
  .form-group.pull-left.ad-hoc-tenant
    %button.btn.btn-primary{"type"        => "button",
                            "ng-disabled" => "!dash.tenantChanged",
                            "ng-click"    => "dash.refreshTenant()"}
      = _("Set Tenant")

    %input.form-control{"id"                  => "ad-hoc-tenant",
                        "type"                => "text",
                        "ng-model"            => "dash.tenant",
                        "placeholder"         => _("Choose Tenants"),
                        "typeahead"           => "tenenat for tenenat in dash.getTenants($viewValue)",
                        "typeahead-loading"   => "dash.loadingTenants",
                        "ng-change"           => "dash.tenantChanged = true",
                        "typeahead-on-select" => "dash.refreshTenant()",
                        "typeahead-wait-ms"   => 500}

.ad-hoc-toolbar{"pf-toolbar" => "", "config" => "dash.toolbarConfig"}
  %actions
    %button.btn.btn-default{"type"        => "button",
                            "ng-click"    => "dash.doAddFilter()",
                            "ng-disabled" => "!dash.filterConfig.currentValue"}
      = _("Add Filter")
    %button.btn.btn-primary{"type"        => "button",
                            "ng-click"    => "dash.applyFilters()",
                            "ng-disabled" => "!dash.filterChanged"}
      = _("Apply Filters")
    %button.btn.btn-primary{"type"        => "button",
                            "ng-click"    => "dash.viewGraph()",
                            "ng-disabled" => "!dash.itemSelected"}
      = _("View Graph")

  = # TODO: pagination should move inside the #paging-div element once #592 is complete
  .form-group.pagination-div
    %ul.pagination.pagination-pf-back
      %li
        %a{"href"  => "#",
           "ng-click" => "dash.setPage(1)",
           "title" => _("First Page")}
          %span.i.fa.fa-angle-double-left
      %li
        %a{"href"  => "#",
           "ng-click" => "dash.setPage(dash.page - 1)",
           "title" => _("Previous Page")}
          %span.i.fa.fa-angle-left

    %input.page-input.form-control{"ng-model" => "dash.page",
                                            "readonly" => "readonly",
                                            "type"     => "text"}

    %ul.pagination.pagination-pf-forward
      %li
        %a{"href"  => "#",
           "ng-click" => "dash.setPage(dash.page + 1)",
           "title" => _("Next Page")}
          %span.i.fa.fa-angle-right
      %li
        %a{"href"  => "#",
           "ng-click" => "dash.setPage(dash.pages)",
           "title" => _("Last Page")}
          %span.i.fa.fa-angle-double-right
