.container-fluid.container-tiles-pf.containers-dashboard
  .row.row-tile-pf
    = render :partial => "aggregate-status-card"
  .row.row-tile-pf
    .col-xs-12.col-sm-12.col-md-6
      = render :partial => "utilization-trend-chart"
    .col-xs-12.col-sm-12.col-md-6
      = render :partial => "recent-images-line-chart"
  .row.row-tile-pf
    .col-xs-12.col-sm-12.col-md-6
      = render :partial => "heatmap"
    .col-xs-12.col-sm-12.col-md-6
      = render :partial => "recent-pods-line-chart"

  :javascript
    ManageIQ.angular.app.value('providerId', '#{@record.id}');
    miq_bootstrap('.containers-dashboard');
