= render :partial => "layouts/flash_msg"

.containers-live-dashboard.row.miq-dashboard-view.miq-metrics{"ng-controller" => "containerLiveDashboardController as dash"}

  .col-md-12.ad-hoc-tenant{"ng-if" => "!dash.viewGraph"}
    %button.btn.btn-primary.ad-hoc-tenant-button{"type" => "button",
        "ng-disabled" => "!dash.tenantChanged",
        "ng-click" => "dash.doRefreshTenant()"}
      = _("Set tenant")
    %input.form-control{"id" => "ad-hoc-tenant",
      "type" => "text",
      "ng-model" => "dash.tenant",
      "placeholder" => _("Choose Tenants"),
      "typeahead" => "tenenat for tenenat in dash.getTenants($viewValue)",
      "typeahead-loading" => "dash.loadingTenants",
      "typeahead-wait-ms" => 1000}
    %i.glyphicon.glyphicon-refresh{"ng-show" => "dash.loadingTenants"}

  %div{"ng-if" => "!dash.viewGraph"}
    %div{"pf-toolbar" => "", "id" => "exampleToolbar", "config" => "dash.toolbarConfig", "ng-if" => "dash.tagsLoaded"}
      %actions
        %button.btn.btn-primary{"type" => "button",
                                "ng-click" => "dash.doApply()",
                                "ng-if" => "dash.toolbarConfig.filterConfig",
                                "ng-disabled" => "!dash.filterChanged"}
          = _("Apply")
        %button.btn.btn-default{"type" => "button",
                                "ng-click" => "dash.doViewGraph()",
                                "ng-disabled" => "!dash.itemSelected"}
          = _("View Graph")
    .list-view-container.list-view-compact{"ng-if" => "dash.applied",
                                           "ng-class" => "{'no-filters': dash.filterConfig.fields.length === 0}"}
      .spinner.spinner-lg.loading{"ng-if" => "dash.loadingMetrics"}
      .col-md-12{"pf-list-view" => "", "config" => "dash.listConfig", "items" => "dash.items"}
        .list-view-pf-body.row
          .col-md-6.col-sm-6.no-wrap
            {{item.id}}
          .col-md-6.col-sm-12.no-wrap
            .row
              .col-md-7.col-sm-6.no-wrap
                %strong
                  = _("Most Recent")
                %span.time-stamp
                  {{item.last_timestamp | date:'yyyy-MM-dd hh:mm:ss'}}
              .col-md-5.col-sm-6.no-wrap
                .spinner.spinner-sm.loading{ "ng-if" => "!item.last_value" }
                %span.last-value{ "ng-if" => "item.last_value" }
                  {{item.last_value}}
        %list-expanded-content
          .row
            .col-md-8.col-sm-12.no-wrap
              %h3
                = _("Tag list")
            .col-md-4.col-sm-12.no-wrap
              %h3
                = _("Recent values")
          .row
            .col-md-8.col-sm-12.no-wrap
              .row{"ng-repeat" => "(key, value) in $parent.item.tags"}
                .col-md-3.col-sm-6.no-wrap.metric-no-padding
                  %strong.pull-right
                    {{key}}
                .col-md-9.col-sm-6.no-wrap
                  {{value}}
            .col-md-4.col-sm-12.no-wrap
              .row{"ng-repeat" => "(timestamp, value) in $parent.item.lastValues"}
                .col-md-12
                  %strong.pull-left.metric-no-padding
                    {{timestamp | date:'yyyy-MM-dd hh:mm:ss'}}
                  %span.last-value
                    {{value}}
    .blank-slate-pf{"ng-if" => "!dash.applied",
                    "ng-class" => "{'no-filters': dash.filterConfig.fields.length === 0,
                                    'loading': !dash.tagsLoaded}"}
      .spinner.spinner-lg.loading{"ng-if" => "!dash.tagsLoaded"}
      .blank-slate-pf-icon
        %span.fa.fa-info-circle
      %h1
        = _("Metrics")
      %p{"ng-if" => "!dash.tagsLoaded"}
        = _("Loading available tags")
      %p{"ng-if" => "dash.tagsLoaded"}
        = _("Add tags and click the Apply button to view available metrics")
  .metrics-graph{"ng-if" => "dash.viewGraph"}
    %div{"pf-toolbar" => "", "config" => "dash.graphToolbarConfig"}
      %actions
        %button.btn.btn-primary{"type" => "button", "ng-click" => "dash.refresh_graph_data()"}
          = _("Refresh")
        %button.btn.btn-default{"type" => "button", "ng-click" => "dash.doViewMetrics()"}
          = _("Change Metrics")

    %form.time-range-form#form_div{:name => 'angularForm'}
      .form-group.pull-left
        .input-group.bootstrap-touchspin.timeline-stepper.pull-left
          %span.input-group-btn
            %button.btn.btn-default.bootstrap-touchspin-down{"ng-click" => "dash.countDecrement()",
                                                             :type      => "button"} -
          %input.timeline-range-input.bootstrap-touchspin.form-control{"ng-model" => "dash.timeFilter.range_count",
                                                                        :readonly => "readonly",
                                                                        :type     => "text"}
          %span.input-group-btn
            %button.btn.btn-default.bootstrap-touchspin-up{"ng-click" => "dash.countIncrement()",
                                                           :type => "button"} +
      .form-group.pull-left
        %select{"pf-select"  => "",
                "id" => "timeRange",
                "ng-model" => "dash.timeFilter.time_range",
                "ng-options" => "range.value as range.title for range in dash.timeRanges",
                "class"   => "timeline-date-input"}
      .form-group.pull-left
        %input{"pf-date-timepicker" => "",
               "options" => "dash.dateOptions",
               "date"    => "dash.timeFilter.date",
               "class"   => "timeline-date-input"}
    .line-chart
      .spinner.spinner-lg.loading{"ng-if" => "dash.loadingData"}
      #adHocMetricsChart{"pf-line-chart" => "",
                             "ng-if" => "dash.chartDataInit",
                             "chart-data" => "dash.chartData",
                             "config" => "dash.chartConfig",
                             "show-x-axis" => true,
                             "show-y-axis" => true}

:javascript
  miq_bootstrap('.containers-live-dashboard', 'containerLiveDashboard');
