%form#form_div{'name'          => 'angularForm',
               'form-changed'  => true,
               'miq-form'      => true,
               'model'         => 'vm.floatingIpModel',
               'model-copy'    => 'vm.modelCopy',
               'ng-cloak'      => '',
               'ng-controller' => 'floatingIpFormController as vm',
               'ng-show'       => 'vm.afterGet'}

  = render :partial => "layouts/flash_msg"

  %h3
    = _('Network Management Provider')

  .form-horizontal
    .form-group{'ng-class' => '{"has-error": angularForm.ems_id.$invalid}'}
      %label.col-md-2.control-label
        = _('Network Manager')
      .col-md-8{'ng-if' => 'vm.newRecord'}
        %select{'id'                          => 'ems_id',
                'name'                        => 'ems_id',
                'ng-change'                   => 'vm.filterNetworkManagerChanged(vm.floatingIpModel.ems_id)',
                'ng-model'                    => 'vm.floatingIpModel.ems_id',
                'ng-options'                  => 'ems.id as ems.name for ems in vm.ems',
                'pf-select'                   => true,
                'required'                    => ''}
          %option{"value" => ""}
            = "<#{_('Choose')}>"
        %span.help-block{"ng-show" => "angularForm.ems_id.$error.required"}
          = _("Required")

      .col-md-8{'ng-if' => '! vm.newRecord'}
        %input.form-control{'type'      => 'text',
                            'name'      => 'ems_name',
                            'disabled'  => true,
                            'maxlength' => 128,
                            'ng-model'  => 'vm.floatingIpModel.ext_management_system.name'}

    .form-group{'ng-class' => '{"has-error": angularForm.cloud_network_id.$invalid}',
                'ng-if'    => "vm.floatingIpModel.ems_id"}
      %label.col-md-2.control-label
        = _('External Network')
      .col-md-8{'ng-if' => 'vm.newRecord'}
        %select{'name'                        => 'cloud_network_id',
                'ng-model'                    => 'vm.floatingIpModel.cloud_network_id',
                'ng-options'                  => 'network.id as network.name for network in vm.available_networks',
                'pf-select'                   => true,
                'required'                    => '',
                'selectpicker-for-select-tag' => ''}
          %option{"value" => ""}
            = "<#{_('Choose')}>"
        %span.help-block{"ng-show" => "angularForm.cloud_network_id.$error.required"}
          = _("Required")

      .col-md-8{'ng-if' => '! vm.newRecord'}
        %input.form-control{'type'      => 'text',
                            'name'      => 'cloud_network_name',
                            'disabled'  => true,
                            'maxlength' => 128,
                            'ng-model'  => 'vm.floatingIpModel.cloud_network.name'}

    .form-group{'ng-class' => '{"has-error": angularForm.cloud_tenant_id.$invalid}',
                'ng-if'    => "vm.floatingIpModel.ems_id"}
      %label.col-md-2.control-label
        = _('Cloud Tenant Placement')
      .col-md-8{'ng-if' => 'vm.newRecord'}
        %select{'name'                        => 'cloud_tenant_id',
                'ng-model'                    => 'vm.floatingIpModel.cloud_tenant_id',
                'ng-options'                  => 'tenant.id as tenant.name for tenant in vm.available_tenants',
                'pf-select'                   => true,
                'required'                    => '',
                'selectpicker-for-select-tag' => ''}
          %option{"value" => ""}
            = "<#{_('Choose')}>"
        %span.help-block{'ng-show' => "angularForm.cloud_tenant_id.$error.required"}
          = _("Required")

      .col-md-8{'ng-if' => '! vm.newRecord'}
        %input.form-control{'type'      => 'text',
                            'name'      => 'cloud_tenant_name',
                            'disabled'  => true,
                            'maxlength' => 128,
                            'ng-model'  => 'vm.floatingIpModel.cloud_tenant.name'}

  %h3
    = _('Association Information')

  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Floating IP Address (optional)')
      .col-md-8
        %input.form-control{'type'        => 'text',
                            'name'        => 'address',
                            'ng-disabled' => '! vm.newRecord',
                            'maxlength'   => 40,
                            'ng-model'    => 'vm.floatingIpModel.address'}

    .form-group
      %label.col-md-2.control-label
        = _('Fixed IP Address')
      .col-md-8
        %input.form-control{'type'        => 'text',
                            'name'        => 'fixed_ip_address',
                            'disabled'    => true,
                            'maxlength'   => 40,
                            'ng-model'    => 'vm.floatingIpModel.fixed_ip_address'}

    .form-group
      %label.col-md-2.control-label
        = _('Associated Port ID (blank to disassociate)')
      .col-md-8
        %input.form-control{'type'      => 'text',
                            'name'      => 'network_port_ems_ref',
                            'maxlength' => 40,
                            'ng-model'  => 'vm.floatingIpModel.network_port.ems_ref'}

  = render :partial => "layouts/angular/generic_form_buttons"

:javascript
  ManageIQ.angular.app.value('floatingIpFormId', '#{@floating_ip.id || "new"}');
  miq_bootstrap('#form_div');
