
%div
  %div
    .form-group
      %label.col-md-2.control-label
        =   _("Username")
      .col-md-4
        %input.form-control{"type"        => "text",
                            "ng-attr-id"  => "{{vm.prefix}}_userid",
                            "ng-required" => 'vm.userRequired',
                            "ng-model"    => "vm.model[vm.prefix + '_userid']"}
        %span.help-block{"ng-show" => "vm.userRequired"}
          = _("Required")
        %span.help-block
          = _("Spaces are prohibited")
        %span.help-block
          = _("Invalid input format, please enter a GUID")
        .note
          = _("Note: Username must be in the format: name@realm")
  %div
    .form-group
      %label.col-md-2.control-label
        %div{"ng-show" => "vm.bChangeStoredPassword != true"}
          = _("password_label")
        %div{"ng-show" => "vm.bChangeStoredPassword"}
          = _("New password")
      .col-md-4
        %input.form-control{"type"     => "password",
                            "ng-model" => "vm.model[vm.prefix + '_password']"}
        %span.help-block
          = _("Required")
      %div
        %a{:href => "", "ng-hide" => "vm.bChangeStoredPassword", "ng-click" => "vm.changeStoredPassword()"}
          = _("Change stored password")
        %a{:href => "", "ng-show" => "vm.bChangeStoredPassword", "ng-click" => "vm.cancelPasswordChange()"}
          = _("Cancel password change")
  %div
    .form-group
      %label.col-md-2
      .col-md-4
      %verify-button{'enabled' => true}
