
%div
  .form-group
    %label.col-md-2.control-label
    .col-md-4
      %input.form-control{'type' => 'text'}
      %span.help-block
        = _('Required')
      %span.help-block
        = _("Spaces are prohibited")
      %span.help-block
        = _("Invalid input format, please enter a GUID")
      .note
        = _("Note: Username must be in the format: name@realm")
%div
  .form-group
    %label.col-md-2.control-label
      %div{'ng-show' => 'vm.bChangeStoredPassword != true'}
        = _('password_label')
      %div{'ng-show' => 'vm.bChangeStoredPassword'}
        = _('new_password_label')
    .col-md-4
      %input.form-control{'type' => 'password'}
      %span.help-block
        = _('Required')
    %div
      %a{:href => "", "ng-hide" => "vm.bChangeStoredPassword", "ng-click" => "vm.changeStoredPassword()"}
        = _('change_stored_password')
      %a{:href => "", "ng-show" => "vm.bChangeStoredPassword", "ng-click" => "vm.cancelPasswordChange()"}
        = _('cancel_password_change')
    %div
      .form-group
        %label.col-md-2
        .col-md-4
          partial
