%ng-form.form-horizontal{:name           => 'authCredentialsForm',
                         "form-changed"  => ""}
  %div{"ng-show" => "!vm.hideUser"}
    .form-group{"ng-class" => "{'has-error' : authCredentialsForm[vm.prefix + '_userid'].$invalid}"}
      %label
      %label.col-md-2.control-label{"for" => "{{vm.prefix}}_userid"}
        {{ vm.userIdLabel }}
      .col-md-4
        %input.form-control{"type"                    => "text",
                            "ng-attr-name"            => "{{vm.prefix}}_userid",
                            "ng-attr-id"              => "{{vm.prefix}}_userid",
                            "ng-required"             => 'vm.userRequired',
                            "ng-model"                => "vm.formModel[vm.prefix + '_userid']",
                            'detect_spaces'           => '',
                            "ng-trim"                 => false,
                            "reset-validation-status" => "{{vm.prefix}}_auth_status",
                            "prefix"                  => '{{vm.prefix}}'}

        %span.help-block{"ng-show" => "authCredentialsForm[vm.prefix + '_userid'].$error.required"}
          = _("Required")
        %span.help-block{"ng-show" => "authCredentialsForm[vm.prefix + '_userid'].$error.detectedSpaces"}
          = _("Spaces are prohibited")
        %span.help-block{"ng-show" => "authCredentialsForm[vm.prefix + '_userid'].$error.isUuid"}
          = _("Invalid input format, please enter a GUID")
        .note{"ng-if" => "vm.guidRegex"}
          = _("Note: Username must be in the format: name@realm")
        .note{"ng-if" => "vm.userPrivileged"}
          = _("Should have privileged access, such as root or administrator.")
  %div{"ng-show" => "!vm.hidePassword"}
    .form-group{"ng-class" => "{'has-error': authCredentialsForm[vm.prefix + '_password'].$error.required}"}
      %label.col-md-2.control-label{"for" => "{{vm.prefix}}_password"}
        %div{"ng-show" => "vm.bChangeStoredPassword != true"}
          {{ vm.passwordLabel }}
        %div{"ng-show" => "vm.bChangeStoredPassword"}
          {{ vm.newPasswordLabel }}
      .col-md-4
        %input.form-control{"type"                    => "password",
                            :autocomplete             => "off",
                            "ng-model"                => "vm.formModel[vm.prefix + '_password']",
                            "ng-disabled"             => "!vm.showVerify(vm.prefix + '_userid')",
                            "ng-attr-name"            => "{{vm.prefix}}_password",
                            "ng-attr-id"              => "{{vm.prefix}}_password",
                            "reset-validation-status" => "{{vm.prefix}}_auth_status",
                            "prefix"                  => '{{vm.prefix}}',
                            "ng-required"             => "vm.passwordRequired"}
        %span.help-block{"ng-show" => "authCredentialsForm[vm.prefix + '_password'].$error.required"}
          = _("Required")
      %div{"ng-if" => "vm.showChangePasswordLinks(vm.prefix + '_userid')"}
        %a{:href => "", "ng-hide" => "vm.bChangeStoredPassword", "ng-click" => "vm.changeStoredPassword()"}
          {{ vm.changeStoredPasswordLabel }}
        %a{:href => "", "ng-show" => "vm.bChangeStoredPassword", "ng-click" => "vm.cancelPasswordChange()"}
          {{ vm.cancelPasswordChangeLabel }}
  %div
    .form-group
      %label.col-md-2
      .col-md-4
        %miq-button.validate_button{:name            => _('Validate'),
                                    'on-click'       => "vm.validate()",
                                    "disabled-title" => '{{vm.buttonLabels.verifyTitleOffLabel}}',
                                    "enabled-title"  => '{{vm.buttonLabels.verifyTitleOnLabel}}',
                                    :enabled         => "vm.enableValidButton && authCredentialsForm[vm.prefix + '_userid'].$valid && authCredentialsForm[vm.prefix + '_password'].$valid",
                                    :xs              => 'true',
                                    :primary         => 'true'}

    %div{"ng-if" => "vm.checkAuthentication"}
      .form-group{"ng-class" => "{'has-error': !vm.formModel[vm.prefix + '_auth_status']}"}
        .col-md-offset-2.col-md-4
          %input.form-control{"type"                           => "checkbox",
                              "id"                             => "{{vm.prefix}}_auth_status",
                              "name"                           => "{{vm.prefix}}_auth_status",
                              "ng-model"                       => "vm.formModel[vm.prefix + '_auth_status']",
                              "adjust-error-on-tab"            => "vm.formModel[vm.prefix + '_auth_status']",
                              "validation-status"              => "",
                              "post-validation-model-registry" => "vm.postValidationModelRegistry",
                              "prefix"                         => "{{vm.prefix}}",
                              "ng-show"                        => false}

          %span.help-block{"ng-if" => "!vm.formModel[vm.prefix + '_auth_status']"}
            = _("Validation Required")
