= render :partial => "layouts/flash_msg"
%h3
  = _("Filter By")
.form-horizontal
  .form-group
    %label.col-md-2.control-label
      = _("Requester:")
    .col-md-8.requester
      %select{'ng-if' => "$ctrl.options.users.length > 1", 'name' => 'user_choice',
        'ng-options' => "user.value as user.label for user in $ctrl.options.users",
        'ng-model' => '$ctrl.options.selectedUser',
        'pf-select' => ''}
      %div{'ng-if' => "$ctrl.options.users.length === 1"}
        {{$ctrl.options.users[0].label}}
      %div{'ng-if' => "$ctrl.options.users.length === 0"}
        = _("None Available")
  .form-group
    %label.col-md-2.control-label
      = _("Approval State:")
    .col-md-8
      %label{'ng-repeat' => 'state in $ctrl.options.states', :style => 'padding: 0px 5px 0px 0px; float:left;'}
        %input{:type => 'checkbox', :name => '{{state.value}}', 'ng-model' => 'state.checked'}
        {{state.label}}
  .form-group
    %label.col-md-2.control-label
      = _("Type:")
    .col-md-8
      %span{'ng-if' => '$ctrl.options.types.length === 1'}
        {{$ctrl.options.types[0].label}}
      %select{'ng-if' => '$ctrl.options.types.length > 1', :name => 'type_choice',
        'ng-options' => 'type.value as type.label for type in $ctrl.options.types',
        'ng-model' => '$ctrl.options.selectedType',
        'pf-select' => ''}
  .form-group
    %label.col-md-2.control-label
      = _("Request Date:")
    .col-md-8
      %select{:name => 'time_period',
        'ng-options' => 'period.value as period.label for period in $ctrl.options.timePeriods',
        'ng-model' => '$ctrl.options.selectedPeriod',
        'pf-select' => ''}
  .form-group
    %label.col-md-2.control-label
      = _("Reason:")
    .col-md-8
      %input.form-control{:type => 'text', 'ng-model' => '$ctrl.options.reasonText'}
  .form-group
    .col-md-2
    .col-md-8
      #buttons
        .btn.btn-primary{'ng-click' => '$ctrl.applyClick()', :alt => t = _('Apply the selected filters'), :title => t}
          = _('Apply')
        .btn.btn-default{'ng-click' => '$ctrl.resetClick()', :alt => t = _('Reset filter changes'), :title => t}
          = _('Reset')
%hr
