%form#form_div{:name           => "angularForm",
     "form-changed"  => true,
   "miq-form"      => true,
   "model"         => "vm.securityGroupModel",
   "model-copy"    => "vm.modelCopy",
   "ng-cloak"      => "",
   "ng-show"       => "vm.afterGet"}

  = render :partial => "layouts/flash_msg"

  %h3
    = _('Network Management Provider')
  .form-horizontal
    .form-group{"ng-class" => "{'has-error': angularForm.ems_id.$invalid}"}
      %label.col-md-2.control-label
        = _('Network Manager')
      .col-md-8
        = select_tag("ems_id",
                     nil,
                     "ng-model"   => "vm.securityGroupModel.ems_id",
                     "ng-options"=>"choice[1] as choice[0] for choice in vm.networkProviderChoices",
                     "ng-change"  => "vm.filterNetworkManagerChanged(vm.securityGroupModel.ems_id)",
                     "pf-select"  => true,
                     "required"   => "")
        %span.help-block{"ng-show" => "angularForm.ems_id.$error.required"}
          = _("Required")

  %h3
    = _('Security Group Information')
  .form-horizontal
    .form-group{"ng-class" => "{'has-error': angularForm.name.$invalid}"}
      %label.col-md-2.control-label
        = _('Security Group Name')
      .col-md-8
        %input.form-control{:type          => "text",
                            :name          => "name",
                            "ng-model"     => "vm.securityGroupModel.name",
                            "ng-maxlength" => 128,
                            "required"     => true}
        %span.help-block{"ng-show" => "angularForm.name.$error.required"}
          = _("Required")
    .form-group
      %label.col-md-2.control-label
      = _('Security Group Description')
      .col-md-8
        %input.form-control{:type          => "text",
                            :name          => "description",
                            "ng-model"     => "vm.securityGroupModel.description",
                            "ng-maxlength" => 128}

  .form-horizontal
    .form-group{"ng-if" => "vm.securityGroupModel.ems_id", "ng-class" => "{'has-error': angularForm.cloud_tenant_id.$invalid}"}
      %h3
        = _('Placement')
      %label.col-md-2.control-label
        = _('Cloud Tenant')
      .col-md-8
        %select{:name                         => "cloud_tenant_id",
                "ng-model"                    => "vm.securityGroupModel.cloud_tenant_id",
                "ng-options"                  => "tenant.id as tenant.name for tenant in vm.available_tenants",
                "pf-select"                   => true,
                "required"                    => "",
                "selectpicker-for-select-tag" => ""}
          %option{"value" => ""}
            = "<#{_('Choose')}>"
        %span.help-block{"ng-show" => "angularForm.cloud_tenant_id.$error.required"}
          = _("Required")

  = render :partial => "layouts/angular/generic_form_buttons"
