- if @record.middleware_diagnostic_reports.any?
  .row#mw_dr_header
    .col-md-12
      %h3.pointer{:onclick => 'miqCallAngular({name: "toggleShowDiagnosticReports", args: []});'}
        %span.fa.fa-angle-down
        = _('JDR Reports')
  .row#mw_dr_section
    .col-md-12
      .form-group
        .dropdown.btn-group
          %button#dr_download_dd.btn.btn-default.dropdown-toggle{'data-toggle' => 'dropdown', 'title' => _('Download list of JDR')}
            %span.fa.fa-download
            %span.caret
          %ul.dropdown-menu{:role => 'menu', 'aria-labelledby' => 'dr_download_dd'}
            %li{:role => 'presentation'}
              %a.pointer{:role     => 'menuitem',
                         :tabindex => '-1',
                         :onclick  => "DoNav('#{url_for(:action => 'dr_report_download', :id => to_cid(@record.id), 'download_type' => 'text')}');"}
                %span.fa.fa-file-text-o
                = _('Download as Text')
            %li{:role => 'presentation'}
              %a.pointer{:role     => 'menuitem',
                         :tabindex => '-1',
                         :onclick  => "DoNav('#{url_for(:action => 'dr_report_download', :id => to_cid(@record.id), 'download_type' => 'csv')}');"}
                %span.fa.fa-file-text-o
                = _('Download as CSV')
        - if role_allows?(:feature => :middleware_dr_delete)
          %button#dr_btn_delete.btn.btn-default{'onclick' => 'miqCallAngular({name: "deleteSelectedDr", args: []});', :disabled => 'disabled'}
            %span.pficon.pficon-delete.fa
            = _('Delete')
    .col-md-12
      .form-group
        #jdr-table
          %jdr-report{"server-id" => to_cid(@record.id)}
= javascript_pack_tag "manageiq-ui-classic/middleware"
:javascript
  miq_bootstrap('#jdr-table', 'ManageIQ.middleware');
