- if @record.middleware_diagnostic_reports.any?
  .row#mw_dr_header
    .col-md-12
      %h3.pointer{:onclick => 'miqCallAngular({name: "toggleShowDiagnosticReports", args: []});'}
        %span.fa.fa-angle-down
        = _('JDR Reports')
  .row#mw_dr_section
    .col-md-12
      .form-group
        .dropdown.btn-group
          %button#dr_download_dd.btn.btn-default.dropdown-toggle{'data-toggle' => 'dropdown', 'title' => _('Download list of JDR')}
            %span.fa.fa-download
            %span.caret
          %ul.dropdown-menu{:role => 'menu', 'aria-labelledby' => 'dr_download_dd'}
            %li{:role => 'presentation'}
              %a.pointer{:role     => 'menuitem',
                         :tabindex => '-1',
                         :onclick  => "DoNav('#{url_for(:action => 'dr_report_download', :id => @record.id, 'download_type' => 'text')}');"}
                %span.fa.fa-file-text-o
                = _('Download as Text')
            %li{:role => 'presentation'}
              %a.pointer{:role     => 'menuitem',
                         :tabindex => '-1',
                         :onclick  => "DoNav('#{url_for(:action => 'dr_report_download', :id => @record.id, 'download_type' => 'csv')}');"}
                %span.fa.fa-file-text-o
                = _('Download as CSV')
        - if role_allows?(:feature => :middleware_dr_delete)
          %button#dr_btn_delete.btn.btn-default{'onclick' => 'miqCallAngular({name: "deleteSelectedDr", args: []});', :disabled => 'disabled'}
            %span.pficon.pficon-delete.fa
            = _('Delete')
      = form_tag url_for(:action => 'dr_delete', :id => @record.id), :method => :post, :id => 'mw_dr_reports' do
        %table.table.table-bordered.table-striped.table-summary-screen
          %thead
            %tr
              %th &nbsp; <!-- Checkbox -->
              %th &nbsp; <!-- Icon -->
              %th= _('Filename')
              %th= _('Size')
              %th= _('Queued at')
              %th= _('Username')
              %th= _('Status')
              %th= _('Actions')
          %tbody
            - @record.middleware_diagnostic_reports.each do |item|
              %tr
                %td
                  %input{:type     => "checkbox",
                         :disabled => !item.ran?,
                         :name     => 'mw_dr_selected[]',
                         :value    => item.id,
                         :onclick  => 'miqCallAngular({name: "drChecked", args: []});'}
                %td
                  - if item.ready?
                    %span.pficon.pficon-ok
                  - elsif item.erred?
                    %span.pficon.pficon-error-circle-o
                  - else
                    %span.fa.fa-lg.fa-play-circle-o
                %td.text-overflow-pf{:style => 'max-width: 16em'}
                  = item.binary_blob ? item.binary_blob.name : _('N/A')
                %td= item.binary_blob ? number_to_human_size(item.binary_blob.size) : _('N/A')
                %td= format_timezone(item.queued_at)
                %td= item.requesting_user
                %td= item.status
                %td.action-cell
                  %button{'class'    => 'btn btn-default btn-block btn-sm',
                          'type'     => 'button',
                          'disabled' => item.ready? ? nil : 'disabled',
                          'onclick'  => "DoNav('#{url_for(:action => 'dr_download', :id => @record.id, :key => item.id)}');",
                          'title'    => _('Download JDR file')}
                    = _('Download')
