- if @record.middleware_jdr_reports.any?
  .row
    .col-md-12
      %h3
        %span.fa.fa-angle-down
        = _('JDR Reports')
  .row
    .col-md-12
      = form_tag url_for(:action => 'jdr_delete', :id => to_cid(@record.id)), :method => :post, :id => 'mw_jdr_reports' do
        %table.table.table-bordered.table-striped.table-summary-screen.table-hover
          %thead
            %tr
              %th &nbsp; <!-- Checkbox -->
              %th &nbsp; <!-- Icon -->
              %th= _('Filename')
              %th= _('Size')
              %th= _('Queued at')
              %th= _('Username')
              %th= _('Status')
          %tbody
            - @record.middleware_jdr_reports.each do |item|
              %tr{:class   => item.ready? ? '' : 'no-hover',
                  :onclick => item.ready? ? "DoNav('#{url_for(:action => 'jdr_download', :id => to_cid(@record.id), :key => to_cid(item.id))}');" : ""}
                %td
                  %input{:type     => "checkbox",
                         :disabled => !item.ran?,
                         :name     => 'mw_jdr_selected[]',
                         :value    => to_cid(item.id),
                         :onclick  => 'event.stopPropagation(); sendDataWithRx({rowSelect: this});'}
                %td
                  - if item.ready?
                    %span.fa.fa-lg.fa-arrow-right
                  - elsif item.erred?
                    %span.pficon.pficon-error-circle-o
                  - else
                    %span.fa.fa-lg.fa-play-circle-o
                %td= item.binary_blob ? item.binary_blob.name : _('N/A')
                %td= item.binary_blob ? number_to_human_size(item.binary_blob.size) : _('N/A')
                %td= format_timezone(item.queued_at)
                %td= item.requesting_user
                %td= item.status
