= render :partial => "shared/views/ems_common/show"
- @angular_form = true
%ng-form#mw_server_form{"name"          => "mw_server_form",
                        "ng-controller" => "mwServerController",
                        "novalidate"    => "true"}
  = render :partial => 'middleware_shared/ops_params', :locals => {:opsController => 'mwServerOpsController'}
  = render :partial => 'deploy'
  = render :partial => 'add_jdbc_driver'
  = render :partial => 'add_datasource'

:javascript
  miq_bootstrap('#mw_server_form');
