- url = url_for(:id => "#{@edit[:rec_id] || "new"}",
  :action => @edit[:new][:service_type] == "composite" ? "st_form_field_changed" : "atomic_form_field_changed")
#basic_info_div
  = hidden_div_if(@edit && @edit[:ae_tree_select] != true, :id => "ae_tree_select_div") do
    = render(:partial => 'layouts/ae_tree_select')
  = react('CatalogItemForm', {catalogItemId: "#{@edit[:rec_id] || "new"}"})
  .container-fluid
    .form-group{:style => "width: 50%"}
      %label.control-label
        = _('Provisioning Entry Point')
      .input-group
        = text_field_tag("fqname",
                         @edit[:new][:fqname],
                         :class   => "form-control",
                         :onFocus => 'miqShowAE_Tree("provision");miqButtons("hide", "automate");')
        %span.input-group-btn
          = link_to({:action => 'ae_tree_select_discard',
                   :typ => "provision"},
                  :id => "fqname_div",
                  "data-miq_sparkle_on"  => true,
                  "data-miq_sparkle_off" => true,
                  "data-confirm"         => _("Are you sure you want to remove this Provisioning Entry Point?"),
                  "data-method"          => :post,
                  :remote                => true,
                  :style => @edit[:new][:fqname] != "" ? "" : "display:none",
                  :class                 => "btn btn-default",
                  :title                 => _("Remove this Provisioning Entry Point")) do
            %i.pficon.pficon-close
  - unless @edit[:new][:st_prov_type] == 'generic_container_template'
    .container-fluid
      .form-group{:style => "width: 50%"}
        %label.control-label{:title => _("Reconfigure Entry Point (NameSpace/Class/Instance)")}
        = _('Reconfigure Entry Point')
        .input-group
          = text_field_tag("reconfigure_fqname",
                             @edit[:new][:reconfigure_fqname],
                             :class             => "form-control",
                             :onFocus           => 'miqShowAE_Tree("reconfigure");miqButtons("hide", "automate");',
                             "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
          %span.input-group-btn
            = link_to({:action => 'ae_tree_select_discard',
                           :typ => "reconfigure"},
                           :id => "reconfigure_fqname_div",
                          "data-miq_sparkle_on"  => true,
                          "data-miq_sparkle_off" => true,
                          "data-confirm"         => _("Are you sure you want to remove this Reconfigure Entry Point?"),
                          "data-method"          => :post,
                          :remote                => true,
                          :style => @edit[:new][:reconfigure_fqname] != "" ? "" : "display:none",
                          :class                 => "btn btn-default",
                          :title                 => _("Remove this Reconfigure Entry Point")) do
              %i.pficon.pficon-close
    .container-fluid
      .form-group{:style => "width: 50%"}
        %label.control-label{:title => _("Retirement Entry Point (NameSpace/Class/Instance)")}
          = _('Retirement Entry Point')
          .input-group
            = text_field_tag("retire_fqname",
                             @edit[:new][:retire_fqname],
                             :class   => "form-control",
                             :onFocus => 'miqShowAE_Tree("retire");miqButtons("hide", "automate");')
            %span.input-group-btn
              = link_to({:action => 'ae_tree_select_discard',
                           :typ => "retire"},
                           :id => "retire_fqname_div",
                          "data-miq_sparkle_on"  => true,
                          "data-miq_sparkle_off" => true,
                          "data-confirm"         => _("Are you sure you want to remove this Retirement Entry Point?"),
                          "data-method"          => :post,
                          :remote                => true,
                          :style => @edit[:new][:retire_fqname] != "" ? "" : "display:none",
                          :class                 => "btn btn-default",
                          :title                 => _("Remove this Retirement Entry Point")) do
                %i.pficon.pficon-close
  - if role_allows?(:feature => 'rbac_tenant_view')
    = render(:partial => "tenants_tree_show")
