- if params[:reconfigure_entry_point_type] && params[:reconfigure_entry_point_type] != "nil"
  - url = url_for(:id => "#{@edit[:rec_id] || "new"}",
    :action => @edit[:new][:service_type] == "composite" ? "st_form_field_changed" : "atomic_form_field_changed")

  - if params[:reconfigure_entry_point_type] == "embedded_workflows"
    = hidden_div_if(@edit, :id => "reconfigure_entry_workflows") do
      = render(:partial => 'embedded_workflows_modal', :locals => {:field_name => :reconfigure_fqname, :entry_point => "reconfigure_entry_workflows" })
    - modal = {:open => "miqShowEmbededdedWorkflowsModal('reconfigure_entry_workflows'); miqButtons('hide', 'automate');",:close => "miqAjax('#{url_for_only_path(:action => 'ae_tree_select_discard', :typ => 'provision')}');"}
  - elsif params[:reconfigure_entry_point_type] == "embedded_automate"
    - modal = {:open => "miqShowAE_Tree('reconfigure'); miqButtons('hide', 'automate');", :close => "miqAjax('#{url_for_only_path(:action => 'ae_tree_select_discard', :typ => 'reconfigure')}');"}
  
  .col-md-12{:title => @edit[:new][:reconfigure_fqname], :style => "padding: 3px;"}
    .input-group
      = text_field_tag("reconfigure_fqname",
                        @edit[:new][:reconfigure_fqname],
                        :class             => "form-control",
                        "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
      %span.input-group-btn
        #reconfigure_fqname_div
          %button.btn.btn-default{"onclick" => modal[:open],
                                  "title"   => _('Click to select Reconfigure Entry Point')}
            %i.ff.ff-load-balancer
          %button.btn.btn-default{"id"           => "reconfigure_fqname_remove",
                                  "onclick"      => modal[:close],
                                  "title"        => _('Remove this Reconfigure Entry Point'),
                                  "data-confirm" => _("Are you sure you want to remove this Reconfigure Entry Point?"),
                                  "disabled"     => @edit[:new][:reconfigure_fqname].nil?}
            %i.pficon.pficon-close
      %span.input-group-addon{:style => "visibility:hidden"}
