- tooltipOptions = {"tooltip-placement" => "bottom", "uib-tooltip" => "{{vm.legendTooltip}}"}
.topology{'ng-controller' => "networkTopologyController as vm"}
  .legend
    %label#selected
    %div{'ng-if' => "kinds"}
      %kubernetes-topology-icon{tooltipOptions, :kind => "AvailabilityZone"}
        %label
          %i.pficon.pficon-zone
          = _("Availability Zones")
      %kubernetes-topology-icon{tooltipOptions, :kind => "CloudSubnet"}
        %label
          %i.pficon.pficon-network
          = _("Cloud Subnets")
      %kubernetes-topology-icon{tooltipOptions, :kind => "Vm"}
        %label
          %i.pficon.pficon-virtual-machine
          = _("VMs")
      %kubernetes-topology-icon{tooltipOptions, :kind => "SecurityGroup"}
        %label
          %i.pficon.pficon-cloud-security
          = _("Security Groups")
      %kubernetes-topology-icon{tooltipOptions, :kind => "FloatingIp"}
        %label
          %i.ff.ff-floating-ip
          = _("Floating IPs")
      %kubernetes-topology-icon{tooltipOptions, :kind => "CloudNetwork"}
        %label
          %i.ff.ff-cloud-network
          = _("Cloud Networks")
      %kubernetes-topology-icon{tooltipOptions, :kind => "NetworkRouter"}
        %label
          %i.pficon.pficon-route
          = _("Network Routers")
      %kubernetes-topology-icon{tooltipOptions, :kind => "CloudTenant"}
        %label
          %i.pficon.pficon-cloud-tenant
          = _("Cloud Tenants")

  .alert.alert-info.alert-dismissable
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"}
      %span.pficon.pficon-close
    %span.pficon.pficon-info
    %strong
      = _("Click on the legend to show/hide entities, and double click/right click the entities in the graph to navigate to their summary pages.")

  = render :partial => "shared/topology/not_found_vm"

  %kubernetes-topology-graph{:items => "vm.items", :relations => "vm.relations", :kinds => "vm.kinds"}

:javascript
  miq_bootstrap('.topology');
