- url = url_for_only_path(:action => 'export_field_changed')
= render :partial => "layouts/flash_msg"

%h2
  = _('Custom Reports')
%h3
  = _('Import')
#import_div
  = form_tag({:action    => "upload",
              :typ       => "import",
              :dbtype    => @sb[:dbtype]},
             :class     => "form-horizontal",
             :multipart => true,
             :method    => :post) do
    .form-group
      .col-md-8
        = check_box_tag("overwrite", "1", @sb[:overwrite])
        = _('Overwrite existing reports?')
      .col-md-8
        = check_box_tag("preserve_owner", "1", @sb[:preserve_owner])
        = _('Preserve owner?')
    .form-group
      .col-md-4
        = render :partial => "shared/file_chooser", :locals => {:object_name => "upload", :method => "file"}
      .col-md-6
        = submit_tag(_("Upload"), :class => "btn btn-default", :id => "upload_atags", :disabled => true)
        :javascript
          $("#upload_file").on("change", function() {
            ImportSetup.setUpUploadImportButton('#upload_atags')
          });

%hr
%h3
  = _('Export')

.form-horizontal
  .form-group
    %label.control-label.col-lg-3.col-md-4
      = _('Available Custom Reports:')
    .col-md-8
      = select_tag('choices_chosen',
        options_for_select(@export_reports.sort),
        :size              => 15,
        :style             => "width:400px; background-color:#fff; border: 1px solid #999999;",
        :multiple          => true)

      :javascript
        miqInitSelectPicker();
        miqSelectPickerEvent("choices_chosen", "#{url}");
        $('#choices_chosen').on("change",
          function() {
            if ($(this).val()) {
              $('#export_button').removeClass('disabled');
            } else {
              $('#export_button').addClass('disabled');
            }
          });
