#filter_div
  - if @edit[:new][:perf_interval]
    = render :partial => "form_filter_performance"
    %hr
  - if @edit[:new][:model] == ApplicationController::TREND_MODEL
    -# No additional filters for trend reports
  - elsif Chargeback.db_is_chargeback?(@edit[:new][:model])
    = render :partial => "form_filter_chargeback"
    %hr
  - else
    -# Show expression editors for all other reports
    %h3= _("Primary (Record) Filter - Filters the %{model} table records") % {:model => @edit[:new][:model]}
    .form-horizontal
      .form-group
        %label.control-label.col-md-2
        .col-md-8
          - if @expkey == :record_filter
            = render :partial => 'layouts/exp_editor'
          - else
            = render :partial => 'report/form_expression_buttons',
                                 :locals => {:create_label  => _('Create Record Filter'),
                                             :display_label => _('Edit Record Filter'),
                                             :exp_key       => 'record_filter'}
  %hr
  .form-horizontal
    - if ExpAtomHelper.expression_types_for_secondary_filter(@edit[:new][:field_order], @edit[:new][:fields]).present?
      -# Expression editor for the display filter
      %h3= _('Secondary (Display) Filter - Filters the rows based on child table fields')
      .form-group
        %label.control-label.col-md-2
        .col-md-8
          - if @expkey == :display_filter
            = render :partial => 'layouts/exp_editor'
          - else
            = render :partial => 'report/form_expression_buttons',
                     :locals => {:create_label  => _('Create Display Filter'),
                                 :display_label => _('Edit Display Filter'),
                                 :exp_key       => 'display_filter'}
