#form_preview
  - if @html
    - unless @edit[:chart_data].nil?
      %fieldset
        %h3
          = _('Chart Preview (up to 50 rows)')
        = chart_remote('report', :action  => 'preview_chart', :id => 'my_chart', :zoomed  => false)
    - if @html
      %fieldset
        %h3
          = _('Report Preview (up to 50 rows)')
        = @html.html_safe
  - else
    %h3
      = _('Generate Report Preview')
      - t = _("Generate Report preview")
      &nbsp;
      = link_to({:action => "show_preview",  :id => "#{@edit[:rpt_id] || 'new'}"},
        :alt                  => t,
        "data-miq_sparkle_on" => true,
        :remote               => true,
        "data-method"         => :post,
        :title                => t) do
        %i.fa.fa-refresh
