#customer_tags_div
  - if @edit
    - rec_id = @edit && @edit[:group_id] ? @edit[:group_id] : "new"
    - url = url_for(:action => 'rbac_group_field_changed', :id => rec_id)
    %br
    .form-horizontal
      .form-group
        %label.col-md-2.control-label
          = _("This user is limited to ")
        .col-md-8
          - if @edit
            = select_tag('use_filter_expression',
                      options_for_select([[_("Specific Tags"), false],
                                          [_("Tags Based On Expression"), true]],
                      @edit[:new][:use_filter_expression]),
                      :class    => "selectpicker")
            :javascript
               miqInitSelectPicker();
               miqSelectPickerEvent('use_filter_expression', "#{url}")
    - if @edit[:new][:use_filter_expression]
      = render(:partial => "layouts/group_filter_expression")
    - else
      .tagging-container
        = react 'TaggingWrapperConnected', {:tags => @tags, :urls => @button_urls, :options => {:hideHeaders => false, :hideButtons => true, :url => url_for_only_path(:action => 'rbac_group_field_changed')}}
  - elsif @use_filter_expression
    = render(:partial => "layouts/group_filter_expression")
  - else
    = _("This user is limited to items with the selected tags.")
    %br
    %br
    - if @tags[:assignedTags].blank?
      = _('There are not tags assigned to this group.')
    - else
      = react 'TagView', {:assignedTags => @tags[:assignedTags], :hideHeader => true, :showCloseButton => false}
