%form.form-horizontal{"name"         => "angularForm",
                      "model-copy"   => "vm.modelCopy",
                      "model"        => "vm.model",
                      "ng-cloak"     => "",
                      "form-changed" => true,
                      "miq-form"     => true}

  .form-group{"ng-class" => "{'has-error': angularForm.current_password.$invalid}"}
    %label.col-md-2.control-label{"for" => "current_password"}
      = _('Current Password')
    .col-md-8
      %input.form-control{"type"        => "password",
                          :autocomplete => "off",
                          "id"          => "current_password",
                          "name"        => "current_password",
                          "ng-model"    => "vm.model.current_password",
                          "required"    => "true",
                          "checkchange" => "",
                          "auto-focus"  => ""}
      %span.help-block{"ng-show" => "angularForm.current_password.$error.required"}
        = _("Required")

  .form-group{"ng-class" => "{'has-error': angularForm.new_password.$invalid || vm.current_and_new_password_are_equals()}"}
    %label.col-md-2.control-label{"for" => "new_password"}
      = _('New Password')
    .col-md-8
      %input.form-control{"type"        => "password",
                          :autocomplete => "off",
                          "id"          => "new_password",
                          "name"        => "new_password",
                          "ng-model"    => "vm.model.new_password",
                          "required"    => "true",
                          "checkchange" => ""}
      %span.help-block{"ng-show" => "angularForm.new_password.$error.required"}
        = _("Required")
      %span.help-block{"ng-show" => "vm.current_and_new_password_are_equals()"}
        = _("Current and new password must be different")

  .form-group{"ng-class" => "{'has-error': angularForm.confirm_new_password.$invalid || vm.confirmation_and_new_password_are_different()}"}
    %label.col-md-2.control-label{"for" => "confirm_new_password"}
      = _('Confirm New Password')
    .col-md-8
      %input.form-control{"type"        => "password",
                          :autocomplete => "off",
                          "id"          => "confirm_new_password",
                          "name"        => "confirm_new_password",
                          "ng-model"    => "vm.model.confirm_password",
                          "required"    => "true",
                          "checkchange" => ""}
      %span.help-block{"ng-show" => "angularForm.confirm_new_password.$error.required"}
        = _("Required")
      %span.help-block{"ng-show" => "vm.confirmation_and_new_password_are_different()"}
        = _("Confirm password did not match")

  = render :partial => "layouts/angular/generic_form_buttons"
