:ruby
  record_type    = @record.type
  stack          = %w[ServiceTerraformTemplate ServiceEmbeddedTerraform].include?(record_type) ? @record.try(:stack, "Provision") : nil
  provision_job  = record_type == "ServiceAnsiblePlaybook" ? @record.try(:job, "Provision")  : nil
  retirement_job = record_type == "ServiceAnsiblePlaybook" ? @record.try(:job, "Retirement") : nil
  job            = %w[ServiceAnsibleTower ServiceAwx].include?(record_type) ? @record.try(:job) : nil
  current_userid = User.current_user&.userid
  tab_labels     = service_tab_configuration(record_type, stack, retirement_job, job)

#service_details
  #services-tabs-wrapper
    = react('MiqCustomTab', {:containerId => 'services-tabs',
                             :tabLabels   => tab_labels.map(&:to_s),
                             :type        => 'SERVICE'})
  .miq_custom_tabs_container#services-tabs
    = service_tab_content(:details) do
      = render :partial => "layouts/textual_groups_generic"
      - child_services = @record.direct_service_children.select(&:display)
      - if child_services.present?
        .row
          .col-md-12.col-lg-6
            = child_service_summary(child_services)
      .row
        .col-md-12
          %h3
            = _('VMs')
          - if @view
            = render :partial => "layouts/gtl", :locals => {:view => @view, :no_flash_div => true}

    - if stack
      = service_tab_content(:output) do
        = react('ServiceDetailStdout', {:taskid => stack.raw_stdout_via_worker(current_userid, 'html')})

    - if provision_job
      = service_tab_content(:provisioning) do
        = render :partial => "layouts/textual_groups_tabs", :locals => {:textual_group_list => textual_provisioning_group_list, :tab_id => "provisioning"}
        = react('ServiceDetailStdout', {:taskid => provision_job.raw_stdout_via_worker(current_userid, 'html')})

    - if retirement_job
      = service_tab_content(:retirement) do
        = render :partial => "layouts/textual_groups_tabs", :locals => {:textual_group_list => textual_retirement_group_list, :tab_id => "retirement"}
        = react('ServiceDetailStdout', {:taskid => retirement_job.raw_stdout_via_worker(current_userid, 'html')})

    - if job
      = service_tab_content(:tower_job) do
        = render :partial => "layouts/textual_groups_tabs", :locals => {:textual_group_list => textual_tower_job_group_list, :tab_id => "tower_job"}
        - if job.respond_to?(:raw_stdout_via_worker)
          = react('ServiceDetailStdout', {:taskid => job.raw_stdout_via_worker(current_userid, 'html')})
