#service_details{'ng-controller'=>"SanitizeAndRenderController as vm"}
  #services_tab
    %ul.nav.nav-tabs
      = miq_tab_header("details") do
        = _("Details")
      - if @record.type == "ServiceAnsiblePlaybook"
        - job = @record.try(:job, "Retirement")
        = miq_tab_header("provisioning") do
          = _("Provisioning")
        - if job
          = miq_tab_header("retirement") do
            = _("Retirement")
    .tab-content
      = miq_tab_content("details", 'default', :class => 'cm-tab') do
        = render :partial => "layouts/textual_groups_generic"
        .row
          .col-md-12.col-lg-6
            %h3
              = _('VMs')
            - if @view
              = render :partial => "layouts/gtl", :locals => {:view => @view}
      - if @record.type == "ServiceAnsiblePlaybook"
        = miq_tab_content("provisioning", 'default', :class => 'cm-tab') do
          = render :partial => "layouts/textual_groups_tabs", :locals => {:textual_group_list => textual_provisioning_group_list}
          - if @job && @job.try(:raw_stdout)
            %h3
              = _('Standard Output')
            .form-horizontal.static
              .form-group
                .col-md-9
                  %div{'ng-bind-html'=>"vm.sanitizeRenderHtml('#{sanitize_output(@job.raw_stdout('html'))}')"}
        - if job
          = miq_tab_content("retirement", 'default', :class => 'cm-tab') do
            = render :partial => "layouts/textual_groups_tabs", :locals => {:textual_group_list => textual_retirement_group_list}
            %h3
              = _('Standard Output')
            .form-horizontal.static
              .form-group
                .col-md-9
                  %div{'ng-bind-html'=>"vm.sanitizeRenderHtml('#{sanitize_output(job.raw_stdout('html'))}')"}
:javascript
  miq_tabs_init('#services_tab');
  miq_bootstrap('#service_details', 'sanitizeRender');
