- ng_show                ||= true
- validate_url           ||= 'log_depot_edit'
- prefix                 ||= 'log'
- userid_label           ||= _("Username")
- password_label         ||= _("Password")
- new_password_label     ||= _("New ") + password_label
- ng_reqd_userid         ||= false
- ng_reqd_password       ||= false
- userid_disabled        ||= false
- password_disabled      ||= false
- change_stored_password ||= _("Change stored password")
- cancel_password_change ||= _("Cancel password change")
- verify_title_off       ||= _("Server information, Username and matching password fields are needed to perform verification of credentials")
- ng_show_userid         ||= true
- ng_show_password       ||= true
- guid_regex             ||= false
- vm_scope               ||= false
- main_scope            = vm_scope ? "$parent.vm" : "$parent"

%div{"ng-controller" => "CredentialsController as vm", "vm-scope" => "$parent.vm.model ? $parent.vm : $parent"}
  %div{"ng-show" => "#{ng_show} && #{ng_show_userid}"}
    .form-group{"ng-class" => "{'has-error': angularForm.#{prefix}_userid.$invalid}"}
      %label.col-md-2.control-label{"for" => "#{prefix}_userid"}
        = userid_label
      .col-md-4
        - hash_for_userid = {"type"                    => "text",
                             "id"                      => "#{prefix}_userid",
                             "ng-required"             => "#{ng_reqd_userid}",
                             "ng-disabled"             => userid_disabled,
                             "name"                    => "#{prefix}_userid",
                             "ng-model"                => "#{main_scope}.#{ng_model}.#{prefix}_userid",
                             "checkchange"             => "",
                             "ng-trim"                 => false,
                             "detect_spaces"           => "",
                             "prefix"                  => "#{prefix}",
                             "main-scope"              => "#{main_scope}",
                             "reset-validation-status" => "#{prefix}_auth_status"}
        - hash_for_userid['is-uuid'] = 4 if guid_regex
        %input.form-control{hash_for_userid}
        %span.help-block{"ng-show" => "angularForm.#{prefix}_userid.$error.required"}
          = _("Required")
        %span.help-block{"ng-show" => "angularForm.#{prefix}_userid.$error.detectedSpaces"}
          = _("Spaces are prohibited")
        %span.help-block{"ng-show" => "angularForm.#{prefix}_userid.$error.isUuid"}
          = _("Invalid input format, please enter a GUID")
        .note{"ng-if" => "emsCommonModel.emstype == 'scvmm' && emsCommonModel.default_security_protocol == 'kerberos'"}
          = _("Note: Username must be in the format: name@realm")

  %div{"ng-show" => "#{ng_show} && #{ng_show_password}"}
    .form-group{"ng-class" => "{'has-error': angularForm.#{prefix}_password.$error.required}"}
      %label.col-md-2.control-label{"for" => "#{prefix}_password"}
        %div{"ng-show" => "vm.bChangeStoredPassword != true"}
          = password_label
        %div{"ng-show" => "vm.bChangeStoredPassword"}
          = new_password_label
      .col-md-4
        %input.form-control{"type"                    => "password",
                            "id"                      => "#{prefix}_password",
                            "ng-required"             => "#{ng_reqd_password}",
                            "ng-disabled"             => "!vm.showVerify('#{prefix}_userid')" || password_disabled,
                            "name"                    => "#{prefix}_password",
                            "ng-model"                => "#{main_scope}.#{ng_model}.#{prefix}_password",
                            "prefix"                  => "#{prefix}",
                            "clear-field-set-focus"   => "",
                            "checkchange"             => "",
                            "main-scope"              => "#{main_scope}",
                            "reset-validation-status" => "#{prefix}_auth_status"}
        %span.help-block{"ng-show" => "angularForm.#{prefix}_password.$error.required"}
          = _("Required")
      %div{"ng-if" => "vm.showChangePasswordLinks('#{prefix}_userid')"}
        %a{:href => "", "ng-hide" => "vm.bChangeStoredPassword", "ng-click" => "vm.changeStoredPassword()"}
          = change_stored_password
        %a{:href => "", "ng-show" => "vm.bChangeStoredPassword", "ng-click" => "vm.cancelPasswordChange()"}
          = cancel_password_change
  %div{"ng-show" => "#{ng_show}"}
    .form-group
      %label.col-md-2
      .col-md-4
        = render :partial => "layouts/angular/form_buttons_verify_angular",
                                     :locals  => {:ng_show          => "#{ng_show}",
                                                  :validate_url     => validate_url,
                                                  :id               => id,
                                                  :ng_model         => "#{ng_model}",
                                                  :main_scope       => main_scope,
                                                  :valtype          => "#{prefix}",
                                                  :verify_title_off => verify_title_off,
                                                  :basic_info_needed => defined?(basic_info_needed) ? basic_info_needed : nil}
