%div
  .form-group{"ng-class" => "{'has-error': angularForm.#{prefix}_url.$invalid}"}                                    |
    %label.col-md-2.control-label{"for" => "#{prefix}_url"}
      = _('Endpoint URL')
    .col-md-4
      %input.form-control{"type"                    => "url",
                          "id"                      => "#{prefix}_url",
                          "ng-required"             => "false",
                          "name"                    => "#{prefix}_url",
                          "ng-model"                => "#{main_scope}.#{ng_model}.#{prefix}_url",
                          "checkchange"             => "",
                          "ng-trim"                 => false,
                          "detect_spaces"           => "",
                          "prefix"                  => "#{prefix}",
                          "main-scope"              => "#{main_scope}",
                          "reset-validation-status" => "#{prefix}_auth_status"}
      %span.help-block{"ng-show" => "angularForm.#{prefix}_url.$error.url"}
        = _("Invalid URL")
      %span.help-block{"ng-show" => "angularForm.#{prefix}_url.$error.detectedSpaces"}
        = _("Spaces are prohibited")
