- url = url_for_only_path(:action => "form_field_changed")
= render :partial => "layouts/flash_msg"

#tab_div
  = form_tag({:action => "update"},
             :id     => "config_form",
             :class  => "form-horizontal",
             :method => :post) do
    .row
      .col-md-12.col-lg-6
        %fieldset
          %h3
            = _('Start Page')
          .form-group
            %label.col-md-3.control-label
              = _('Show at Login')
            .col-md-8
              = select_tag("start_page",
                           options_for_select(start_page_options, @edit[:new][:display][:startpage]),
                           "data-live-search" => "true",
                           :class             => "selectpicker")
              :javascript
                miqSelectPickerEvent('start_page', '#{url}');
        %fieldset
          %h3
            = _('Default Items Per Page')
          - [[_("List View"), "perpage_list",    :list],
             [_("Reports"),   "perpage_reports", :reports]].each do |item_per_page|
            .form-group
              %label.col-md-3.control-label
                = _(item_per_page[0])
              .col-md-8
                = select_tag(item_per_page[1],
                             options_for_select(pp_choices, @edit[:new][:perpage][item_per_page[2]]),
                             :class => "selectpicker")
                :javascript
                  miqSelectPickerEvent('#{item_per_page[1]}', '#{url}');
      .col-md-12.col-lg-6
        %fieldset
          %h3
            = _('Topology Default Items in View')
          - [[_("Containers"), "topology_containers_max_items", :containers_max_items]].each do |item_per_page|
            .form-group
              %label.col-md-3.control-label
                = _(item_per_page[0])
              .col-md-8
                = select_tag(item_per_page[1],
                             options_for_select([[N_("Unlimited"), 0]].concat(pp_choices), @edit[:new][:topology][item_per_page[2]]),
                             :class => "selectpicker")
                :javascript
                  miqSelectPickerEvent('#{item_per_page[1]}', '#{url}');
        %fieldset
          %h3
            = _('Display Settings')
          - [[_("Chart Theme"), "display_reporttheme", ManageIQ::Reporting::Charting.chart_themes_for_select, :reporttheme, false],
             [_("Time Zone"), "display_timezone", ViewHelper::ALL_TIMEZONES, :timezone, true],
             [_("Locale"), "display_locale",      [[_("Global Default"), "default"]] + FastGettext.human_available_locales, :locale, false]].each do |display_settings|
            .form-group
              %label.col-md-3.control-label
                = display_settings[0]
              .col-md-8
                = select_tag(display_settings[1],
                             options_for_select(display_settings[2], @edit[:new][:display][display_settings[3]]),
                             'data-live-search' => display_settings[4],
                             :class             => "selectpicker")
                :javascript
                  miqSelectPickerEvent('#{display_settings[1]}', '#{url}');

    = render :partial => '/layouts/form_buttons'

:javascript
  miqInitSelectPicker();
