- url = url_for_only_path(:action => "view_selected")
= render :partial => "layouts/flash_msg"

#tab_div
  = form_tag({:action => "update"},
             :id     => "config_form",
             :class  => "form-horizontal static",
             :method => :post) do
    .row
      .col-md-12.col-lg-6
        %fieldset
          %h3
            = _('General')
          - {:tagging      => _('Tagging'),
             :compare      => _('Compare'),
             :compare_mode => _('Compare Mode'),
             :drift        => _('Drift'),
             :drift_mode   => _('Drift Mode'),
             :summary_mode => _('Summary Screens')}.each do |resource, view_name|
            .form-group
              %label.col-md-3.control-label
                #{view_name}
              .col-md-8
                %ul.list-inline= render_view_buttons(resource, @edit[:new][:views][resource])

    = render :partial => "/layouts/form_buttons"
