- items = expand_textual_group(items)
- if items.present?
  %table.table.table-bordered.table-striped.table-summary-screen
    %thead
      %tr
        %th{:colspan => "6"}
          = title
      %tr
        %th{:rowspan => "2"} Bay Number
        %th{:rowspan => "2"} Name
        %th{:rowspan => "2"} Manufacturer
        %th{:rowspan => "2"} FRU
        %th{:colspan => "2", :style => "text-align: center"} Ports
      %tr
        %th Name
        %th MAC Address
    - items.each do |item|
      - item[:value].each do |subitem|
        %tr
          %td
            = subitem[:bay_number]
          %td
            = subitem[:adapter_name]
          %td
            = subitem[:manufacturer]
          %td
            = subitem[:fru]
          %td
            - subitem[:port_names].each do |port_name|
              = port_name
              %br/
          %td
            - subitem[:mac_addresses].each do |mac_address|
              = mac_address
              %br/
