%form#form_div{"name"          => "angularForm",
   "form-changed"  => true,
   "miq-form"      => true,
   "model"         => "vm.cloudSubnetModel",
   "model-copy"    => "vm.modelCopy",
   "ng-cloak"      => "",
   "ng-controller" => "cloudSubnetFormController as vm",
   "ng-show"       => "vm.afterGet"}
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Network Provider')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Network Manager')
      .col-md-8
        %input.form-control{"type"         => "text",
                            "name"         => "ems_name",
                            "ng-model"     => "vm.cloudSubnetModel.ems_name",
                            "ng-maxlength" => 128,
                            "readonly"     => true}
  %h3
    = _('Placement')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Cloud Tenant')
      .col-md-8
        %input.form-control{"type"         => "text",
                            "name"         => "tenant_name",
                            "ng-model"     => "vm.cloudSubnetModel.tenant_name",
                            "ng-maxlength" => 128,
                            "readonly"     => true}
  %h3
    = _('Cloud Subnet details')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Network')
      .col-md-8
        %input.form-control{"type"         => "text",
                            "name"         => "network_name",
                            "ng-model"     => "vm.cloudSubnetModel.network_name",
                            "ng-maxlength" => 128,
                            "readonly"     => true}
  = render :partial => "common_new_edit"
  = render :partial => "layouts/angular/generic_form_buttons"

:javascript
  ManageIQ.angular.app.value('cloudSubnetFormId', '#{@subnet.id}');
  miq_bootstrap('#form_div');
