%form#form_div{"name"          => "angularForm",
   "form-changed"  => true,
   "miq-form"      => true,
   "model"         => "vm.cloudSubnetModel",
   "model-copy"    => "vm.modelCopy",
   "ng-cloak"      => "",
   "ng-controller" => "cloudSubnetFormController as vm",
   "ng-show"       => "vm.afterGet"}
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Network Provider')
  .form-horizontal
    .form-group{"ng-class" => "{'has-error': angularForm.ems_id.$invalid}"}
      %label.col-md-2.control-label
        = _('Network Manager')
      .col-md-8
        %select{'id'         => 'ems_id',
                'name'       => 'ems_id',
                'ng-change'  => "vm.filterNetworkManagerChanged(vm.cloudSubnetModel.ems_id)",
                'ng-model'   => "vm.cloudSubnetModel.ems_id",
                'ng-options' => 'ems.id as ems.name for ems in vm.ems',
                'pf-select'  => true,
                'required'   => ''}
          %option{:value => ""}
            = "<#{_('Choose')}>"
        %span.help-block{"ng-show" => "angularForm.ems_id.$error.required"}
          = _("Required")
  %h3
    = _('Placement')
  .form-horizontal
    .form-group{"ng-if"    => "vm.cloudSubnetModel.ems_id",
                "ng-class" => "{'has-error': angularForm.cloud_tenant_id.$invalid}"}
      %label.col-md-2.control-label
        = _('Cloud Tenant')
      .col-md-8
        %select{"name"                        => "cloud_tenant_id",
                "ng-model"                    => "vm.cloudSubnetModel.cloud_tenant_id",
                "ng-options"                  => "tenant.id as tenant.name for tenant in vm.available_tenants",
                "pf-select"                   => true,
                "required"                    => "",
                "selectpicker-for-select-tag" => ""}
          %option{"value" => ""}
            = "<#{_('Choose')}>"
        %span.help-block{"ng-show" => "angularForm.cloud_tenant_id.$error.required"}
          = _("Required")
  %h3
    = _('Cloud Subnet details')
  .form-horizontal
    .form-group{"ng-if"    => "vm.cloudSubnetModel.ems_id",
                "ng-class" => "{'has-error': angularForm.network_id.$invalid}"}
      %label.col-md-2.control-label
        = _('Network')
      .col-md-8
        %select{"name"                        => "network_id",
                "ng-model"                    => "vm.cloudSubnetModel.network_id",
                "ng-options"                  => "network.ems_ref as network.name for network in vm.available_networks",
                "pf-select"                   => true,
                "required"                    => "",
                "selectpicker-for-select-tag" => ""}
          %option{"value" => ""}
            = "<#{_('Choose')}>"
        %span.help-block{"ng-show" => "angularForm.network_id.$error.required"}
          = _("Required")
  = render :partial => "common_new_edit"
  = render :partial => "layouts/angular/generic_form_buttons"

:javascript
  ManageIQ.angular.app.value('cloudSubnetFormId', '#{@subnet.id || "new"}');
  miq_bootstrap('#form_div');
