- vm_scope ||= false

- if !session[:host_items].nil?
  - verify_title_on ||= _("Validate the credentials by logging into the selected %{title_for_host}") % {:title_for_host => title_for_host}
  - verify_title_off ||= _("%{host} to validate against, Username and matching password fields are needed to perform verification of credentials") % {:host => title_for_host}
- else
  - verify_title_on = _("Validate the credentials by logging into the Server")
  - verify_title_off ||= _("Server information, Username and matching password fields are needed to perform verification of credentials")
- if controller.send(:restful?)
  - if vm_scope
    - validate = "$parent.vm.validateClicked($event, '#{valtype}', true)"
  - else
    - validate = "validateClicked($event, '#{valtype}', true)"
- else
  - if vm_scope
    - validate = "$parent.vm.validateClicked('#{url_for(:action => validate_url, :id => id, :type => valtype, :button => "validate")}')"
  - else
    - validate = "validateClicked('#{url_for(:action => validate_url, :id => id, :type => valtype, :button => "validate")}')"

%div{"ng-show" => ng_show}
  - validate_button_disabled = {:class     => "btn btn-primary btn-xs disabled",
                                :alt       => verify_title_off,
                                :title     => verify_title_off,
                                "ng-show"  => basic_info_needed ? "!canValidateBasicInfo()" : "!canValidate()"}
  - validate_button_disabled['ng-show'] = basic_info_needed ? "!$parent.vm.canValidateBasicInfo()" : "!$parent.vm.canValidate()" if vm_scope
  = button_tag(_("Validate"), validate_button_disabled)

  - validate_button = {:class     => "btn btn-primary btn-xs",
                       :alt       => verify_title_on,
                       :title     => verify_title_on,
                       "ng-show"  => basic_info_needed ? "canValidateBasicInfo()" : "canValidate()",
                       "ng-click" => validate}
  - validate_button['ng-show'] = basic_info_needed ? "$parent.vm.canValidateBasicInfo()" : "$parent.vm.canValidate()" if vm_scope
  = button_tag(_("Validate"), validate_button)

  %div{"ng-if" => "checkAuthentication"}
    .form-group{"ng-class" => "{'has-error': angularForm.#{valtype}_auth_status.$error.validationRequired}"}
      .col-md-8
        %input.form-control{"type"                => "checkbox",
                            "id"                  => "#{valtype}_auth_status",
                            "name"                => "#{valtype}_auth_status",
                            "ng-model"            => "#{ng_model}.#{valtype}_auth_status",
                            "prefix"              => "#{valtype}",
                            "validation-status"   => "",
                            "adjust-error-on-tab" => "#{ng_model}.#{valtype}_auth_status",
                            "ng-show"             => false}
        %span.help-block{"ng-if" => "angularForm.#{valtype}_auth_status.$error.validationRequired"}
          = _("Validation Required")
