= catalog_tab_content(:provision) do
  %h3= _('Provisioning')
  .form-group
    .col-md-12
      = render :partial => "layouts/angular/ansible_form_options_angular",
                :locals => {:ng_show => true,
                            :ng_model => "#{ng_model}",
                            :id => record.id,
                            :prefix => "provisioning",
                            :basic_info_needed => true}
  .form-group
    .col-md-12{"ng-if" => "#{ng_model}" == "emsCommonModel" && "#{ng_model}.emstype == 'rhevm'"}
      %span{:style => "color:black"}
        = _("Used to gather Capacity & Utilization metrics.")

= catalog_tab_content(:retirement) do
  %h3= _('Retirement')
  .form-group
    .col-md-12
      = render :partial => "layouts/angular/ansible_form_options_angular",
                :locals => {:ng_show => true,
                            :ng_model => "#{ng_model}",
                            :id => record.id,
                            :prefix => "retirement"}
