#settings_tabs
  %h3
    = _("Settings")
  %ul.nav.nav-tabs{'role' => 'tablist'}
    = miq_tab_header('proxy_settings', nil,
      'ng-if' => "emsOptionsModel.provider_options.hasOwnProperty('proxy_settings')") do
      = _("Proxy")
    = miq_tab_header('advanced_settings', nil,
      'ng-if' => "emsOptionsModel.provider_options.hasOwnProperty('advanced_settings')") do
      = _("Advanced")

  .tab-content
    = miq_tab_content('proxy_settings', 'proxy_settings', "ng-if".to_sym => "emsOptionsModel.provider_options.hasOwnProperty('proxy_settings')") do
      .form-group
        .col-md-12.col-md-12
          = render :partial => "layouts/angular-bootstrap/provider_proxy_settings"
    = miq_tab_content('advanced_settings', 'proxy_settings', "ng-if".to_sym => "emsOptionsModel.provider_options.hasOwnProperty('advanced_settings')") do
      .form-group
        .col-md-12.col-md-12
          = render :partial => "layouts/angular-bootstrap/provider_advanced_settings"

:javascript
  miq_tabs_init('#settings_tabs');
