.col-md-12.ss-details-wrapper{'ng-controller' => 'dialogEditorController as vm'}
  .row{'ng-if' => 'vm.dialog'}
    .col-md-6
      %h2= _("Dialog Content")
      %dialog-editor-tabs
      %dialog-editor-boxes
    .col-md-6
      %h2= _("General")
      %form.form-horizontal
        %div{"pf-form-group" => "", "pf-label" => "Name", :required => ""}
          %input#name{:name => "name", "ng-model" => "vm.dialog.content[0].label", :required => "", :type => "text"}/
        %div{"pf-form-group" => "", "pf-input-class" => "col-sm-9", "pf-label" => "Description"}
          %textarea#description{:name => "description", "ng-model" => "vm.dialog.content[0].description"}
            :preserve
                            {{ vm.dialog.content[0].description }}
      %h2= _("Toolbox")
      .draggable
        %dialog-editor-field-static
  .pull-right
    %button.btn.btn-default{"ng-click" => "vm.dismissChanges()", :type => "button"}= _("Cancel")
    %button.btn.btn-primary{"ng-click" => "vm.saveDialogDetails()", "ng-disabled" => "vm.dialogUnchanged()", :type => "button"}= _("Save")

:javascript
  ManageIQ.angular.app.value('dialogId', '#{ @record.id || "new" }');
  miq_bootstrap('.ss-details-wrapper');
