/ begin: app/views/generic_mailer/policy_action_email.text.haml
= @miq_action_hash[:policy_detail]
= "#{_('Event:')}  #{@miq_action_hash[:event_description]}"
= "#{_('Entity:')}  (#{@miq_action_hash[:entity_type]}) #{@miq_action_hash[:entity_name]}"
/ end: app/views/generic_mailer/policy_action_email.text.haml
