.drawer-pf{'ng-class' => "{'hide': drawerHidden, 'drawer-pf-expanded': drawerExpanded}"}
  .drawer-pf-title{'ng-if' => "drawerTitle"}
    %a.drawer-pf-toggle-expand{'ng-if'    => "allowExpand",
                               'ng-click' => "toggleExpandDrawer()"}
    %a.drawer-pf-close{'ng-click' => "closeDrawer()"}
      %i.pficon.pficon-close
    %h3.text-center
      {{drawerTitle}}

  %div{'pf-fixed-accordion' => true,
       'scroll-selector'    => ".panel-body"}
    .panel-group
      .panel.panel-default{'ng-repeat' => "notificationGroup in notificationGroups track by $index"}
        .panel-heading
          %h4.panel-title
            %a{'ng-click'   => "toggleCollapse(notificationGroup)",
               'ng-class'   => "{collapsed: !notificationGroup.open}"}
              %span.heading-class
                {{notificationGroup.heading}}
          %span.panel-counter
            %span.subheading-class
              {{customScope.unreadCountText(notificationGroup.unreadCount)}}

        .panel-collapse.collapse{'ng-class' => "{in: notificationGroup.open}",
                                 'ng-if'    => "notificationGroup.open"}
          .panel-body
            .drawer-pf-notification{'ng-class'   => "{unread: notification.unread, 'expanded-notification': drawerExpanded}",
                                    'ng-repeat'  => "notification in notificationGroup.notifications | limitTo:limit.notifications:(notificationGroup.notifications.length - limit.notifications)"}
              = render :partial => 'static/notification_drawer/notification-body'
            .drawer-pf-notification.text-center{'ng-if' => 'notificationGroup.notifications.length > 100'}
              %div{'ng-if' => '!limit.notifications'}
                %div
                  = _("Showing all {{notificationGroup.notifications.length}} items.")
                %a.btn.btn-link{'ng-click' => "limit.notifications = 100;"}
                  = _("Show only the first 100")
              %div{'ng-if' => 'limit.notifications'}
                %div
                  = _("Showing {{limit.notifications}} items out of {{notificationGroup.notifications.length}} total.")
                %a.btn.btn-link{'ng-click' => "limit.notifications = undefined;"}
                  = _("Show all (may take a while)");
            .drawer-pf-loading.text-center{'ng-if' => "notificationGroup.isLoading"}
              %span.spinner.spinner-xs.spinner-inline
              = _("Loading More")

          .drawer-pf-action{'ng-if' => "actionButtonTitle"}
            %a.btn.btn-link.btn-block{'ng-click' => "actionButtonCallback(notificationGroup)"}
              {{actionButtonTitle}}

          %div
            .drawer-pf-action.footer-actions
              .footer-button-left
                %a.btn.btn-link{"role" => "button",
                                "ng-class" => "{'disabled': !notificationGroup.notifications || notificationGroup.notifications.length === 0}",
                                "ng-click" => "customScope.markAllRead(notificationGroup)"}
                  %span
                    = _('Mark All Read')
              .footer-button-right
                %a.btn.btn-link{"role" => "button",
                                "ng-class" => "{'disabled': !notificationGroup.notifications || notificationGroup.notifications.length === 0}",
                                "ng-click" => "customScope.clearAllNotifications(notificationGroup)"}
                  %span
                    = _('Clear All')
