= render :partial => "layouts/flash_msg"
#ae_tabs
  -# Toplevel Tabbar
  - nodes = x_node.split('-')
  - case nodes.first
  - when "aec"
    #ae-class-tabs-wrapper
      = react('MiqCustomTab', {:containerId     => 'ae-class-tabs',
                               :tabLabels       => ae_class_tab_configuration,
                               :type            => 'AE_CLASS',
                               :activeTab       => ae_class_tab_index(@sb[:active_tab]),
                               :disableInactive => @in_a_form || @angular_form})
    .miq_custom_tabs_container#ae-class-tabs
      = ae_class_tab_content(:instances, :active_tab => @sb[:active_tab]) do
        = render :partial => "class_instances"
      = ae_class_tab_content(:methods, :active_tab => @sb[:active_tab]) do
        #class_methods_div
          = render :partial => "class_methods"
      = ae_class_tab_content(:props, :active_tab => @sb[:active_tab]) do
        = render :partial => "class_props"
      = ae_class_tab_content(:schema, :active_tab => @sb[:active_tab]) do
        = render :partial => "class_fields"
  - when "aei"
    = render :partial => "instance_fields"
  - when "aem"
    = render :partial => "method_inputs"
  - when "aen"
    - if @in_a_form && @edit.key?(:ae_class_id)
      = render :partial => "class_add"
    - else
      - if !@in_a_form
        = render :partial => "ns_details"
      - else
        = render :partial => "ns_list"
  - when "root"
    = render :partial => "ns_list"

:javascript
  if (ManageIQ.editor !== null) ManageIQ.editor.refresh();
