#ns_list_div
  - if !@in_a_form
    - unless @version_messages.blank?
      - @version_messages.each do |msg|
        = render :partial => 'layouts/info_msg', :locals => {:message => msg}
    %table#ns_list_grid.table.table-striped.table-bordered.table-hover.table-clickable.table-checkable
      %thead
        %th.table-view-pf-select
          %input.checkall{:type => 'checkbox', :title => _('Check All')}
        %th
        %th= _('Name')
        %th= _('Description')
        %th= _('Enabled')
        - if User.current_user.super_admin_user?
          %th= _('Tenant')
      %tbody{'data-click-url' => '/miq_ae_class/tree_select/'}
        - @grid_data.each do |record|
          - next if record.name == '$'
          - cls_cid = "#{class_prefix(record.class)}-#{record.id}"
          %tr{'data-click-id' => cls_cid}
            %td.table-view-pf-select.noclick
              %input{:type => 'checkbox', :value => cls_cid}
            %td.table-view-pf-select
              - if record.git_enabled?
                %img{:src => image_path('svg/ae_git_domain.svg')}
              - elsif record.name == MiqAeDatastore::MANAGEIQ_DOMAIN
                %i.ff.ff-manageiq
              - elsif record.top_level_namespace
                %img{:src => image_path("svg/vendor-#{record.top_level_namespace.downcase}.svg")}
              - else
                %i.fa.fa-globe
            %td
              = record_name(record).html_safe
            %td
              = record.description
            %td
              = record.enabled
            - if User.current_user.super_admin_user?
              %td
                = record.tenant.name
    :javascript
      $(function () {
        $('#ns_list_grid').miqGrid();
      });

  - else
    - if @ae_ns.domain?
      = react('AutomateDomainForm', {:id => @ae_ns.try(:id)})
    - else
      = react('AutomateNamespaceForm', {:id => @ae_ns.try(:id),
                                :parentId => @ae_ns.parent_id,
                                :namespacePath => @sb[:namespace_path]})
