#ns_list_div
  - if !@in_a_form
    - unless @version_messages.blank?
      - @version_messages.each do |msg|
        = render :partial => 'layouts/info_msg', :locals => {:message => msg}
    %table#ns_list_grid.table.table-striped.table-bordered.table-hover.table-clickable.table-checkable
      %thead
        %th.table-view-pf-select
          %input.checkall{:type => 'checkbox', :title => _('Check All')}
        %th
        %th= _('Name')
        %th= _('Description')
        %th= _('Enabled')
        - if User.current_user.super_admin_user?
          %th= _('Tenant')
      %tbody{'data-click-url' => '/miq_ae_class/tree_select/'}
        - @grid_data.each do |record|
          - next if record.name == '$'
          - cls_cid = "#{class_prefix(record.class)}-#{record.id}"
          %tr{'data-click-id' => cls_cid}
            %td.table-view-pf-select.noclick
              %input{:type => 'checkbox', :value => cls_cid}
            %td.table-view-pf-select
              - if record.git_enabled?
                %img{:src => image_path('svg/ae_git_domain.svg')}
              - elsif record.name == MiqAeDatastore::MANAGEIQ_DOMAIN
                %i.ff.ff-manageiq
              - elsif record.top_level_namespace
                %img{:src => image_path("svg/vendor-#{record.top_level_namespace.downcase}.svg")}
              - else
                %i.fa.fa-globe
            %td
              = record_name(record).html_safe
            %td
              = record.description
            %td
              = record.enabled
            - if User.current_user.super_admin_user?
              %td
                = record.tenant.name
    :javascript
      $(function () {
        $('#ns_list_grid').miqGrid();
      });

  - else
    - name_readonly = @ae_ns.domain? && !@ae_ns.editable_property?(:name)
    - description_readonly = @ae_ns.domain? && !@ae_ns.editable_property?(:description)
    %namespace-form{:ae_ns_domain => @ae_ns.domain?,
                    :namespace_path => @ae_ns.domain? ? "" : @sb[:namespace_path],
                    :namespace_id => @ae_ns.id || 'new',
                    :name_readonly => name_readonly,
                    :description_readonly => description_readonly}
:javascript
  miq_bootstrap('namespace-form')
