- tooltipOptions = {"tooltip-placement" => "bottom", "uib-tooltip" => "{{vm.legendTooltip}}"}
.topology{'ng-controller' => "physicalInfraTopologyController as vm"}
  .legend
    %label#selected
    %div{'ng-if' => "vm.filters"}
      .topology-filter-group
        %kubernetes-topology-filter{tooltipOptions, "filter-property" => "kind", "filter-value" => "PhysicalRack"}
          %label
            %i.pficon.pficon-enterprise
            = _("Physical Racks")
        %kubernetes-topology-filter{tooltipOptions, "filter-property" => "kind", "filter-value" => "PhysicalChassis"}
          %label
            %i.pficon.pficon-cluster
            = _("Physical Chassis")
        %kubernetes-topology-filter{tooltipOptions, "filter-property" => "kind", "filter-value" => "PhysicalServer"}
          %label
            %i.pficon.pficon-server-group
            = _("Physical Servers")
        %kubernetes-topology-filter{tooltipOptions, "filter-property" => "kind", "filter-value" => "PhysicalSwitch"}
          %label
            %i.ff.ff-network-switch
            = _("Physical Switches")
        %kubernetes-topology-filter{tooltipOptions, "filter-property" => "kind", "filter-value" => "Host"}
          %label
            %i.pficon.pficon-container-node
            = _("Hosts")
        %kubernetes-topology-filter{tooltipOptions, "filter-property" => "kind", "filter-value" => "Vm"}
          %label
            %i.pficon.pficon-virtual-machine
            = _("VMs")
      .topology-filter-group
        %label#health_state
          = _("Health State: ")
        %kubernetes-topology-filter{tooltipOptions, "filter-property" => "status", "filter-value" => "Valid"}
          %label
            %i.fa.fa-circle
            = _("Valid")
        %kubernetes-topology-filter{tooltipOptions, "filter-property" => "status", "filter-value" => "Warning"}
          %label
            %i.fa.fa-circle
            = _("Warning")
        %kubernetes-topology-filter{tooltipOptions, "filter-property" => "status", "filter-value" => "Critical"}
          %label
            %i.fa.fa-circle
            = _("Critical")
        %kubernetes-topology-filter{tooltipOptions, "filter-property" => "status", "filter-value" => "Unknown,None"}
          %label
            %i.fa.fa-circle
            = _("Unknown")

  .alert.alert-info.alert-dismissable
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"}
      %span.pficon.pficon-close
    %span.pficon.pficon-info
    %strong
      = _("Click on the legend to show/hide entities, and double click/right click the entities in the graph to navigate to their summary pages.")

  = render :partial => "shared/topology/not_found_vm"

  %kubernetes-topology-graph{:items => "vm.items", :relations => "vm.relations", :kinds => "vm.kinds", :filters => "vm.filters"}

:javascript
  miq_bootstrap('.topology');
