%form.form-horizontal{"name"         => "angularForm",
                      "model-copy"   => "vm.modelCopy",
                      "model"        => "vm.genericObjectDefinitionModel",
                      "ng-show"      => "vm.afterGet && vm.tableRendered",
                      "ng-cloak"     => "",
                      "novalidate"   => true,
                      "form-changed" => true,
                      "miq-form"     => true}
  .form-group{"ng-class" => "{'has-error': angularForm.name.$invalid}"}
    %label.col-md-2.control-label{"for" => "generic_object_definition_name"}
      = _("Name")
    .col-md-8
      %input.form-control{"type"        => "text",
                          "id"          => "generic_object_definition_name",
                          "name"        => "name",
                          "ng-model"    => "vm.genericObjectDefinitionModel.name",
                          "maxlength"   => ViewHelper::MAX_NAME_LEN,
                          "required"    => "",
                          "auto-focus"  => ""}
      %span.help-block{"ng-show" => "angularForm.name.$error.required"}
        = _("Required")
  .form-group{"ng-class" => "{'has-error': angularForm.description.$invalid}"}
    %label.col-md-2.control-label{"for" => "generic_object_definition_description"}
      = _("Description")
    .col-md-8
      %input.form-control{"type"        => "text",
                          "id"          => "generic_object_definition_description",
                          "name"        => "description",
                          "ng-model"    => "vm.genericObjectDefinitionModel.description",
                          "maxlength"   => "#{ViewHelper::MAX_DESC_LEN}",
                          "required"    => ""}
      %span.help-block{"ng-show" => "angularForm.description.$error.required"}
        = _("Required")
  .form-group
    %label.col-md-2.control-label{"for" => "generic_object_definition_attrributes"}
      = _("Attributes")
    .col-md-8
      %generic-object-table-component{"keys"             => "vm.genericObjectDefinitionModel.attribute_names",
                                      "values"           => "vm.genericObjectDefinitionModel.attribute_types",
                                      "key-type"         => "Attribute",
                                      "add-row-text"     => _("Add Attribute"),
                                      "table-headers"    => "vm.attributeTableHeaders",
                                      "orig-keys-values" => "vm.genericObjectDefinitionModel.properties.attributes",
                                      "table-changed"    => "vm.genericObjectDefinitionModel.attributesTableChanged",
                                      "required-rule"    => "vm.noOfRows > 1",
                                      "new-record"       => "vm.newRecord",
                                      "no-of-rows"       => "vm.genericObjectDefinitionModel.noOfAttributeRows",
                                      "table-rendered"   => "vm.tableRendered",
                                      "unique-property"  => "vm.uniqueProperty('Attributes')",
                                      "angular-form"     => "angularForm",
                                      "value-options"    => "vm.types"}
  .form-group
    %label.col-md-2.control-label{"for" => "generic_object_definition_associations"}
      = _("Associations")
    .col-md-8
      %generic-object-table-component{"keys"             => "vm.genericObjectDefinitionModel.association_names",
                                      "values"           => "vm.genericObjectDefinitionModel.association_classes",
                                      "key-type"         => "Association",
                                      "add-row-text"     => _("Add Association"),
                                      "table-headers"    => "vm.associationTableHeaders",
                                      "orig-keys-values" => "vm.genericObjectDefinitionModel.properties.associations",
                                      "table-changed"    => "vm.genericObjectDefinitionModel.associationsTableChanged",
                                      "required-rule"    => "vm.noOfRows > 1",
                                      "new-record"       => "vm.newRecord",
                                      "no-of-rows"       => "vm.genericObjectDefinitionModel.noOfAssociationRows",
                                      "table-rendered"   => "vm.tableRendered",
                                      "unique-property"  => "vm.uniqueProperty('Associations')",
                                      "angular-form"     => "angularForm",
                                      "value-options"    => "vm.classes"}
  .form-group
    %label.col-md-2.control-label{"for" => "generic_object_definition_methods"}
      = _("Methods")
    .col-md-8
      %generic-object-table-component{"keys"             => "vm.genericObjectDefinitionModel.method_names",
                                      "key-type"         => "Method",
                                      "add-row-text"     => _("Add Method"),
                                      "table-headers"    => "vm.methodTableHeaders",
                                      "orig-keys-values" => "vm.genericObjectDefinitionModel.properties.methods",
                                      "table-changed"    => "vm.genericObjectDefinitionModel.methodsTableChanged",
                                      "required-rule"    => "vm.noOfRows > 1",
                                      "new-record"       => "vm.newRecord",
                                      "no-of-rows"       => "vm.genericObjectDefinitionModel.noOfMethodRows",
                                      "table-rendered"   => "vm.tableRendered",
                                      "unique-property"  => "vm.uniqueProperty('Methods')",
                                      "angular-form"     => "angularForm"}
  %custom-image-component{'new-record'       => "vm.newRecord",
                          'angular-form'     => 'angularForm',
                          'picture'          => 'vm.genericObjectDefinitionModel.picture',
                          'picture-uploaded' => 'vm.genericObjectDefinitionModel.pictureUploaded',
                          'picture-remove'   => 'vm.genericObjectDefinitionModel.pictureRemove',
                          'picture-reset'    => 'vm.pictureReset',
                          'picture-url-path' => '{{vm.genericObjectDefinitionModel.picture.image_href}}'}

= render :partial => "layouts/angular/generic_form_buttons"
