#main_div
  #tab_div
    = render :partial => "layouts/flash_msg"
    .row
      - desc = ::Settings.server.custom_support_url_description
      - url  = ::Settings.server.custom_support_url
      - cond_url = desc.present? && url.present?
      .col-md-12
        - @pdf_documents.each do |filename, title|
          - docfile_path = "/doc/#{filename}.pdf"
          %br
          - t = (_("View the %{title} Guide") % {:title => title})
          = link_to(docfile_path, :onclick => "return miqClickAndPop(this);", :title => t) do
            %i.fa.fa-file-pdf-o.fa-lg
            = t
          %br
        - if cond_url
          %br
          - url = "http://" + url if !url.starts_with?("http://") && !url.starts_with?("https://")
          = link_to(desc, url, :onclick => "return miqClickAndPop(this);")
          %br
        %br
          = _("For questions or problem reporting, visit ")
          %a{:href => ::Settings.docs.product_support_website, :target => "_new"}
            = ::Settings.docs.product_support_website_text

        %br
