- tooltip_options = {"tooltip-placement" => "bottom", "uib-tooltip" => "{{vm.legendTooltip}}"}
.topology{'ng-controller' => "containerTopologyController as vm"}
  .legend
    %label#selected
    %div{'ng-if' => "vm.kinds"}
      %kubernetes-topology-icon{tooltip_options, :kind => "ContainerReplicator"}
        %label
          %i.pficon.pficon-replicator
          = _("Replicators")
      %kubernetes-topology-icon{tooltip_options, :kind => "ContainerGroup"}
        %label
          %i.fa.fa-cubes
          = _("Pods")
      %kubernetes-topology-icon{tooltip_options, :kind => "Container"}
        %label
          %i.fa.fa-cube
          = _("Containers")
      %kubernetes-topology-icon{tooltip_options, :kind => "ContainerService"}
        %label
          %i.pficon.pficon-service
          = _("Services")
      %kubernetes-topology-icon{tooltip_options, :kind => "ContainerRoute"}
        %label
          %i.pficon.pficon-route
          = _("Routes")
      %kubernetes-topology-icon{tooltip_options, :kind => "ContainerNode"}
        %label
          %i.pficon.pficon-container-node
          = _("Nodes")
      %kubernetes-topology-icon{tooltip_options, :kind => "Vm"}
        %label
          %i.pficon.pficon-virtual-machine
          = _("VMs")
      %kubernetes-topology-icon{tooltip_options, :kind => "Host"}
        %label
          %i.pficon.pficon-container-node
          = _("Hosts")

  .alert.alert-info.alert-dismissable
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"}
      %span.pficon.pficon-close
    %span.pficon.pficon-info
    %strong
      = _("Click on the legend to show/hide entities, and double click/right click the entities in the graph to navigate to their summary pages.")
  .alert.alert-warning.alert-dismissable
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"}
      %span.pficon.pficon-close
    %span.pficon.pficon-warning-triangle-o
    %strong
      = _("Note: displaying a very large number of objects in the topology display can adversely affect the performance of some web browsers.")


  = render :partial => "shared/topology/not_found_vm"

  %kubernetes-topology-graph{:items => "vm.items", :relations => "vm.relations", :kinds => "vm.kinds"}

:javascript
  ManageIQ.angular.app.value('topologyDetail', #{params[:controller] == "container_project"});
  miq_bootstrap('.topology');
