- tooltip_options = {"tooltip-placement" => "bottom", "tooltip" => "{{legendTooltip}}"}
.topology{'ng-controller' => "containerTopologyController"}
  .legend
    %label#selected
    %div{'ng-if' => "kinds"}
      %kubernetes-topology-icon{tooltip_options, :kind => "ContainerReplicator"}
        %label
          %i.pficon.pficon-replicator
          = _("Replicators")
      %kubernetes-topology-icon{tooltip_options, :kind => "ContainerGroup"}
        %label
          %i.fa.fa-cubes
          = _("Pods")
      %kubernetes-topology-icon{tooltip_options, :kind => "Container"}
        %label
          %i.fa.fa-cube
          = _("Containers")
      %kubernetes-topology-icon{tooltip_options, :kind => "ContainerService"}
        %label
          %i.pficon.pficon-service
          = _("Services")
      %kubernetes-topology-icon{tooltip_options, :kind => "ContainerRoute"}
        %label
          %i.pficon.pficon-route
          = _("Routes")
      %kubernetes-topology-icon{tooltip_options, :kind => "ContainerNode"}
        %label
          %i.pficon.pficon-container-node
          = _("Nodes")
      %kubernetes-topology-icon{tooltip_options, :kind => "Vm"}
        %label
          %i.pficon.pficon-virtual-machine
          = _("VMs")
      %kubernetes-topology-icon{tooltip_options, :kind => "Host"}
        %label
          %i.pficon.pficon-screen
          = _("Hosts")

  .alert.alert-info.alert-dismissable
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"}
      %span.pficon.pficon-close
    %span.pficon.pficon-info
    %strong
      = _("Click on the legend to show/hide entities, and double click/right click the entities in the graph to navigate to their summary pages.")

  = render :partial => "shared/topology/not_found"

  %kubernetes-topology-graph{:items => "items", :relations => "relations", :kinds => "kinds"}

:javascript
  miq_bootstrap('.topology');
