- tooltip_options = {"tooltip-placement" => "bottom", "uib-tooltip" => "{{vm.legendTooltip}}"}
.topology{'ng-controller' => "cloudTopologyController as vm"}
  .legend
    %label#selected
    %div{'ng-if' => "vm.kinds"}
      %kubernetes-topology-icon{tooltip_options, :kind => "Vm"}
        %label
          %i.pficon.pficon-virtual-machine
          = _("VMs")
      %kubernetes-topology-icon{tooltip_options, :kind => "AvailabilityZone"}
        %label
          %i.pficon.pficon-zone
          = _("Availability Zones")
      %kubernetes-topology-icon{tooltip_options, :kind => "CloudTenant"}
        %label
          %i.pficon.pficon-cloud-tenant
          = _("Cloud Tenants")

  .alert.alert-info.alert-dismissable
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"}
      %span.pficon.pficon-close
    %span.pficon.pficon-info
    %strong
      = _("Click on the legend to show/hide entities, and double click/right click the entities in the graph to navigate to their summary pages.")

  = render :partial => "shared/topology/not_found_vm"

  %kubernetes-topology-graph{:items => "vm.items", :relations => "vm.relations", :kinds => "vm.kinds"}

:javascript
  miq_bootstrap('.topology');
