%span
  %ol.breadcrumb.breadcrumbs
    - if @title.nil?
      - @title = ""
    - if respond_to?(:data_for_breadcrumbs)
      - breadcrumb_new = data_for_breadcrumbs
      - unless breadcrumb_new.blank?
        - if @right_cell_text.nil?
          - breadcrumb_new[0...-1].each do |breadcrumb_new|
            %li
              - if breadcrumb_new.key?(:url)
                %a{:href => breadcrumb_new[:url], :onclick => "return miqCheckForChanges()"}
                  = raw(breadcrumb_new[:title])
              - else
                = raw(breadcrumb_new[:title])
          %li.active
            %strong
              = raw(breadcrumb_new[-1][:title])
        - else
          - breadcrumb_new[0...-1].each do |breadcrumb_new|
            %li
              - if breadcrumb_new.key?(:key)
                - if breadcrumb_new.key?(:action)
                  = raw(breadcrumb_new[:title])
                - else
                  %a{:onclick => "sendDataWithRx({breadcrumbSelect: {path: '/" + controller_name + "/tree_select', key: '" + breadcrumb_new[:key] + "' }})"}
                    = raw(breadcrumb_new[:title])
              - else
                = h(breadcrumb_new[:title])
          %li.active
            %strong
              = raw(breadcrumb_new[-1][:title])
    - else
      %li.active
        %strong
          = @title
