.container-fluid.container-pf-nav-pf-vertical.container-pf-nav-pf-vertical-with-sub-menus.max-height{:style => "overflow: hidden !important"}
  #breadcrumbs
    = render :partial => "layouts/breadcrumbs"
  - if !@in_a_form && taskbar_in_header?
    .row.toolbar-pf#toolbar.miq-toolbar-menu
      .col-sm-12
        - if @layout == "dashboard"
          = render :partial => "/layouts/tabs"
        = miq_toolbar toolbar_from_hash
  .row.max-height
    .col-sm-8.col-md-9.col-sm-push-4.col-md-push-3.max-height
      #main-content.row.miq-layout-center_div_with_listnav
        .col-md-12
          .row
            .col-md-7
              - if layout_uses_tabs?
                = render :partial => 'layouts/tabs'
            .col-md-5
              %br
              = render :partial => 'layouts/searchbar'
          .row
            .col-md-12
              = yield
      .row#paging_div{:style => @in_a_form ? '' : 'display: none'}

    .col-sm-4.col-md-3.col-sm-pull-8.col-md-pull-9.sidebar-pf.sidebar-pf-left.max-height
      -# listnav_div
      = render :partial => "layouts/listnav"
