.container-fluid.container-pf-nav-pf-vertical.container-pf-nav-pf-vertical-with-sub-menus{:style => "overflow: hidden !important; height: 100%;"}
  #breadcrumbs
    = render :partial => "layouts/breadcrumbs"
  .row.max-height
    .col-md-12.max-height
      - if !@in_a_form && taskbar_in_header?
        .row.toolbar-pf#toolbar
          .col-sm-12
            = miq_toolbar toolbar_from_hash
      .row#main-content.miq-layout-center_div_no_listnav{:class => @lastaction == "show_dashboard" || @layout == "monitor_alerts_overview" ? 'miq-body' : ''}
        .col-md-12
          .row
            .col-md-7
              - if layout_uses_tabs?
                = render :partial => 'layouts/tabs'
            .col-md-5
              - if show_search?
                %br
                = render :partial => 'layouts/searchbar'
        .col-md-12
          = yield
      .row#paging_div{:style => (layout_uses_paging? && !@in_a_form) ? '' : 'display: none'}
