- if big_iframe
  = render :partial => "layouts/vertical_navbar"
  .container-fluid.container-pf-nav-pf-vertical.container-pf-nav-pf-vertical-with-sub-menus.max-height{:style => "overflow: hidden !important"}
    .row.max-height
      = yield
- elsif inner_layout_present?
  = render :partial => "layouts/vertical_navbar"
  .container-fluid.container-pf-nav-pf-vertical.container-pf-nav-pf-vertical-with-sub-menus.max-height{:style => "overflow: hidden !important"}
    #breadcrumbs
      = render :partial => "layouts/breadcrumbs"
    .row.toolbar-pf#toolbar.miq-toolbar-menu
      .col-sm-12
        = render :partial => "layouts/angular/toolbar"
    .row.max-height
      .max-height{:class => simulate? ? 'col-sm-7 col-md-8 col-sm-push-5 col-md-push-4' : 'col-sm-8 col-md-9 col-sm-push-4 col-md-push-3'}
        #main-content.row.miq-layout-center_div_with_listnav
          .col-md-12
            .row
              .col-md-7#explorer
                %h1#explorer_title
                  %span#explorer_title_text
                    = safe_right_cell_text
                  -# Link to clear the current applied filter, will be moved via JS to the right cell header
                  %span#clear_search{:style => "display:none"}
                    - if route_exists?(:action => 'adv_search_clear')
                      (
                      = link_to(_("clear"),
                                {:action              => "adv_search_clear"},
                                "data-miq_sparkle_on" => true,
                                :remote               => true,
                                "data-method"         => :post,
                                :title                => _("Remove the current filter"),
                                :style                => "text-decoration: underline;")
                      )
              .col-md-5
                %br
                = yield :search
            .row
              .col-md-12
                = yield
        .col-md-12.no-padding
          = render :partial => 'layouts/x_form_buttons'
          .row#paging_div{:style => saved_report_paging? ? "" : "display: none"}
            - if saved_report_paging?
              = render(:partial => 'layouts/saved_report_paging_bar',
                       :locals  => {:pages => @sb[:pages]})

      - if simulate?
        #left_div.sidebar-pf.sidebar-pf-left.scrollable.max-height.col-sm-5.col-md-4.col-sm-pull-7.col-md-pull-8
          #default_left_cell
            = yield :left
      - else
        #left_div.sidebar-pf.sidebar-pf-left.scrollable.max-height.col-sm-4.col-md-3.col-sm-pull-8.col-md-pull-9
          #default_left_cell
            - if @accords && @trees
              = render :partial => "layouts/listnav"
            = yield :left
          #custom_left_cell

- elsif layout_full_center
  = render :partial => "layouts/vertical_navbar"
  = render :partial => layout_full_center
- else
  #center_div{:style => "height: 100%;"}
    = render :partial => center_div_partial

- if show_advanced_search?
  :javascript
    #{javascript_show_if_exists("adv_searchbox_div")}

:javascript
  // a hack to prevent toolbars disappearing behind top menus, see BZ#1291465 for details
  $('.container-fluid').scrollTop(0);

- if @record
  :javascript
    ManageIQ.record.recordId = '#{@record.id}';
- else
  :javascript
    ManageIQ.record.recordId = null;
