- flash_div_id ||= 'flash_msg_div'

- flash_style ||= @flash_array ? "" : "display: none"
%div{:id => flash_div_id, :style => flash_style}
  - if @flash_array
    .flash_text_div
      - @flash_array.each do |fl|
        - case fl[:level]
        - when :error

          .pf-c-alert.pf-m-danger{"aria-label" => "Danger alert"}
            .pf-c-alert__icon
              %i.fas.fa-exclamation-circle{"aria-hidden" => "true"}
            %h4.pf-c-alert__title
              %span.pf-screen-reader
                Error alert:
              = h(fl[:message])
            .pf-c-alert__action{:data => {:dismiss => "alert"}}
              %button.pf-c-button.pf-m-plain{"aria-label" => "Close Danger Alert: #{fl[:message]}"}
                %i.fas.fa-times{"aria-hidden" => "true"}

        - when :warning

          .pf-c-alert.pf-m-warning{"aria-label" => "Warning alert"}
            .pf-c-alert__icon
              %i.fas.fa-exclamation-triangle{"aria-hidden" => "true"}
            %h4.pf-c-alert__title
              %span.pf-screen-reader
                Warning alert:
              = h(fl[:message])
            .pf-c-alert__action
              %button.pf-c-button.pf-m-plain{"aria-label" => "Close Warning Alert: #{fl[:message]}"}
                %i.fas.fa-times{"aria-hidden" => "true"}

        - when :info
          = render :partial => "layouts/info_msg",
                   :locals => {:message => h(fl[:message])}
        - else
        
          .pf-c-alert.pf-m-success{"aria-label" => "Success alert"}
            .pf-c-alert__icon
              %i.fas.fa-check-circle{"aria-hidden" => "true"}
            %h4.pf-c-alert__title
              %span.pf-screen-reader
                Success alert:
              = h(fl[:message])
            .pf-c-alert__action{:data => {:dismiss => "alert"}}
              %button.pf-c-button.pf-m-plain{"aria-label" => "Close Success Alert: #{fl[:message]}"}
                %i.fas.fa-times{"aria-hidden" => "true"}
          %br
