- user = {:name => current_user.name,
          :userid => current_user.userid}
- group = {:id => current_group.id.to_s,
           :description => current_group.description}
- groups = current_user.miq_groups.map { |group| { :id => group.id.to_s, :description => group.description } }

= react('menu.MainMenu', {:applianceName => appliance_name,
                          :brandUrl => image_path("layout/brand.svg"),
                          :currentGroup => group,
                          :currentUser => user,
                          :customBrand => ::Settings.server.custom_brand,
                          :logoLarge => image_path("layout/manageiq-logo-inverse.svg"),
                          :logoSmall => image_path("layout/manageiq-logo-glyph-inverse.svg"),
                          :menu => menu_to_json,
                          :miqGroups => groups}, :id => 'main-menu')

= react('NotificationDrawer')
= react('ToastList')
= react('MiqAboutModal', {:dialogClassName => ::Settings.server.custom_login_logo ? 'whitelabel' : ''})

= render :partial => "layouts/spinner"
= render :partial => "layouts/lightbox_panel"
