#form_enablement_expression_div
  - if @expkey == :enablement_expression
    %h3= _("Enablement Expression (Choose an element of the expression to edit)")
    = render :partial => 'layouts/exp_editor'
  - else
    %h3= _('Enablement Expression (Press the "Edit" button to edit the expression)')
    = link_to(image_tag(image_path('toolbars/edit.png'), :border => "0", :alt => (t = _("Edit this Expression"))),
      {:action => 'button_update', :button => "enablement_expression"},
      "data-miq_sparkle_on"  => true,
      "data-miq_sparkle_off" => true,
      :remote                => true,
      "data-method"          => :post,
      :title                 => t)
    %br
    - if @edit[:enablement_expression_table].nil?
      = render :partial => 'layouts/info_msg',
               :locals  => {:message => _("No enablement expression defined.")}
    - else
      - @edit[:enablement_expression_table].each do |token|
        - if !["AND", "OR", "(", ")"].include?([token].flatten.first)
          = h([token].flatten.first)
        - else
          %font{:color => "black"}
            %b
              = h([token].flatten.first)
