.col-md-12
  .toolbar-pf-actions
    - action_url = "saved_report_paging"
    - url = url_for_only_path(:action => action_url)
    - @pb_occ ||= 0
    - @pb_occ += 1
    - pages ||= {:perpage => settings(:perpage, :reports),
                :current => 1,
                :total   => @sb[:pages][:total],
                :items   => @sb[:pages][:items]}

    %div{:id => "rpb_div_#{@pb_occ}"}
      = render :partial => '/layouts/paging_bar',
               :locals => {:pages => pages, :action_url => action_url, :action_id => ''}
      .form-group.pull-right
        = _('Items per page:')
        = select_tag("ppsetting",
                    options_for_select(@pp_choices, pages[:perpage]),
                    "data-width" => "auto",
                    :class       => "selectpicker dropup")
        :javascript
          miqSelectPickerEvent("ppsetting", "#{url}", {beforeSend: true, complete: true})
    = render(:partial => '/layouts/x_form_buttons')
    :javascript
      miqInitSelectPicker();
