- url = url_for_only_path(:action => 'tl_chooser', :id => @record.id)
- record_type = extract_record_type(@record)

#tl_options_div
  %form#form_div{:name           => 'angularForm',
                 'ng-controller' => 'timelineOptionsController as vm',
                 'ng-show'       => 'vm.afterGet',
                 'miq-form'      => true,
                 'model'         => 'vm.reportModel',
                 'model-copy'    => 'vm.modelCopy',
                 :novalidate     => true}
    - if @timeline
      %h3
        = _("Options")
      .toolbar-pf
        .row
          .col-sm-12.toolbar-pf-actions.timeline-toolbar
            .form-group
              %div{'class' => 'timeline-filterbar', 'style' => 'width: 900px'}
                = select_tag("tl_show",
                  options_for_select(accessible_select_event_types, nil),
                  'ng-model'                    => 'vm.reportModel.tl_show',
                  "selectpicker-for-select-tag" => '',
                  :class                        => 'selectpicker',
                  'ng-change'                   => 'vm.eventTypeUpdated()')
                %span{'ng-if' => 'vm.reportModel.tl_show === "timeline"'}
                  = select_tag("tl_category_management",
                    options_for_select(@tl_options.management.events.keys.sort, nil),
                    'ng-model'                    => 'vm.reportModel.tl_categories',
                    'ng-change'                   => 'vm.clearLevelsIfNotSelected()',
                    'title'                       => _('No category selected'),
                    "selectpicker-for-select-tag" => '',
                    'data-live-search'            => 'true',
                    'data-actions-box'            => 'true',
                    'data-select-all-text'        => _('Select All'),
                    'data-deselect-all-text'      => _('Deselect All'),
                    'multiple'                    => '',
                    :class                        => 'selectpicker category-selector')
                %span{'ng-if' => 'vm.reportModel.tl_show === "timeline"'}
                  = select_tag("tl_levels_management",
                    options_for_select(@tl_options.management.levels_text_and_value.sort, nil),
                    'ng-model'                    => 'vm.reportModel.tl_levels',
                    'title'                       => _('No severity selected'),
                    'ng-disabled'                 => 'vm.reportModel.tl_categories.length === 0',
                    "selectpicker-for-select-tag" => '',
                    'data-live-search'            => 'true',
                    'data-actions-box'            => 'true',
                    'data-select-all-text'        => _('Select All'),
                    'data-deselect-all-text'      => _('Deselect All'),
                    'multiple'                    => '',
                    :class                        => 'selectpicker category-selector')
                %span{'ng-if' => 'vm.reportModel.tl_show === "timeline" && vm.showFilterField()'}
                  = select_tag("storage_systems",
                    options_for_select(storage_systems_options, nil),
                    'ng-model' => 'vm.reportModel.tl_storage_systems',
                    'title' => _('Select Storage System'),
                    'ng-disabled' => 'vm.reportModel.tl_categories.length === 0',
                    "selectpicker-for-select-tag" => '',
                    'data-live-search' => 'true',
                    'data-actions-box' => 'true',
                    'data-select-all-text' => _('Select All'),
                    'data-deselect-all-text' => _('Deselect All'),
                    'multiple' => '',
                    :class => 'selectpicker category-selector')
                %span{'ng-if' => 'vm.reportModel.tl_show !== "timeline"'}
                  = select_tag("tl_category_policy",
                    options_for_select(@tl_options.policy.events.keys.sort, nil),
                    'ng-model'                    => 'vm.reportModel.tl_categories',
                    "selectpicker-for-select-tag" => '',
                    'data-live-search'            => 'true',
                    'data-actions-box'            => 'true',
                    'data-select-all-text'        => _('Select All'),
                    'data-deselect-all-text'      => _('Deselect All'),
                    'multiple'                    => '',
                    :class                        => 'selectpicker category-selector')
                %span{'ng-if' => 'vm.reportModel.tl_show !== "timeline"', 'class' => 'timeline-option'}
                  %label.radio
                    %input{"ng-model" => "vm.reportModel.tl_result", :type => "radio", :value => "success"}
                    = _("Successful Events")
                  %label.radio
                    %input{"ng-model" => "vm.reportModel.tl_result", :type => "radio", :value => "failure"}
                    = _("Failed Events")
                  %label.radio
                    %input{"ng-model" => "vm.reportModel.tl_result", :type => "radio", :value => "both"}
                    = _("Both")
              %div{'class' => 'timeline-date-box'}
                .input-group.bootstrap-touchspin.timeline-stepper.pull-left
                  %span.input-group-btn
                    %button.btn.btn-default.bootstrap-touchspin-down{"ng-click" => "vm.countDecrement()", :type => "button"} -
                  %input.timeline-range-input.bootstrap-touchspin.form-control{"ng-model" => "vm.reportModel.tl_range_count",
                                                                                :readonly => "readonly",
                                                                                :type     => "text"}
                  %span.input-group-btn
                    %button.btn.btn-default.bootstrap-touchspin-up{"ng-click" => "vm.countIncrement()", :type => "button"} +
                = select_tag("tl_range",
                  options_for_select([[_("Days"), "days"],
                                      [_("Weeks"), "weeks"],
                                      [_("Months"), "months"]], nil),
                  'ng-model'                    => 'vm.reportModel.tl_timerange',
                  "selectpicker-for-select-tag" => '',
                  :class                        => 'selectpicker pull-left')
                = select_tag("tl_timepivot",
                  options_for_select([[_("centered"), "centered"],
                                      [_("starting"), "starting"],
                                      [_("ending"), "ending"]], nil),
                  'ng-model'                    => 'vm.reportModel.tl_timepivot',
                  "selectpicker-for-select-tag" => '',
                  :class                        => 'selectpicker pull-left timeline-pivot-input')
                %input{'pf-datepicker' => '',
                       'options'       => 'vm.dateOptions',
                       'date'          => 'vm.reportModel.tl_date',
                       'class'         => 'pull-righto timeline-date-input'}
            .timeline-apply
              .btn.btn-default{'ng-click'    => 'vm.applyButtonClicked()',
                               'ng-disabled' => 'vm.reportModel.tl_categories.length === 0',
                               'class'       => 'timeline-apply'}
                = _("Apply")
            = hidden_field_tag(:ignore_form_changes)

:javascript
  ManageIQ.angular.app.value('recordId', '#{@record.id}');
  ManageIQ.angular.app.value('url', '#{url}');
  ManageIQ.angular.app.value('categories', '#{@tl_options.management.events.keys.sort}');
  ManageIQ.angular.app.value('record_type', '#{record_type}');

  miq_bootstrap('#form_div');
