= render :partial => 'layouts/doctype'
%html{:lang => I18n.locale.to_s.sub('-', '_')}
  %head
    %title
      = _('%{product_name} HTML5 Remote Console') % {:product_name => Vmdb::Appliance.PRODUCT_NAME}
    = miq_favicon_link_tag
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag '/custom.css'
    -# Load the required JS based on the console type
    = javascript_essential_dependencies
    = javascript_pack_tag("manageiq-ui-classic/remote_consoles/#{@console[:type]}.js")
  %body
    #remote-console{'data-url' => @console[:url], 'data-secret' => @console[:secret], 'data-is-vcloud' => @console[:is_vcloud], 'data-vmx' => @console[:vmx]}
    %footer.remote-console
      .pull-left
        %span#console-type.label.label-info= j @console[:type].upcase
        %span#connection-status.label.label-warning= _('Connecting')
      .pull-right
        - if @console[:type] == 'webmks'
          = select_tag(:keymap, options_for_select(VmwareConsoleHelper::KEYBOARD_LAYOUTS), :id => 'keymap')
        %button#ctrlaltdel.btn.btn-default{:title => _('Send CTRL+ALT+DEL')}
          %i.fa.fa-keyboard-o
        %button#fullscreen.btn.btn-default{:title => _('Toggle Fullscreen')}
          %i.fa.fa-arrows-alt

