= render :partial => 'layouts/doctype'
%html{:lang => I18n.locale.to_s.sub('-', '_')}
  %head
    %title
      = _('%{product_name} HTML5 Remote Console') % {:product_name => I18n.t('product.name')}
    = favicon_link_tag
    = stylesheet_link_tag 'application'
    -# Load the required JS based on the console type
    = javascript_include_tag 'jquery/dist/jquery.js', "remote_consoles/#{@console[:type]}"
    -# Css for the unified look & feel
    :css
      #remote-console {
        position: fixed;
        width: 100%;
        height: calc(100% - 30px) !important;
        overflow: auto;
      }
      footer {
        position: fixed;
        line-height: 30px;
        vertical-align: middle;
        height: 30px;
        width: 100%;
        top: calc(100% - 32px);
        padding-left: 0.2em;
        padding-right: 0.2em;
      }
    -# Handling the fullscreen button
    :javascript
      $(function () {
        $('#fullscreen').click(function () {
          switch(true) {
            case document.fullScreenEnabled:
              if (document.fullscreenElement) {
                document.exitFullscreen();
              } else {
                document.documentElement.requestFullscreen();
              }
              break;
            case document.webkitFullscreenEnabled:
              if (document.webkitFullscreenElement) {
                document.webkitExitFullscreen();
              } else {
                document.documentElement.webkitRequestFullscreen();
              }
              break;
            case document.mozFullScreenEnabled:
              if (document.mozFullScreenElement) {
                document.mozCancelFullScreen();
              } else {
                document.documentElement.mozRequestFullScreen();
              }
              break;
            case document.msFullscreenEnabled:
              if (document.msFullscreenElement) {
                document.msExitFullscreen();
              } else {
                document.documentElement.msRequestFullscreen();
              }
              break;
          }
        });

      });
  %body
    #remote-console{'data-url' => @console[:url], 'data-secret' => @console[:secret]}
    %footer
      .pull-left
        %span#console-type.label.label-info= @console[:type].upcase
        %span#connection-status.label.label-warning Connecting
      .pull-right
        %button#ctrlaltdel.btn.btn-default{:title => _('Send CTRL+ALT+DEL')}
          %i.fa.fa-keyboard-o
        %button#fullscreen.btn.btn-default{:title => _('Toggle Fullscreen')}
          %i.fa.fa-arrows-alt
