= render :partial => 'layouts/doctype'
%html.layout-pf.layout-pf-fixed.transitions{:lang => I18n.locale.to_s.sub('-', '_')}
  %head
    %title
      = "%{product}: %{title}" % {:product => Vmdb::Appliance.PRODUCT_NAME, :title => @report.title}
    = favicon_link_tag
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag '/custom.css'
    = javascript_include_tag 'application'
    - if Rails.env.development?
      = javascript_include_tag 'miq_debug'
      = stylesheet_link_tag 'miq_debug'
    = render :partial => 'layouts/i18n_js'
  %body{:style => "overflow: scroll; padding: 0 20px 0 20px !important"}
    = yield
