%html
  %head
    = stylesheet_link_tag 'pdf_summary', :media => 'all'
    :javascript
      window.__ = function (data) { return data };
    = javascript_include_tag 'application', :media => 'all'
    = javascript_common_packs
    %style
      @media all { @page { size: #{pdf_page_size_style}; } }
  %body
    - controller = %w(miq_template vm_infra vm_or_template vm).include?(controller_name) ? "vm_common" : controller_name
    .quadicon
      = render :partial => 'shared/quadicon', :locals => {:record => @record}
    %h1.center=@options[:title]
    - if @record.kind_of?(ConfigurationProfile)
      = render :partial => "#{controller}/main_configuration_profile"
    - elsif @record.kind_of?(ManageIQ::Providers::AutomationManager::InventoryGroup)
      = render :partial => "#{controller}/main_inventory_group"
    - elsif @record.kind_of?(ManageIQ::Providers::AutomationManager::ConfigurationScript)
      = render :partial => "#{controller}/configuration_script"
    - else
      = render :partial => "layouts/textual_groups_generic"
    .center=@options[:run_date]

    :javascript
      document.addEventListener('DOMContentLoaded', function() {
        window.setTimeout(function() {
          window.print();
        });
      });

      window.onafterprint = function() {
        window.close();
      };
